[2016-12-15 17:12] bkdotcom commented on #253
how about:

`array_walk($values, $this->baz');`

still results in "Avoid unused private methods such as 'baz'"

[2016-12-15 22:36] yoosefi commented on #253
That will try to look up `baz` as a property, which doesn't exist.

[2016-12-16 16:48] ravage84 commented on #425
I'll discuss that with @manuelpichler
We are in no rush. Thanks

[2016-12-16 16:48] #425 closed

[2016-12-16 19:40] bkdotcom commented on #253
d'oh.   My bad.  I had just gone from using an anonymous function as my callback and didn't realize the code hadn't been tested since converting to a method.

Seems like when, in the context of a callback, PHP should (insert magic here) fallback and check if  `$this->baz` is a method

[2016-12-16 23:47] yoosefi commented on #253
PHP internally separates methods and properties, which is why it's not illegal to have a property and method share a name,

You can implement `__call()` to check for callable properties, but otherwise, yeah, it'd be nice but oh well.

[2016-12-17 06:54] haoliang-gao opened #428 "2.5.0 not support some php7.0.* new features: `...`, `use a\{B,C}`"
Hi, Guys.
I am currently using php 7.0.12, phpmd 2.5.0 and vim + syntastic, and I heavily relied on phpmd.

Will you supports those php7 new features ?
[code]
Actually code is
[code]

[code]
Actually code is
[code]

[2016-12-19 10:55] ravage84 commented on #428
This should be fixed in Pdepend

[2016-12-19 10:55] #428 closed

[2016-12-20 09:56] torkiljohnsen commented on #327
One year later, this is still an issue in PHPMD. Are there any related pdepend issue for this?

[2016-12-20 10:48] ravage84 commented on #327
@torkiljohnsen haven't found any. Pleas open one and link it with this issue. Thanks.

[2016-12-21 10:28] martin-edelmann opened #430 "phpmd cannot run with parameters"
I'm trying to integrate phpmd to run with PhpStorm, alas I'm getting the following error consistently:

I found the error on [Stack Overflow](http://stackoverflow.com/questions/39074342/phpmd-cannot-run-with-parameters), but none of the solutions there would fix the problem.
I'm using PHP 5.6, phpmd 1.5.1 and PhpStorm 2016.3.1. I already tried maxing the tool process timeout, and I'm not using XDe

[2016-12-21 21:50] exploitfate commented on #430
Hi Martin,
Did you [mark directories](https://www.jetbrains.com/help/phpstorm/2016.2/configuring-folders-within-a-content-root.html)?

[2016-12-22 09:58] martin-edelmann commented on #430
Hey,
thx for the answer. But no, I did not mark any directories.
I did configure phpmd as a PhpStorm inspection though, as described [here](https://confluence.jetbrains.com/display/PhpStorm/PHP+Mess+Detector+in+PhpStorm). So the error is triggered when I save changes in my php class.
I should add that I can run phpmd without error and expected results by running it from the command line against my

[2016-12-22 12:53] ravage84 commented on #430
phpmd 1.5.1, really?

[2016-12-22 13:40] martin-edelmann commented on #430
Yes, as per my composer.lock:
![image](https://cloud.githubusercontent.com/assets/17160634/21427367/79136c7a-c854-11e6-8e23-aaaf1b22b584.png)

Is there something I'm not getting here...?!

[2016-12-22 13:46] ravage84 commented on #430
This version is not supported anymore, please use a more current version, e.g. 2.5.0.

[2016-12-22 15:13] martin-edelmann commented on #430
Oh shoot, that happens when you follow a documentation to the letter...
Alright, did the update to 2.5, and unfortunately the error still persists with the exact same error message...

[2016-12-23 15:06] ravage84 commented on #430
@martin-edelmann though I also use PhpStorm, I normally use PHPMD only through the CLI or our Continuous Integration system (Jenkins).

But I just configured and checked one of our apps successfully without getting any errors.

I'm going to close this, as I think it's a local configuration issue.
Feel free to get in touch with me through mail or Skype (I speak German by the way).

[2016-12-23 15:06] #430 closed

[2016-12-26 09:51] bandanh commented on #336
@mechagear was right, bz2 was missing
[code]
Fixed it for me

[2016-12-27 21:26] bkdotcom opened #431 "feature request: test if passing expression to empty()"
http://us3.php.net/manual/en/function.empty.php

would it be possible to test if an expression is being passed to empty()?

but still allow vars/properties such as `empty(Yii::app()->user->id)` and `empty(self::$myProperty)`

unit-testing *should* catch `empty(getSomeValue())` from going to prod in a 5.4 environment... we all have unit-testing right?  ☺

[2016-12-28 09:56] roukmoute opened #432 "static using private method"
Hi!

I think I have a bug about the rule `UnusedPrivateField` with creating a class with `static` word.

Here is an example:

[code]

And here is the error message:

[code]

I think it's related with https://github.com/phpmd/phpmd/issues/170

[2017-01-05 16:59] ravage84 commented on #431
Hi @bkdotcom

Unfortunately, we cannot test on that as PHPMD is a static code analysis tool. We do not execute the code and getting the information out of the code examples you provided, would depend on executing the code.

[2017-01-05 16:59] #431 closed

[2017-01-05 17:02] ravage84 commented on #54
Closing as we probably won't be able to implement that any time soon.

[2017-01-05 17:02] #54 closed

[2017-01-05 17:04] ravage84 commented on #432
Probably more related to #54

And I guess the problem here is the same.
We cannot know what type ``$position`` is of.

Also, this should probably be implemented in pdepend, as PHPMD depends on it for such analysis.

[2017-01-05 17:04] #432 closed

[2017-01-06 00:09] roukmoute opened #433 "Mistake in documentation on CyclomaticComplexity page?"
In your example on this [page](https://phpmd.org/rules/codesize.html#cyclomaticcomplexity), you count `default` in conditional statements.

But it should not be, like `else` or `try`.
The assumption is that all three statements will contain the default execution.

Is it normal in PHPMD or is it a small mistake?

Thanks :)

--- EDIT
Oh and in fact, with your example, phpmd give me 11 :)
[code]

[2017-01-06 10:22] torkiljohnsen commented on #327
🎉  👍

[2017-01-06 10:53] PierreLvx commented on #327
Just tested here. I am afraid this is only a partial fix.

We no longer have issues with files using a single group use declaration. However, with more than one group there comes the `Unexpected token` again.

Unfortunately, I don't have the time to dig deeper right now.

[2017-01-06 11:41] manuelpichler commented on #327
@PierreLvx could you please provide example code that fails?

[2017-01-06 13:28] #394 closed

[2017-01-06 15:59] bkdotcom commented on #431
Don't mistake my request as a request to catch runtime errors like
[code]

Nor am I expecting phpmd to catch undefined property/method type runtime errors.

If a visual code inspection _(static analysis performed by human)_ can determine validity then static analysis performed by algorithm should be able to as well

I don't know what type of static analysis tools are at our disposal.
This is likel

[2017-01-06 16:12] ravage84 commented on #431
Good point and I tend to say it is not as it is quite an edge case.

A fair code coverage by unit tests will save your ass way better than phpmd could.

[2017-01-07 23:42] #433 closed

[2017-01-11 15:21] PierreRambaud commented on #94
+1

[2017-01-11 16:53] PierreLvx commented on #327
We narrowed it down to one package (https://github.com/stripe/stripe-php), which we use with Laravel 5.

If we do :

[code]

The tests fail.

Actually, any of the following use statement will fail :

[code]

However, something like this will pass :

[code]

[2017-01-11 17:35] manuelpichler commented on #327
@PierreLvx thx for this reproducible, I will investigate asap.

[2017-01-13 09:22] ondrejfuhrer opened #434 "Unexpected token: print"
Hello,

when I have a method called `print` on my class (`static`) in my case I am getting
[code]

FIle:
[code]

Versions:
**PHPMD**: 2.5.0
**PDepend**: 2.2.4
**PHP**: PHP 7.0.14-1~dotdeb+8.1

[2017-01-13 09:33] ondrejfuhrer commented on #434
I found out that the **PDepend** version is quite old, after upgrade to **2.4.1** it seems fine.

[2017-01-13 09:33] #434 closed

[2017-01-16 12:38] bweston92 commented on #279
Any updates?

[2017-01-16 12:50] manuelpichler commented on #279
This is implemented in the latest pdepend versiuon and will be available with hte next release of phpmd

[2017-01-16 12:50] bweston92 commented on #279
Thanks, will close.

[2017-01-16 12:50] #279 closed

[2017-01-16 14:02] quentincurtet opened #435 "Can't find ruleset"
Hi,

In my project i run that command :
phpmd myFile.php xml .\bin\php\phpmd.xml --suffixes php

And the output is : Cannot find specified rule-set "rulesets/naming.xml".

I have the latest stable version and i use it via composer in my project.

Thanks for your help

[2017-01-16 14:04] quentincurtet commented on #435
Here is my file phpmd.xml
[code]

[2017-01-16 14:45] #327 closed

[2017-01-18 11:24] ravage84 commented on #435
Are you sure you are callling the composer installed version of phpmd?

Try to call it with vendor\phpmd.bat [your parameters].

Also try to reproduce your problem with the most mimimal setup possible.

[2017-01-18 13:27] quentincurtet commented on #435
It works by calling it from the vendor !

Thanks.

[2017-01-18 13:27] #435 closed

[2017-01-20 14:31] manuelpichler commented on #384
Fixed with commit 1c0afd4

[2017-01-20 14:31] #384 closed

[2017-01-20 14:33] manuelpichler commented on #55
Should be closed within the latest release

[2017-01-20 14:33] #55 closed

[2017-01-20 14:35] manuelpichler commented on #345
Works in the latest version that will be release today.

[2017-01-24 15:11] cormacparle opened #436 "const visibility keywords causing error (php 7.1)"
The following php 7.1 code

    <?php

    class SomeClass
    {
        private const SOME_CONST = 1;
        private $someVariable;

        public function __construct($someVariable)
        {
                $this->someVariable = $someVariable;
        }
    }

gives me an error

    phpmd test.php text cleancode
    /var/data/www/users/xxx/test.php       -       Unexpected token: const, line:

[2017-01-25 10:52] ravage84 commented on #436
This needs to be fixed in Pdepend. Can you open an issue there, please? May be check first, if it's already known.

[2017-01-29 22:31] xeagle2 opened #437 "Unable to parse file /PDepend/DependencyInjection/../../../resources\services.xml"
Windows 10
PHP 5.6.28 (cli) (built: Nov  9 2016 06:40:27)

The following error is thrown when the phpmd.phar 2.6.0 is launched
Unable to parse file "phar://C:/phpmd-2.6.0.phar/vendor/pdepend/pdepend/src/main/php/PDepend/DependencyInjection/../../../resources\services.xml".

The version phpmd.phar 2.5.0 works without this issue.

[2017-01-30 16:09] ravage84 commented on #437
Thanks @xeagle2 .
Could you please report this issue to [pedepend](https://github.com/pdepend/pdepend)?

[2017-01-30 20:07] xeagle2 commented on #437
Posted to https://github.com/pdepend/pdepend/issues/296

[2017-01-31 07:02] manuelpichler commented on #437
Has anyone else with Windows the same problem? I cannot reproduce this behavior under Linux.

[2017-01-31 07:55] xeagle2 commented on #437
I don't think it is reproducible in Linux, such kind of the issues happen basically under Windows only.

[2017-02-03 15:09] bskridaila commented on #421
Good day for all.

The problem still exists - Unexpected token: NEW
phpmd - 2.6.0
pdepend - 2.5.0

Although. It is written:
PHPMD on PDepend 2.5 which should complete support for PHP 7 language features

Thanks

[2017-02-06 06:11] manuelpichler commented on #421
@bskridaila can you please provide an example, because I have no clue where we fobrid NEW. E.g. the following example works:

[code]

[2017-02-06 07:37] bskridaila commented on #421
Sure.

It seems a problem then, for a variable you try to set a value from a constant, e.g. modified example from above:

[code]

or another case, just tried:

`const PREVIOUS_STATUS = Old::NEW; // this also will show the same error regarding NEW`

Thanks

[2017-02-07 10:41] pmiroslawski opened #438 "yield keyword"
I get this when I want to run a phpmd (PHPMD 2.6.0):
Unexpected token: yield from

Generators:
http://php.net/manual/pl/language.generators.syntax.php

[2017-02-13 09:33] adamcameron opened #440 "Feature req: add exception white-lists to all rules"
Some rules don't support exceptions. A one-off fix for `UnusedLocalVariable` is awaiting merging (https://github.com/phpmd/phpmd/pull/329), but I think rather than dealing on a case-by-case basis, the facility ought to be applied to all rules.

A case in point is that we need to whitelist `$_` as an `UnusedLocalVariable` too, for the reasons cited in the original (closed) issue (https://github.com

[2017-02-13 11:21] ravage84 commented on #440
Hi @adamcameron

Thank you for your feature request.

I'm not against it, though we have to think this through, first.

Could you do me a favor?
Could you add a table of all rules here with three infos: Name, whether the rule already supports an execption white-list and in what way it does or in what way it should do so.

Example:

Rule Name | Supports Exceptions | How
----------- | --------------

[2017-02-13 11:24] adamcameron commented on #440
Sure thing. I'm on the clock slightly today, and then out of circulation for a coupla days, but will get onto it as soon as I can.

[2017-02-13 11:54] ravage84 commented on #440
No problem. Take your time. Thanks!

[2017-02-16 02:02] wilcorrea opened #441 "Supress Warning on function"
Hey guys, I am adding @SuppressWarnings in a function and is not working.

Sugestions to workaround?

Can I add that exception in xml? If yes, where can I see about?

-----
Editor
![Editor](https://snag.gy/fj5SYi.jpg)

-----
Terminal
![Terminal](https://snag.gy/7veJVc.jpg)

[2017-02-16 13:00] ravage84 commented on #441
Hi @wilcorrea

Can you try it with ``@SuppressWarnings(PHPMD.CyclomaticComplexity)``, please?

Thanks

[2017-02-16 13:20] wilcorrea commented on #441
@ravage84 thanks for response!

The version of phpmd.phar here is PHPMD 2.6.0 and after change and re-inspect the source the same warning is shown.

![image](https://cloud.githubusercontent.com/assets/803733/23022771/b905dadc-f439-11e6-8e61-ad954c7cb169.png)

[2017-02-16 13:28] wilcorrea commented on #441
I did a simple test right now and removed the `if (function_exists)` above the function declaration and the suppress did work.

Can it be a limitation of the tool?

[2017-02-16 13:59] ravage84 commented on #441
@wilcorrea thanks for your feedback.

I'm not sure if it's a limitation.
Could you inspect this file using your current PHPMD settings but through the CLI isntead of using it through PhpStorm?

[2017-02-17 12:09] wilcorrea commented on #441
Here is the output @ravage84
[code]
Well, thanks a lot for attention!

I will fix the functions what are under a test if there is another created with same name. The suppress annotation is not being read in that situation and how is this file is my bootstraping I will need see about the impacts of remove the if ; )

[2017-02-17 12:09] #441 closed

[2017-02-24 15:11] john-whitley opened #442 "UnusedLocalVariable test fails to detect compound variables within a string"
Hi,

Thank you for phpmd - it's an awesome tool!

I think we have found a use case that phpmd fails to detect a valid use of a variable when the variable is used only as a compound variable within a string.

[code]

At our company we would prefer to use compound variables within a string (e.g. `"${bar}_me"`), rather than string concatenation (e.g. `$bar . '_me'`) and it would be nice to be able to

[2017-02-27 12:35] mikepmtl commented on #94
Part of our Jenkins build process.  No idea if it is running or not.  Even just a "." would be nice.
Thank you.

[2017-03-03 02:42] JoryHogeveen opened #444 "@SuppressWarnings does not work if the class is within an if statement"
I'm using CodeClimate to check my code and I've added a `@SuppressWarnings` to one of my classes that is wrapped in an `if` statement (`class_exists()`).
This if statement causes the warnings to be displayed anyway.

[2017-03-03 15:32] ravage84 commented on #444
Same as #441

[2017-03-03 16:18] JoryHogeveen commented on #444
Ah, yeah correct!

[2017-03-08 22:18] Yousha opened #445 "PHP Warning: ini_restore() has been disabled for security reasons..."
Just used **phpmd.phar** **2.6.0** in my project and got these errors:

[code]

x64 based system, Windows 7 64bit, PHP 5.6 64bit

[2017-03-14 09:43] chilion commented on #345
Any clue when this will be fixed? Our builds are not failing while they should now :octocat:

[2017-03-14 12:52] ravage84 commented on #345
@chilion have you updated PHPMD and PDepend to the newest version? With which version of these tools are you seeing this issue, still?

[2017-03-14 13:46] chilion commented on #345
@ravage84 phpmd version 2.6.0 && pdepend version 2.5.0

[2017-03-16 11:42] pdenooijer commented on #279
Updating pdepend/pdepend will fix the problem.

[2017-03-21 15:52] JulienPalard opened #446 "UnusedLocalVariable false negative on double use."
The following reports two UnusedLocalVariable, which is right:
[code]
But this one reports no error, which is wrong:

[code]

[2017-03-23 18:23] ravage84 opened #456 "Integrate the Scrutinizer CI"
https://scrutinizer-ci.com/

https://github.com/phpmd/phpmd/pull/452#issuecomment-288815960

[2017-03-23 18:28] ravage84 opened #457 "Integrate the Stickler CI"
https://stickler-ci.com/

https://github.com/phpmd/phpmd/pull/453#issuecomment-288817659

[2017-03-23 19:09] #457 closed

[2017-03-23 19:10] ravage84 commented on #456
Stupid me, this [already happened](https://github.com/phpmd/phpmd/commit/2b368a2e6bb750e896afceadfa3f46bb7f4e74d4).

[2017-03-23 19:10] #456 closed

[2017-03-28 07:50] fidraj opened #462 "Multiple Catches Support"
Multiple catches were introduced in PHP 7.1. https://wiki.php.net/rfc/multiple-catch

PHPMD evaluates following code as invalid:

[code]

With error:

```Unexpected token: |```

[2017-03-28 10:15] ravage84 commented on #462
it's very likely, that this needs to be fixed in [Pdepend](/pdepend/pdepend).

[2017-03-28 10:35] fidraj commented on #462
Thanks. I thought so. I'm opening an issue there too.

[2017-04-01 16:20] jdufresne commented on #371
Is this resolved by #443?

[2017-04-04 13:07] ravage84 commented on #371
Yes, it should.

[2017-04-04 13:07] #371 closed

[2017-04-09 09:13] sntulix opened #463 "output nothing."
- environment
  - PHP 5.5.9-1ubuntu4.21 (cli)
  - phpmd 2.6.0

- file: xyz.php (http://qiita.com/yuji0602/items/28b0c2363bae8fce055a)
[code]

- command
  - vendor/bin/phpmd xyz.php text vendor/phpmd/phpmd/src/main/resources/rulesets/controversial

- return code
  - 0

Why?
What I should do?

Best Regards.

[2017-04-10 13:39] ravage84 commented on #463
Hi @sntulix

Unfortunately, I cannot reproduce your problem.

[code]

[2017-04-11 08:47] sntulix commented on #463
Hi @ravage84

No big deal, Thank you for your assemblage.

[2017-04-14 13:46] pawel-baster opened #464 "declaring method return type as "void" increases number of dependencies"
How to reproduce:
1) Use phpmd with CouplingBetweenObjects rule to analyse a file containing:
`public function setPublishDate(DateTime $publishDate) { ... }`
2) repeat after changing method declaration to include void return type:
`public function setPublishDate(DateTime $publishDate) : void { ... }`

Expected behaviour:
Coupling between objects value is the same for both versions of the file.

Ac

[2017-04-18 10:53] ravage84 commented on #464
@manuelpichler I guess this needs to be fixed in pdepend...

[2017-04-20 13:35] Garbee opened #465 "Unexpected token error calling invokable property"
**Version**: `2.6.0`

PHPMD currently throws an "unexpected token" exception when you are calling an invokable object that is a property of a class. In the sample files below, the error is thrown from the `index` method of the `Controller` class where the call is being made. It seems to be because the syntax isn't being handled properly within PHPMD. Other tooling such as PHPStan, PHPStorm, and PH

[2017-04-20 19:30] ravage84 commented on #465
Probably a bug in [Pdepend](https://github.com/pdepend/pdepend), please report the bug there.

[2017-04-20 20:14] Garbee commented on #465
Didn't see an existing issue or anything close to this syntax for one. Opened [issue 301](https://github.com/pdepend/pdepend/issues/301) there. Thank you!

[2017-04-22 16:58] orlangur commented on #94
I don't think this is a valid use case :) The problem here is that some project-wide inspections are waaay too slow. Maybe 10 minutes is too strict for build to complete but it should not take hours.

Is PHPMD currently optimal in terms of computational complexity? Some `O(N*N)` where N is lines of code in project?`

[2017-04-24 11:52] kenguest commented on #407
Hi - has this seen light of day into a release yet? I'd love to have something automatic to lambast people over writing empty catch blocks :-)

[2017-04-24 11:53] ravage84 commented on #407
@kenguest not yet, sorry. See #408

[2017-04-24 13:13] kenguest commented on #407
hi @ravage84  - thanks for such a quick response, much appreciated.

[2017-04-25 18:15] poisa commented on #325
I was about to report this also when I realized that you have to aactually *do* something with the variable inside the closure for phpmd to remove the warning. `use()`ing it alone won't do. For example:

[code]

[2017-04-26 13:40] ravage84 commented on #325
Thank you very much @poisa.

@zhoffman-ku & @rocketlatotzky I'm going to close this. If you have a code example that contradicts with what @poisa reported, we can re-open the issue.

[2017-04-26 13:40] #325 closed

[2017-04-29 14:35] rzajac opened #466 "UnusedLocalVariable triggered when ignoring exec $output to get $return_value"
In example below there is not way to get to $retVal without providing $output which I'm not interested in.

[code]

[2017-05-09 11:41] cgalvarez opened #467 "Duplicated issues"
I found duplicated issues, specifically for the rule `CamelCaseParameterName` (don't know if it happens with other rules), due to non-specific `beginline` and `endline` attributes. Maybe it's related to #223, but the errors reported in that issue are different.

Reproducible steps:

1. Create a PHP file `test.php` with these contents:
[code]
2. Execute `phpmd test.php xml controversial`. You get t

[2017-05-09 16:17] ravage84 commented on #467
Either it should show each line separately with the correct ``beginline`` and ``endline`` set or it should only be displayed once for the whole function.

[2017-05-10 11:49] dakorpar opened #468 "Bug: wrongly calculated children count"
My build on circleci is failing because:

`/home/ubuntu/project/app/Modules/Api/Responses/Response.php:5	The class Response has 12 children. Consider to rebalance this class hierarchy to keep number of children under 10.`

and this is /home/ubuntu/project/app/Modules/Api/Responses/Response.php:
[code]

[2017-05-10 12:01] pointlessone commented on #467
It seems the issue is reported on the [wrong node](https://github.com/phpmd/phpmd/blob/bdefdd462ccfa892f9050a712a7ab4ed5f7178b0/src/main/php/PHPMD/Rule/Controversial/CamelCaseVariableName.php#L101). The whole function node instead of just the variable node.

[2017-05-26 12:45] dakorpar commented on #468
I've figured out what the problem is...
I believe phpmd ignores namespaces and uses just class name and since I have multiple classes with same name in different namespaces phpmd shows full sum and displays error...

[2017-05-26 13:39] eeree commented on #445
It's not a bug. Just remove the **ini_restore** string from the **disable_functions** at **php.ini*** file

[2017-05-26 15:07] Yousha commented on #445
IK, I meant it should be handled by using `function_exists`

[2017-05-26 15:07] #445 closed

[2017-05-26 15:36] ravage84 commented on #468
@dakorpar thanks for coming back to this.
Could you produce a mimimal reproducable test environment to verify this?

@manuelpichler could this be something in Pdepend?

[2017-06-01 10:21] withwind8 commented on #185
STDIN has been implemented in the upstream.    [Support stdin #262](https://github.com/pdepend/pdepend/pull/262)
Specify '-' or 'php://stdin' as filename to use STDIN.

But it was broken now. (By [Apply the filter on files as well #231](https://github.com/pdepend/pdepend/pull/231))

Maybe I will submit a PR to fix it later.

[2017-06-01 11:25] ravage84 commented on #185
@withwind8 that would be cool 👍

[2017-06-01 16:31] ravage84 opened #473 "Put down Support for HHVM"
In the recent weeks the PHP community actively talked about stopping to support HHVM for various reasons.

https://derickrethans.nl/mongodb-hhvm.html
https://twitter.com/s_bergmann/status/867338003567521792
https://twitter.com/symfony/status/866920469198512128
https://twitter.com/fabpot/status/865263458903875584
https://twitter.com/lcobucci/status/865081210128793601
https://github.com/doctrine/doc

[2017-06-01 16:33] ravage84 commented on #473
Related https://github.com/phpmd/phpmd/pull/472#issuecomment-305482605

[2017-06-01 16:37] eeree commented on #473
I'm in. It will fix TravisCI issues project has right now.

[2017-06-02 13:51] #393 closed

[2017-06-02 15:15] eeree commented on #110
@ravage84 to be closed (https://github.com/phpmd/phpmd/issues/475)

[2017-06-02 15:18] ravage84 commented on #110
Thanks, just noticed. Closing.

[2017-06-02 15:18] #110 closed

[2017-06-02 16:39] ravage84 commented on #473
Merged the PR, as the build failures were getting on my nerves.

[2017-06-02 17:05] ravage84 commented on #288
I'm going to close this as I will try to improve the docs as a first step.

For interested parties, here is [an article](http://williamdurand.fr/2013/06/03/object-calisthenics/#2-dont-use-the-else-keyword) why else clauses are bad and what alternatives you have, though it certainly does not cover everything.

[2017-06-02 17:05] #288 closed

[2017-06-02 21:42] #206 closed

[2017-06-02 22:07] ravage84 commented on #440
@adamcameron could you give me hand on this?

[2017-06-02 23:06] ravage84 commented on #251
@JeroenDeDauw though I closed your PR, here some other thoughts on your issue:

I guess the actual "problem" is that you use no valid naming style. ``testGivenInvalidLanguage_exceptionIsThrown`` is simply not a widely accepted way of naming methods. Think of it, nobody gave it a name yet. It's not a standard, yet.

The fact, that PHPMD might also does stuff it's not 100 % made for (checking method

[2017-06-02 23:06] #251 closed

[2017-06-02 23:43] #407 closed

[2017-06-03 00:45] ravage84 commented on #174
Closing as I don't see this being done in a proper way. With static analysis, which is what PHPMD is, you have quite limited possibilities. Also PHP being a weekly typed language with its dynamic calling capabilities being used quite often, doesn't make it easier.
I'd rather implement this in a runtime analysis tool. Such as NewRelic.

If any of you guys are still interested in implementing this.

[2017-06-03 00:45] #174 closed

[2017-06-03 01:02] ravage84 commented on #149
I think what you are looking for is multiple ruleset configuration per file set within a project.

This could be done in many ways. I see to viable ways:

1. Configuration per file/class, with inheritance from superclasses. For examle, you set the maximum allowed count of public methods to 12 in AppController, which all Controllers base upon. All Controllers now have this set to 12, except you ove

[2017-06-03 01:13] ravage84 commented on #180
Looking at this again, I still think this would be the best solution.

Alternatively, it could go in the direction described in https://github.com/phpmd/phpmd/issues/149#issuecomment-305939769.

Moving this issue to Future, though.

[2017-06-03 01:53] ravage84 commented on #224
Should be fixed in PHPMD 2.6.0:
![compact](https://cloud.githubusercontent.com/assets/625761/26749670/1d5f8b98-4810-11e7-87b4-73d91dedfcbb.png)

[2017-06-03 01:53] #224 closed

[2017-06-03 01:54] ravage84 commented on #187
With PHPMD 2.6.0, in PhpStorm 2017.1.4:

``$user`` used normally, neither complains:
![unusedlocalvariableusednormally](https://cloud.githubusercontent.com/assets/625761/26749498/cf1feffc-480c-11e7-81e8-22a5bf5a6f4f.png)

``$user`` not used, PHPMD and PhpStorm display it as not used:
![unusedlocalvariablenotused](https://cloud.githubusercontent.com/assets/625761/26749509/08a44d18-480d-11e7-9f3c-bb

[2017-06-03 01:54] #187 closed

[2017-06-03 02:04] ravage84 commented on #38
Closing as it's a duplicate of https://github.com/phpmd/phpmd/issues/65

[2017-06-03 02:04] #38 closed

[2017-06-03 02:05] ravage84 commented on #446
I guess the reason for this behavior is mentioned in https://github.com/phpmd/phpmd/issues/65

[2017-06-03 02:08] ravage84 commented on #65
Moving to Future for now. If we are going to implement this, we can have a look at the proposed changes in https://github.com/phpmd/phpmd/pull/64/files.

[2017-06-03 02:12] ravage84 commented on #202
The way explained in https://github.com/phpmd/phpmd/issues/180#issuecomment-305940455 could be a viable solution in such cases. Moving to Future, though.

[2017-06-03 02:22] ravage84 commented on #42
Closing this as the ``optimization`` options seems to be deprecated by now:

https://github.com/pdepend/pdepend/blob/2.5.0/src/main/php/PDepend/TextUI/Command.php#L207

[2017-06-03 02:22] #42 closed

[2017-06-03 02:29] ravage84 commented on #403
According to https://phpmd.org/documentation/suppress-warnings.html you need to use double quotes.

Then it works:
![suppresswarningsquotes](https://cloud.githubusercontent.com/assets/625761/26749871/44c40b5a-4815-11e7-99ef-860bb8eafad9.png)

[2017-06-03 02:29] #403 closed

[2017-06-03 02:39] ravage84 commented on #391
Should be fixed by https://github.com/pdepend/pdepend/commit/e81411ffe38f8f54d72250a197454692aaaf2a8d. If the problem persits for you, please open an issue.

[2017-06-03 02:39] #391 closed

[2017-06-03 02:47] ravage84 commented on #390
Could be related to https://github.com/phpmd/phpmd/issues/446 or it could be because of the coalesce operator, though it should be fixed by now. Since I have no php 7 box at hand, I cannot confirm this.

@kamranahmedse do you still see this issue?

[2017-06-03 03:00] #392 closed

[2017-06-03 03:12] ravage84 commented on #413
Removed the link, but the GPL is from the WCV, I guess.

[2017-06-03 03:13] #413 closed

[2017-06-03 03:18] ravage84 commented on #339
We should document this properly, closing this one. Related #373

[2017-06-03 03:18] #339 closed

[2017-06-03 03:21] ravage84 commented on #336
We should document the bz2 requirement for the phar.

[2017-06-03 03:24] ravage84 commented on #307
Probably fixed by #443
Feel free to re-open this, if you still have this issue.

[2017-06-03 03:24] #307 closed

[2017-06-03 03:26] ravage84 commented on #276
Actually, I suspect a bug.

[2017-06-03 03:27] ravage84 commented on #314
Is there one? 😮

[2017-06-03 03:29] ravage84 commented on #302
Duplicate of #229

[2017-06-03 03:29] #302 closed

[2017-06-03 03:31] ravage84 commented on #57
Probably fixed through #443
Feel fre to re-open, if you still see this issue.

[2017-06-03 03:31] #57 closed

[2017-06-03 03:52] jhoff commented on #392
:+1:

[2017-06-03 11:03] JeroenDeDauw commented on #314
That is my guess, idk how you build you site

[2017-06-03 11:06] JeroenDeDauw commented on #251
Closed PR: https://github.com/phpmd/phpmd/pull/313

---

@ravage84 perhaps it's a bit premature to close this issue then?

IIRC we can already have the naming rule be ignored in tests, simply leaving us with no check for the names at all. Not been suing PHPMD for some time due to PHP 7 compat not being there, so I don't recall the details.

[2017-06-03 13:38] ravage84 commented on #251
Yes, one could simply exclude the test folder for some rules. So it's arguable if the ``ignore-in-tests`` property would of any use. That's why I did not create a new issue for it.

Feel free to re-open, though I think the question of this issue is quite specific. This specific that I think that it's not even a fitting task for PHPMD, but more one for PHPCS, because PHPCS is about style and - for

[2017-06-03 13:39] ravage84 commented on #251
By the way the PHP 7 compat should have been improved, as most issues were fixed in **Pdepend**.

[2017-06-03 16:16] JeroenDeDauw commented on #251
I think it's weird to have some naming convention rules and then not accept additions cause the tool is not about naming conventions.

People not part of the org cannot re-open tickets

[2017-06-03 21:16] ravage84 commented on #251
I see your point.  While I personally use the CamelCaseXyz rules myself and even extended some to add a missing feature, I feel we should not evolve _much_ further into this territory with PHPMD, as I think there are more fitting tools, such as PHPCS. This is my personal view, not sure how @manuelpichler feels about this. Mainly it his project, I came late to the show, when all those rules existed

[2017-06-05 09:48] adamcameron commented on #440
Ooh bugger... completely forgot about this. On the case. Sorry about the delay.

[2017-06-05 11:35] adamcameron commented on #440
| Rule Name | Supports Exceptions | How | Note |
| --- | --- | --- | --- |
| `BooleanArgumentFlag` | No | - | * |
| `ElseExpression` | No | - | * |
| `IfStatementAssignment` | No | - | * |
| `StaticAccess` | Yes | List of classes to ignore |
| `CyclomaticComplexity` | No | - | * |
| `NPathComplexity` | No | - | * |
| `ExcessiveMethodLength` | No | - | * |
| `ExcessiveClassLength` | No | - | * |
|

[2017-06-05 22:17] ravage84 commented on #440
Many thanks, @adamcameron !

So I'm cutting down your list to the relevant ones.

At first all the rules that support some kind of exceptions or vice versa, grouped by how the exceptions work.

| Rule Name | Supports Exceptions | How |
| --- | --- | --- |
| `DevelopmentCodeFragment` | Yes | unwanted-functions |
| `TooManyMethods` | Yes | ignorepattern |
| `TooManyPublicMethods` | Yes | ignorepatte

[2017-06-05 23:24] ravage84 opened #486 "New LongMethodName Rule"
At the moment, we have:
- ShortVariable: Detects when a field, local, or parameter has a very short name.
- LongVariable: Detects when a field, formal or local variable is declared with a long name.
- ShortMethodName: Detects when very short method names are used.

https://phpmd.org/rules/index.html#naming-rules

But we do not have a ``LongMethodName`` rule.

We should consider adding one, as an e

[2017-06-06 01:12] ravage84 opened #487 "Adjust Stickler CI configuration to not nag us over test files"
Either we should adjust the configuration of Stickler CI, so it ignores some CS rules for the test (resource) files or we ignore those files completly.

[2017-06-06 02:04] ravage84 commented on #440
Now to the list of rules, which _could_ benefit from having some kind of exceptions.

Some exceptions would only make sense, if you could configure them in a case to case situation (read class/method/funcition). Just like envisioned by https://github.com/phpmd/phpmd/issues/30.

Grouped  by how the exceptions work.

| Rule Name | How
| --- | ---|
| `Superglobals` | Unwanted list (current list = new

[2017-06-06 12:33] ravage84 opened #488 "Reconsider Authors/Contributors list"
After editing https://github.com/phpmd/phpmd/blob/2.6.0/AUTHORS.rst I noticed that it and the [People behind](https://phpmd.org/people-behind.html) page are totally outdated.

Even though commits aren't the only way one can contribute, most often the most active contributors are the ones with the most commits. Thus I would argue that we can scrap both lists and only link to the [contributor list](

[2017-06-11 18:10] #47 closed

[2017-06-12 00:23] #487 closed

[2017-06-14 09:35] vertexvaar opened #493 "Can not suppress LongVariable for single field"
PHPMD Version: 2.6.0

The following code is affected

[code]

**What happens**
phpmd reports "Avoid excessively long variable names like $authenticationService. Keep variable name length under 20."

**What should happen**
phpmd should take the SuppressWarnings annotation into account and ignore the length of the annotated field.

**Does it work somewhere else?**
When used in the Class DocBlock PHP

[2017-06-14 11:20] ravage84 commented on #493
I think we have some recent bug report about suppressions not working.

[2017-06-14 11:41] ravage84 commented on #493
We had a non-issue here: https://github.com/phpmd/phpmd/issues/403#issuecomment-305944808 plus an actual issue https://github.com/phpmd/phpmd/issues/409

I just fiddled around with your code example:

![phpmd-suppression-bug](https://user-images.githubusercontent.com/625761/27130545-018179cc-5107-11e7-98a5-1292cda25d89.png)

While the suppression in the property doc block does not work, it does wh

[2017-06-14 11:42] ravage84 commented on #409
Similar but not completyl same issue was mentioned in #493

[2017-06-14 11:50] #324 closed

[2017-06-14 13:34] eeree commented on #493
Actually it's not a bug. SuppressWarnings works per method, class, function or interface. You can apply it either to whole class, method, etc. Here you try to apply it to a single property, which cannot work as it has never been implemented. I'd either close it as unrelated either just mention in Docs, that suppressions works per scope, not per variable/property itself.

[2017-06-14 14:36] vertexvaar commented on #493
That's a pity, which makes this not a bug but definitely a missing feature.

[2017-06-14 15:26] ravage84 commented on #493
Actually this seems to be a simple case of documentation issue
https://phpmd.org/documentation/suppress-warnings.html

We are simply not clear enough how it works and what it provides (and what not).

[2017-06-14 21:15] eeree commented on #322
@ravage84 @wandersonwhcr
It's already implemented in https://github.com/phpmd/phpmd/pull/484

[2017-06-14 21:28] ravage84 commented on #322
Oh thanks. Forgot to close.

[2017-06-14 21:28] #322 closed

[2017-06-15 11:35] #409 closed

[2017-06-15 11:46] #401 closed

[2017-06-15 12:04] #442 closed

[2017-06-15 12:04] ravage84 commented on #442
Clsoging as related PR has been merged

[2017-06-17 10:37] schinkel commented on #401
Thank you 👍

[2017-06-23 12:18] eeree commented on #388
@ScreamingDev

Can you please provide an example?

[2017-06-24 18:21] ScreamingDev commented on #388
This is so old. I hope this example was the case I meant @eeree . I only wrote what's described and hope that helps.

[code]

[2017-06-27 15:28] MacSim75 commented on #493
@eeree It's not a bug but it should be a feature !!
I also met that case and I didn't wanted to suppress the warnings on the whole class just for 1 property which was inherited from another class that is not mine (Drupal 8 core)

[2017-06-27 15:54] MacSim75 opened #498 "Can't load external class"
I'm writing a custom rulesets for a Drupal 8 project in which I'd like to check if vars & params are in snake_case instead of camelCase.

On that project, PHPMD is added via composer and our /vendor repository has been gitignored.
That means I am not able to add anything new in this PHPMD directory.

Well so my files are in another directory and it seems that PHPMD is not able to autoload these cl

[2017-06-27 16:16] ravage84 commented on #498
That means I am not able to add anything new in this PHPMD directory.

It is perfectly fine not add anything to your vendor folder yourself.

Have you setup the autoloading in your project correctly by a) setting all necessary project specific namespaces and files in your composer.json and b) included Composer's autoloader?

https://getcomposer.org/doc/04-schema.md#autoload

[2017-06-28 08:47] MacSim75 commented on #498
Thank you really much @ravage84
I obviously forget to manage my namespace in my composer.json autoload section...
Problem solved !

`"autoload-dev": {
    "psr-4": {
      "snpphpmd\\": "scripts/snpphpmd/src/php"
    }
  }`

[2017-06-28 08:47] #498 closed

[2017-06-29 11:46] rhysr opened #499 "Cannot correctly suppress warnings on anonymous classes"
Using phpmd 2.0.16, I'm unable to correctly suppress warnings on anonymous classes

The following outputs
**Avoid unused local variables such as '$unused'.**
[code]

However, the following examples do not produce any errors

[code]
[code]

[2017-06-29 15:04] ravage84 commented on #499
Confirmed:

![unused_local_varaible_suppression_does_not_work_in_anonymous_class](https://user-images.githubusercontent.com/625761/27694632-edf5af4e-5cec-11e7-9c59-71164a40bc91.png)

[2017-06-30 08:07] SailorMax opened #500 "unused local variables in anonymous functions"
Can you add check unused local variables in anonymous functions?

Sample:
[code]

Expected:
[code]

Actual: no any warnings.

thank you.

[2017-06-30 08:11] SailorMax opened #501 "pdepend + php 7.2 = Warning: count(): Parameter must be an array or an object that implements Countable"
pdepend project is not very active, but your project use it => inform you about this problem:
https://github.com/pdepend/pdepend/issues/310

[2017-07-03 14:35] ravage84 commented on #501
Thank you. Must be resolved upstream.

[2017-07-03 14:35] #501 closed

[2017-07-03 14:41] ravage84 commented on #500
Confirmed.

[2017-07-18 18:50] YiiRocks opened #502 "Incorrect "Avoid unused private methods" issue"
Private functions called from preg_replace_callback_array are not recognized as being used. Therefor, an incorrect "Avoid unused private methods" issue will be created.

[2017-07-19 07:41] Torniojaws opened #503 "TooManyPublicMethods in PHPUnit test class"
I saw that ``get|set`` are ignored by default, but is there a reason why eg. PHPUnit tests (= methods starting with ``test``, eg. ``public function testMyFeature``) are not ignored? To get good coverage, there is a high chance that there will be 10+ methods in the unit test (or?).

You can of course create a custom ruleset, but I think this would make sense as a default?

[2017-07-19 11:47] ravage84 commented on #503
The only argument I see right now is that too many test methods in one test class _could_ be seen as a mess by itself, though I guess anybody with a decently sized test suite encounters this problem quite fast...

Also, too many tests in a test class covering one actual class _could_ be a hint that the class itself does too much or better said is too complex.

I'mt not totally against your proposa

[2017-07-21 09:49] SailorMax opened #504 "phpmd ignore SuppressWarnings(PHPMD.UnusedFormalParameter) inside functions"
sample code:
[code]

Expected: no warnings

Actual: `Avoid unused parameters such as '$a'.` for inlined function.

[2017-07-21 10:01] SailorMax opened #505 "phpmd ignore SuppressWarnings(PHPMD.UnusedFormalParameter) inside class"
[code]

Expected: no warnings

Actual: `Avoid unused parameters such as '$a'.` for Method2()

[2017-07-22 12:41] Thoulah commented on #502
Example code:

[code]

The private function `getVideo` is not recognized as being used.

[2017-07-25 06:03] thekabal opened #506 "Invalid field modifiers given, allowed modifiers are IS_PUBLIC, IS_PROTECTED, IS_PRIVATE and IS_STATIC"
With "phpmd/phpmd" : "^2.6.0", I now receive the error:

Invalid field modifiers given, allowed modifiers are IS_PUBLIC, IS_PROTECTED, IS_PRIVATE and IS_STATIC

It does not specify which file is triggering this error, and it did not produce this error roughly a month ago. Please advise on how to debug further to help?

[2017-07-25 06:37] thekabal commented on #506
After further examination, it appears this is due to a conflict of some kind with "squizlabs/PHP_CodeSniffer": "^3.0.2"

[2017-07-25 10:50] ravage84 commented on #506
Thanks for reporting.  Would you like to investigate further? If not, please close the issue.

By the way, you should not check your vendors anyway, as it is not your own code.

[2017-07-25 15:41] thekabal commented on #506
Re: Vendor code, agreed! I was unable to get --exclude working, for whatever reason, when I first reported the issue. Not to worry, it was entirely user error, because by the end of the night I managed to get that working also.

No further investigation required for me, I only had two instances of the null/array, and I've corrected them both. Just wanted you wonderful folks to be aware. Keep up th

[2017-07-25 15:41] #506 closed

[2017-07-25 16:51] thekabal opened #507 "callback arguments not being properly checked"
The error(s) read:

 ------ -----------------------------------------------------------------------------------------------------------------
  Line   classes/Smarty.php
 ------ -----------------------------------------------------------------------------------------------------------------
  37     Parameter #3 $callback of method Smarty_Internal_TemplateBase::registerPlugin() expects callback, s

[2017-07-26 03:06] thekabal commented on #507
I sincerely apologize, this was an error from phpstan, not phpmd. Sorry!

[2017-07-26 03:06] #507 closed

[2017-07-26 03:50] guoyu07 opened #508 "Uncaught Error: Call to undefined function PHPMD\simplexml_load_string() in phar:///usr/bin/phpmd/src/main/php/PHPMD/RuleSetFactory.php:551"
1.PHPMD version 2.6.0
2.issue
PHP Mess Detector
phpmd: PHP Fatal error:  Uncaught Error: Call to undefined function PHPMD\simplexml_load_string() in phar:///usr/bin/phpmd/src/main/php/PHPMD/RuleSetFactory.php:551
Stack trace:
#0 phar:///usr/bin/phpmd/src/main/php/PHPMD/PHPMD.php(208): PHPMD\RuleSetFactory->getIgnorePattern('codesize,contro...')
#1 phar:///usr/bin/phpmd/src/main/php/PHPMD/TextUI/Co

[2017-07-26 11:44] ravage84 commented on #508
Hello, thanks for reporting.

Most likely, you have [not loaded the PHP XML extension](http://ch1.php.net/manual/en/simplexml.installation.php), as ``simplexml_load_string()`` is [part of that extension](http://ch1.php.net/manual/en/function.simplexml-load-string.php).

[2017-07-26 17:15] ktomk commented on #502
I don't know if this requires a new ticket, but I can also confirm that private function use from a self::static_method() is not recognized either. I don't know what's common in this project, does this require a new issue?

[2017-07-27 01:35] ktomk commented on #503
Well if a class requires that many test methods, this is perhaps a good smell. I'm also not totally against the proposal but how to differ here?  Most likely, the report is useful to change the design. Maybe this limit can be configured?

[2017-07-27 01:47] ktomk commented on #503
Perhaps default limit should be seven (7), nine (9) or 12. Perhaps 12 is lax, but nine comes close and most likely is already violated. Perhaps 11 is a good fit for a default value in tests while seven (7) is a good for production? But then some differentiation between test and production need to be made,  Which is 9/10 which is already done.

[2017-07-27 10:38] ravage84 commented on #502
@ktomk no, it's not necessary. I think both issues can be worked on at once.

[2017-07-27 13:27] Torniojaws commented on #503
Mostly I'm thinking of the best practice of only one assert per test. The byproduct of this is a large amount of separate tests.

Consider this (silly) example:
[code]
Bad practice:
[code]
Good practice:
[code]
So just from a simple function, you already have 4 tests. Not to mention when your class has eg. 5 methods, where the other methods are even more complex than the above.

[2017-08-01 22:09] still-dreaming-1 opened #510 "Cannot suppress warnings"
phpmd does not honor suppressing warnings for methods

`phpmd ./pathToFile.php text unusedcode`

That will still show warnings even if the only method contained in the file tries to suppress them in a comment.

I am using PHPMD 2.6.0 and PHP 7.1.7.

[2017-08-01 22:13] still-dreaming-1 commented on #510
I created a better reproduce case: `phpmd ./pathToFile.php text unusedcode`
That will still show warnings even if the only method contained in the file tries to suppress them in a comment.

[2017-08-02 09:53] JulienBreux commented on #326
In GoLang: _ means throw away value.

[2017-08-02 11:20] ravage84 commented on #503
@Torniojaws I strongly disagree on this. With your (test) code, the amount of lines and especially the duplicated code explodes for no apparent reason.

I can agree that one shall not put coverage of all aspects of a function into one test but your example is on the opposite extreme of the scale. But again, if your code has so many different aspects, it might be a hint for another problem.

Also,

[2017-08-02 15:48] Torniojaws commented on #503
After some further reading on asserts, it appears that the "One assert per test" recommendation is more about one abstract assert, and not literal assert. So, it is okay to have multiple asserts in a single test, as long as they all test the same abstract assert.

[code]

Originally I thought the best practice meant that there should be a separate test for the value being an integer, and that the

[2017-08-06 16:23] jeblad commented on #437
A Vagrant box running Debian Jessie64 has the same problem, see pdepend/pdepend#296

[2017-08-07 13:29] jeblad opened #511 "Command line flag --ignore-violations-on-exit is not respected"
Installed phpmd/phpmd globally as "^2.6", and when I run the command from within composer with `--ignore-violations-on-exit` I still got
[code]

That is the exception is not catched, and the return value is still not zero.

[2017-08-10 07:15] mablo opened #512 "Unexpected token error - keys in list function"
In php 7.1 was added the ability to add keys in the list function (https://wiki.php.net/rfc/list_keys).

Example code:
[code]

Error:
```Unexpected token: 'foo', line: 4, col: 5, file: test.php.```

[2017-08-15 17:42] MichalJanicki opened #513 "@SuppressWarnings("design") not work?"
Hi,

I have one question about SuppressWarnings. In manual is written that to suppress all warnings from rule set just add such annotation `@SuppressWarnings("unused")`.

I have that class (code below) and when add annotatyion `@SuppressWarnings("unused")` and run command `php vendor/bin/phpmd ./../code/test/ text unusedcode,design` i get the following result:

`/code/test/test.php:18	The method u

[2017-08-16 08:29] adamcameron commented on #373
@JeroenDeDauw (/ @ravage84) that does actually seem to be the way it's been implemented. Comma-separated list does not work; separate elements does. Not sure this is for the best, but at least it ought to be documented thus.

[2017-08-16 09:26] roukmoute opened #514 "Change exit code when ParserException ?"
Actually many people have already reported problems with PHP 7.1.
Me too I've actually theses problems.

But I think the exit code must be 1, like describe in your [documentation](https://phpmd.org/documentation/index.html#exit-codes).

Here it is on this [line](https://github.com/phpmd/phpmd/blob/6adb91f7d574bf2c8a8f8bba53bdd37fa2d8d544/src/main/php/PHPMD/Parser.php#L97-L99), it add errors but it

[2017-08-16 10:40] ravage84 commented on #513
We got reports that the suppression dos not work in all cases, recently. It might be a bug. Thanks for reporting.

[2017-08-31 05:53] heiglandreas opened #515 "PHPMD complaining about UnusedFormalParameters when implementing an interface."
Currently PHPMD (as far as I can see it) complains about unused formal parameters when implementing an interface.

Given the interface declares a method ```public function foo ($bar, $baz);``` and my implementation only needs ```$bar``` to execute I will always see the ```Avoid unused parameters such as '$baz'.```-message.

Adding the ```@inheritdoc```-workaround is a… well… workaround and doesn'T

[2017-08-31 14:02] brunobg commented on #317
+1

[2017-09-01 14:22] MacSim75 commented on #424
Anything new here or should we @SuppressWarnings(PHPMD.UnusedLocalVariable) which is pretty ugly btw

[2017-09-01 15:31] ravage84 commented on #424
@marcelloh  & @MacSim75 have you both set the ``allow-unused-foreach-variables`` property to true for the UnusedLocalVariable rule? If so, how did you set it?

[2017-09-04 05:29] marcelloh commented on #424
[code]

[2017-09-07 15:17] ovcharenkovv opened #516 "Unexpected token: |"
In PHP 7.1 was added the ability catching multiple exception types (https://wiki.php.net/rfc/multiple-catch).

Example code:

[code]

Error:
`Unexpected token: |, line: x, col: y, file: z.`

[2017-09-07 15:33] cwilsontv opened #517 "Won't run when using design rule set."
This one is weird and I didn't see it elsewhere.

When using the design rule set I get an error and it closes. When I remove it, it works fine.

From Circle CI with design:
[code]
Without design:
[code]

Here is my CircleCI script:
[code]
composer.json
[code]

Everything is completely barebones, just a file, composer, and phpmd. The php file I point it at doesn't seem to matter either.

Same thing

[2017-09-12 16:54] cwilsontv commented on #517
This works if I make a custom xml ruleset.

[2017-09-12 16:54] #517 closed

[2017-09-13 07:56] shanavas786 opened #518 "Feature: Detect unused imports"
Detect unused imports like `Bar` in

[code]

[2017-09-13 08:55] dakorpar commented on #468
I missunterstood this rule. This rule says how many classes are extending current class and not number of properties and methods in it? Right?

[2017-09-14 08:15] richardbrinkman opened #519 "Unexpected token: ??"
PHP has introduced the ?? operator.
Example usage:
[code]
which is roughly equivalent to:
[code]

phpmd gives an `Unexpected token: ??` error when these new constructs are used.

[2017-09-15 01:25] mdeboer commented on #519
Are you sure you don't have two PHP versions installed? PHPMD could be run with an older version of PHP than your code is written in.

[2017-09-15 12:20] richardbrinkman commented on #519
Yes I'm sure I run only one PHP version (7.0.22).

Sample PHP file (test.php):
[code]

Command: `phpmd test.php text cleancode`

Output:
[code]

[2017-09-16 14:47] mdeboer commented on #519
What OS are you running? If you're on linux/OSX, can you post the output of: `env php -v`?

phpmd uses the php binary that's in your PATH and the only thing I can think of it's using a different version (pre 7.0).

[2017-09-17 17:37] richardbrinkman commented on #519
OS: lubuntu 16.04.03 (LTS)

env php -v:
[code]

[2017-09-19 11:26] SrihariThalla opened #520 "Malformed table in DevelopmentCodeFragment doc"
Hi,

The [Design Rules](https://phpmd.org/rules/design.html) doc has an error under `DevelopmentCodeFragment` table.

[code]

Regards!

[2017-09-22 11:23] ChristianSchaefer opened #521 "Feature Request: Support for phive"
Can you please provide phpmd for install with phive?

[2017-09-25 16:15] filipesperandio opened #522 "Error with "design" rule"
Error: `PHP Notice:  Trying to get property of non-object in .../phpmd/src/main/php/PHPMD/RuleSetFactory.php on line 556`

Command: `phpmd /code_dir text design`

It happens when analyzing this project: https://github.com/supernova-ws/SuperNova

[2017-10-11 10:52] ravage84 commented on #515
@heiglandreas so your suggestion is to never check for unused parameters when the class is implementing an abstract method?

This would certainly generate lots of blind spots. Selectively [suppressing the warning](https://phpmd.org/documentation/suppress-warnings.html) would be a better fit, I guess.

[2017-10-11 11:03] heiglandreas commented on #515
I‘d only skip the check when a function implements an abstract method. That should never create a blind spot as the definition of the method signature has been done elsewhere and the concrete implementation is merely an implememtation detail.

Suppressing the warning might be a nice workaround, but as the issue is that the definition of the method signature was done somewhere else where I don‘t ha

[2017-10-11 11:40] ajax13 opened #526 ""PHP Notice: Use of undefined constant T_CHARACTER" Persists"
I have notice that you fix this issue since V2.3.3 as described here #338
Unfortunately, I have got the same problem for V2.5.0 as well.

#Error message:
[code]
#Environment
$ php -v
PHP 7.0.22-0ubuntu0.16.04.1 (cli) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.0.22-0ubuntu0.16.04.1, Copyright (c) 1999-2017, by

[2017-10-11 12:41] ravage84 commented on #515
The unused parameter rule does not inspect the definition but the usage of a method and its signature.
If you have a method but do not use one of its parameter then that can be a hint that you have a bad or at least a too general design. Often this happens with classes/methods from frameworks.
Thus ignoring unused parameters in methods that implement an abstract method will still lead to blind spo

[2017-10-11 13:21] ravage84 commented on #516
Which version of PHPMD and Pdepend have you used?

[2017-10-11 13:22] ravage84 commented on #516
This is probably due to missing support for PHP 7.1 in Pdepend.

[2017-10-12 08:57] duncancumming opened #527 "LongVariable rule should apply on private variables"
Currently the LongVariable rule skips private variables:
https://github.com/phpmd/phpmd/blob/master/src/main/php/PHPMD/Rule/Naming/LongVariable.php#L55

The ShortVariable rule doesn't do the same.
https://github.com/phpmd/phpmd/blob/master/src/main/php/PHPMD/Rule/Naming/ShortVariable.php#L54

This isn't documented.  Can we get rid of this?

[2017-10-12 09:12] adamcameron commented on #527
I could not agree more. We still need to read private variable names just as much as the public / protected ones.

[2017-10-12 09:15] adamcameron commented on #16
This change is a bit wrong-headed, I think? Mess detector rules are about humans reading code, not about APIs. When reading code, it's about the code in front of the person, not what purpose the computer puts the code to.

[2017-10-12 10:51] ravage84 commented on #527
Refers change from: https://github.com/phpmd/phpmd/issues/16

[2017-10-12 10:53] ravage84 commented on #527
@duncancumming and @adamcameron  are you interested in putting up a PR for making this a configurable as I mentioned in [my comment](https://github.com/phpmd/phpmd/issues/16#issuecomment-58387822)? ([Hacktoberfest](https://hacktoberfest.digitalocean.com/), anybody?

[2017-10-12 10:56] adamcameron commented on #527
Yeah Dunc and I (who are colleagues) were discussing this. We didn't want to charge in and make pull reqs just cos we felt like stuff ought to be different without getting a nod from the stewards of the app though.

Also... never made a pull req to this project. you got some dev guidelines or something we ought to eyeball first? We'd also need to get it cleared with our boss, but that shouldn't be

[2017-10-12 11:02] ravage84 commented on #527
We are soemwhat light on guidelines, but take this for starters:
https://github.com/phpmd/phpmd/blob/master/CONTRIBUTING.md

Also, have a look at similar PRs:
https://github.com/phpmd/phpmd/pull/159
https://github.com/phpmd/phpmd/pull/197
https://github.com/phpmd/phpmd/pull/198

If you still have trouble, write me via email or Skype (same ID).

[2017-10-12 11:11] adamcameron commented on #527
OK, I've run it up the flagpole at work. Will revert shortly.

[2017-10-12 12:08] ravage84 commented on #518
While I'm not against it, I know that PHPCS already has sniffs implemented for that particular task.
If you want, you can create a Pull Request for that. That would be a rule for the [Unused ruleset](https://phpmd.org/rules/index.html#unused-code-rules), then.

[2017-10-12 12:10] ravage84 commented on #519
What version of Pdepend are you using? If I recall correctly, the newest version of it should fully support PHP 7.**0**.

[2017-10-12 12:12] ravage84 commented on #520
True, are you willing to create a PR that fixes that? ([Hacktoberfest](https://hacktoberfest.digitalocean.com/), eh?)?

[2017-10-12 12:16] ravage84 commented on #521
I'm open to that. Would you be willing to contribute a PR for that ([Hacktoberfest](https://hacktoberfest.digitalocean.com/), eh?)?

[2017-10-12 12:23] ravage84 commented on #522
@filipesperandio thanks for reporting. Can you help dig deeper?

[2017-10-12 12:25] ravage84 commented on #522
MIght be connected to https://github.com/phpmd/phpmd/issues/517

[2017-10-12 12:27] ravage84 commented on #522
Might be due to https://github.com/phpmd/phpmd/issues/520

[2017-10-12 12:29] ravage84 commented on #513
Could be connected to https://github.com/phpmd/phpmd/issues/522

[2017-10-12 12:38] ravage84 commented on #526
What version of Pdepend are you using? If I recall correctly, the newest version of it should fully support PHP 7.**0**.

[2017-10-12 13:42] shanavas786 commented on #518
@ravage84 I couldn't find that sniff in `phpcs v3.1.0(stable)`.

I tested this file,
[code]
and it caught only the following
[code]

I tried to implement this feature, but stuck as I could not find an `ASTNode` subclass corresponding to use statements. Any help is appreciated :)

[2017-10-12 13:47] filipesperandio commented on #522
@ravage84 How can I help?

[2017-10-12 13:54] ravage84 commented on #522
It would be great if you could pin down the offending code by extracting a reproducable environment. For example the minimalistic code necessary to trigger the problem.

[2017-10-12 14:01] ravage84 commented on #518
I guess you need to use either a custom phpcs standard with certain snisffs or a certain phpcs standard that contains such a sniff.

May be this helps you:
https://github.com/cakephp/cakephp-codesniffer/issues/195#issue-263891925

[2017-10-12 14:17] ravage84 commented on #518
I'm not a pdepend expert myself, but I would look into [AbstractASTNode](https://github.com/pdepend/pdepend/blob/master/src/main/php/PDepend/Source/AST/AbstractASTNode.php). Probably you could extract the neccessary info from there or from a class near that.

[2017-10-12 14:44] ajax13 commented on #526
Pdepend => 2.0.6

[2017-10-12 14:50] ravage84 commented on #526
Can you verify that behavior with pdepend 2.5.0, please?

https://pdepend.org/news/pdepend-2.5.0-released.html

[2017-10-12 14:54] ajax13 commented on #526
my bad, I am actualy on:

$ pdepend --version
PDepend 2.5.0

[2017-10-12 15:04] ravage84 commented on #526
Since the error happens in Pdepend, I would suggest you to raise an issue [there](https://github.com/pdepend/pdepend/):

[code]

[2017-10-12 15:21] ajax13 commented on #526
okey, thx @ravage84

[2017-10-12 18:52] richardbrinkman commented on #519
pdepend version 2.2.2-1build1

[2017-10-13 10:14] ravage84 commented on #519
Can you please verify that behavior with Pdepend 2.5.0? It Should have full PHP 7.0 support.

[2017-10-23 13:49] nenadalm commented on #278
I just found this issue and I agree that the option `allow-unused-preceding-parameters` would be nice.

[2017-10-24 14:58] DannyvdSluijs opened #530 "Readme show a xml report as an example for a ruleset"
From the read the following example is available as a ruleset:
`<?xml version="1.0" encoding="UTF-8" ?>
<pmd version="0.0.1" timestamp="2009-12-19T22:17:18+01:00">
  <file name="/projects/pdepend/PHP/Depend/DbusUI/ResultPrinter.php">
    <violation beginline="67"
               endline="224"
               rule="TooManyMethods"
               ruleset="Code Size Rules"
               package="PHP_D

[2017-10-24 16:07] still-dreaming-1 opened #531 "Setting naming minimum and maximum properties does not work"
This has no effect:
[code]

[2017-11-07 13:59] Stoffo opened #532 "DevelopmentCodeFragment does not work in Files with namespace"
Hi,

the DevelopmentCodeFragment Rule does not detect unwanted functions like `var_dump`, `print_r` when they occur in a non-global namespace.

### This works:
[code]

`The method Foo::baz() calls the typical debug function var_dump() which is mostly only used during development.
`

### This does not work:
[code]

[2017-11-15 03:51] yoosefi commented on #278
For anyone wondering, to shut the inspection up I just `unset()` the damn thing in the first line of the function.

[2017-11-15 08:52] SailorMax commented on #501
@ravage84
at PDepend this problem marked as fixed. Can you rebuild phar-file? I can't find anywhere how to do it myself. :/

thank you.

[2017-11-15 10:02] hakamairi opened #534 "Option to cache results in between the runs"
Similar to phpcs --cache, would it be possible, and if so is it planed to give user an option to cache the phpmd results in order to improve performance of consecutive executions?

[2017-11-16 08:23] Zakerius commented on #512
I have something similar in foreach loop:

[code]
gives me:

should it be separate issue?

[2017-11-20 11:46] hakamairi opened #535 "Parallel execution"
In order to utilize more CPU cores, could you please add a parallel flag?

[2017-11-22 12:57] chipk4 opened #536 "Unexpected token: ,,"
(new StdClass)($text, $options)

[2017-11-29 13:38] pdenooijer commented on #535
Surely on bigger projects, running PHPMD on all custom code takes quite some time. If we can cut the time in half or less it would be a great improvement (assuming 4 cores).

[2017-11-29 14:01] hakamairi commented on #535
My current workaround.
phpmd.sh script:
`orig=$1
parsed=${orig//[^a-zA-Z0-9_-]/}
vendor/bin/phpmd $orig xml phpmd.xml --suffixes php --reportfile reports/phpmd/$parsed.xml --exclude $2 --ignore-violations-on-exit
unset orig
unset parsed`

The call:
`echo -n \"$pathsComaSeparated\" | xargs -I{} -d, -P 4 bash phpmd.sh {} $pathsOrFilesToIgnoreComaSeparated'

So for input like `phpmd.sh "local/php,oth

[2017-12-05 14:25] qkdreyer commented on #345
Still an issue for me :

![image](https://user-images.githubusercontent.com/717869/33612001-8ce51d96-d9d0-11e7-852d-61d6a8f18a00.png)

[2017-12-06 17:33] emirb commented on #516
Addressed in https://github.com/pdepend/pdepend/pull/349

[2017-12-06 17:33] emirb commented on #462
Addressed in https://github.com/pdepend/pdepend/pull/348

[2017-12-06 17:33] emirb commented on #438
Addressed in https://github.com/pdepend/pdepend/pull/350

[2017-12-06 17:34] emirb commented on #436
Addressed in https://github.com/pdepend/pdepend/pull/349

[2017-12-07 15:52] sp72 commented on #502
+1 for the use in a static method.
Thanks for the (incoming ?) fix ! :)

[code]

[2017-12-08 19:41] #468 closed

[2017-12-12 20:29] tarlepp commented on #134
And seems like this is still valid issue - any updates / ETA for actual fix ?

[2017-12-15 15:08] dmchale commented on #134
+1 looking for fix. I reported this to codacy as a bug since I was getting a false positive in one of my projects, and they pointed me here since their reports simply return what PHPMD detects. It seems that array_map itself is the problem, since it fails whether the function being called is a global function or a class-based function.

[2017-12-19 10:30] jelly opened #538 "Support JUnit output for Jenkins integration"
Junit is the defacto Jenkins standard for generating reports in a Jenkins job, so it would be nice if phpmd could support this as output format.

The current xml output is only supported by the violations plugin which does [not support the new declarative pipeline yet](https://github.com/jenkinsci/violations-plugin/issues/91).

BTW: wouldn't mind working on it, if the feature is accepted.

[2017-12-22 14:57] jelly commented on #538
Might be nice to base it on eslint's Junit output: https://eslint.org/docs/user-guide/formatters/

[2017-12-22 15:00] jelly commented on #538
Created a PR in #539.

[2017-12-27 02:47] bkdotcom opened #540 "UnusedLocalVariable doesn't detect unused var when defined twice"
[code]

phpmd fails to raise any UnusedLocalVariable notice re `$worthlessVar`

[2018-01-07 11:31] Sweetchuck opened #542 "Read source code from StdInput"
It would be very useful to validate the code in a Git pre-commit hook.
Something like this:
`git show :foo.php | phpmd ...`

I tried the following, but the exit code was `0` without any output with a PHP file which contains several errors.
`git show :foo.php | bin/phpmd php://stdin text naming`

The problem is that the `\PDepend\Engine::createFileIterator()` iterates over the `$this->files` which

[2018-01-09 15:21] wirwolf commented on #436
Actual problem. I can not use phpmd in my project because this error emit exit with code 1

[2018-01-09 15:53] emirb commented on #436
@wirwolf This has been fixed since 2.5.1. Can you please update?

[2018-01-10 09:04] wirwolf commented on #436
@emirb 2.5.1 thanks. But i cannot understand how pdepend version affects this error.

[2018-01-10 09:46] emirb commented on #436
phpmd is relying on pdepend for code analysis.

[2018-01-11 10:59] mstaack commented on #532
any updates on this one?

[2018-01-12 23:31] dakorpar commented on #464
any news?

[2018-01-19 10:44] gemal opened #544 "Invalid ns host"
trying to validate the phpmd.xml file I get:

[code]

has the schema moved to a new location?

[2018-01-19 10:47] gemal commented on #544
hmm now it works again. werid

[2018-01-19 10:47] #544 closed

[2018-01-24 15:25] tinogo commented on #536
Yeah, would be awesome, if PHPMD could support invokable classes! :)

[2018-01-27 12:00] RNKushwaha022 commented on #228
@ravage84 The problem still exists. Tested in phpmd 2.6.

[2018-01-28 06:25] AntonEvers opened #545 "Nonexistent xsd in src/test/resources/files/rulesets/ruleset-refs.xml"
https://github.com/phpmd/phpmd/pull/232 adds a ruleset with a references to http://files.addiks.de/xmlns/phpmd.xsd and http://www.addiks.net/xmlns/pmd. These are unavailable, so there is no way to validate the XML against the XSD.

Does anybody know what was the content of these links and can they be included in http://pmd.sourceforge.net/ruleset_xml_schema.xsd if they are crucial to phpmd?

cc: @

[2018-01-28 09:40] addiks commented on #545
Sorry for this mess. I completely forgot that this schema exists. I guess the internet never forgets one's old mistakes...

The domain "files.addiks.de" was part of an old server-structure that i replaced a few years ago with something much simpler. I have put this one domain back online. If you put the lookup "78.46.98.40 files.addiks.de" into the /etc/hosts file of the server that is executing t

[2018-01-28 09:52] addiks commented on #545
I have now also updated the zonefile for "files.addiks.de". So after DNS updates (which might take a few hours) the domain should be available regularly again. An hosts-entry would then be not needed anymore.

[2018-01-29 09:39] ajpevers commented on #545
@addiks thank you very much!

[2018-01-29 14:18] vkublytskyi opened #546 "Missed php-includepath delcaration in ruleset_xml_schema.xsd"
## An issue

[The actual implementation](https://github.com/phpmd/phpmd/blob/master/src/main/php/PHPMD/RuleSetFactory.php#L196) of `\PHPMD\RuleSetFactory` allows declaring `php-includepath` to provide possibility to explore and use rulesets defined in 3rd party libraries. However, http://pmd.sourceforge.net/ruleset_xml_schema.xsd does not declare `php-includepath` so its usage makes ruleset file d

[2018-01-31 19:43] hchow77 opened #547 "Output priority in text output"
I wanted to inquire about getting the command line option (perhaps an extra flag) to output the priority of an infraction while in text output mode. I would imagine it looking something like:
"foo.php:15	Avoid unused local variables such as '$abc'. <priority=1>"

This would be very helpful to me as I'd like to be able to parse out the priority for how I want some other scripts I have wrapped aroun

[2018-02-02 13:45] PotterRafed commented on #536
Yes please, getting same errors for this exact issue

[2018-02-04 03:35] ajpevers commented on #545
@manuelpichler what are your thoughts about merging @addiks' xsd into the one on sourceforge?

[code]

[2018-02-08 09:31] jframos0 commented on #531
Try this :

[code]

[2018-02-08 09:32] jframos0 commented on #532
it's still not working with namespace :(

[2018-02-11 16:26] padalec commented on #436
I have pdepend in version
`PDepend 2.5.2`
 but this error still appear

[2018-02-12 15:49] still-dreaming-1 commented on #531
Thanks. I am closing this since I don't believe in using naming length rules anymore, so I disabled them. If someone else has this same problem, they can create a new issue or try to get this one reopened.

[2018-02-12 15:49] #531 closed

[2018-02-14 11:20] MidnightDesign opened #549 "Calling a callable property results in "Unexpected token""
The following syntax (`($this->bar)()`) is valid (at least in PHP 7.1), but an error is emitted my PHPMD.

[code]

[2018-02-14 11:25] MidnightDesign commented on #389
This is still a problem for me. I've got PDepend 2.5.2 and PHPMD 2.6.0.

[2018-02-15 19:40] #436 closed

[2018-02-19 10:19] duncancumming opened #550 "False positive on static access of class constants"
Trying to use class constants give me this PHPMD warning: _"avoid using static access to class 'self'"_

e.g.

[code]

[The documentation](https://phpmd.org/rules/cleancode.html#staticaccess) states _"The only case when static access is acceptable is when used for factory methods"_.

I'm not sure what's wrong with using constants like this.

See also the workaround here, can this be implemented?
-

[2018-02-19 10:31] #550 closed

[2018-02-21 15:44] anyt commented on #512
Same issue with `forach`, are there any plans to fix it in nearest feature?

[2018-02-23 13:21] glamorous commented on #337
Nobody? This is still open?

[2018-02-23 15:27] ghost opened #551 "Broken phar file"
Where can i get phpmd.phar file ?

 issue "SHA512 signature could not be verified: broken signature in C:\php\phpmd.phar:8" is still presented in http://static.phpmd.org/php/latest/phpmd.phar

[2018-02-27 17:09] vikkio88 commented on #549
same here +1

[2018-03-01 10:40] mosbth opened #553 "Instructions on how to build phpmd.phar from dev-master"
Is there some instructions on how to rebuild the phpmd phar file, or any existing build one can use from dev-master?

I'm trying to rebuild the phar-file (to fix #501 on PHP 7.2 since its seem to be fixed in https://github.com/pdepend/pdepend/issues/310) but the buildtool ant is not my closest friend.

I'm [installing from GitHub repository, as explained](https://phpmd.org/download/index.html).

I

[2018-03-09 15:45] cormacparle commented on #436
Thanks for fixing this folks :)

[2018-03-14 13:10] lucasvanlierop opened #556 "method named 'empty' results in 'Unexpected token: empty'"
This code

[code]
Results in:
`Unexpected token: empty, line: 6, col: 28, file: Test.php.`

[2018-03-15 08:39] sanmai commented on #556
Seems like related to #389.

[2018-03-21 06:24] HEKET313 commented on #512
Any info about this bug? When can we expect fix? @ravage84 @manuelpichler

[2018-03-22 22:55] mikebronner opened #557 "PHPMD Warning When Using Compact With Quotes (Not Apostrophe)"
It seems that this usage causes a bit of headache for PHPMD:

[code]

[2018-03-23 00:35] roperto opened #558 "False "unused private method" when used in constructor/factory"
Related to #253

See for example:

[code]

(I know it is over simplified, you could rewrite it, but that's just an example without all the boilerplate)

[2018-03-30 07:19] sanmai opened #560 "ElseExpression explanation needs an update"
[Currently it says:](https://phpmd.org/rules/cleancode.html#elseexpression)

True, this proposition is correct in most cases. But there are cases, especially in generators, where `else` is unavoidable. Here's a primer:
[code]
[If you would run this primer](https://3v4l.org/6hoqq), you would see that these two snippets give different results:
[code]

Possible solution would be to update the documen

[2018-04-03 16:05] EvgenyOrekhov opened #561 "UnusedFormalParameter false positive"
[code]

[2018-04-09 09:28] tanael commented on #424
I've had the same problem (version 2.4.3-1 on Debian Stretch).

I figured out that trying to overload the `allow-unused-foreach-variables` property value to `true` through a rule reference (as described in documentation https://phpmd.org/documentation/creating-a-ruleset.html) does not work. You have to either set it to `true` inside `unusedcode.xml` directly or copy the entire rule into your custo

[2018-04-12 10:32] digitaldreams commented on #336
@bandanh  your solution works for me. Thanks a lot

[2018-04-13 07:12] tanael opened #563 "class NumberOfChildren has property name "minimum" that clashes with description"
https://github.com/phpmd/phpmd/blob/08a38d44da7865b7938dd6da860c2f44ac19b002/src/main/php/PHPMD/Rule/Design/NumberOfChildren.php#L39

It basically ends up looking like this in the ruleset xml file:

    <property name="minimum" value="15" description="Maximum number of acceptable child classes." />

[2018-04-13 07:13] tanael commented on #563
Along the same line, I am wondering if this line is not faulty either:

https://github.com/phpmd/phpmd/blob/08a38d44da7865b7938dd6da860c2f44ac19b002/src/main/php/PHPMD/Rule/Design/DepthOfInheritance.php#L42

But I haven't tested that particular case so I might be mistaken (did not want to open a new issue w/o being sure...)

[2018-04-16 16:19] gbirke opened #564 "Document <value> attribute for properties"
https://phpmd.org/documentation/creating-a-ruleset.html doesn't give an example for using a `<value>` tag inside `<property>` instead of using a `value` attribute. I only accidentally stumbled upon it while seaching for another solution and found #369

If you find the time, you could also document the behavior described in #33

[2018-05-02 10:05] nenad opened #568 "New release?"
It's been some time since a new release of this tool has been pushed.

[2018-05-02 20:32] still-dreaming-1 commented on #510
This is no longer a problem for me. I don't really know what changed, but I'm guessing I did not use the fully correct /** to start the doc block, I probably only had a single *, so it was probably my bad to begin with.

[2018-05-02 20:32] #510 closed

[2018-05-07 11:13] stepansib commented on #345
Same for me(
phpmd 2.6.0

[2018-05-09 20:26] DanielSchwiperich opened #569 "Static phar release is still using outdated pdepend version"
that the const visibility keyword was causing errors was fixed by updating the composer dependency for pdepend. See #436

The phar release on the website is still using pdepend 2.5.0 and was not updated

/cc @ravage84

[2018-05-11 19:25] tariq86 commented on #520
I submitted pull request #570 to fix this

[2018-05-11 19:27] tariq86 commented on #340
It's showing up now, but with small display issue reported in #532 .

I believe this issue can be closed.

[2018-05-11 19:33] feryardiant commented on #340
Awesome, thanks @tariq86

Small request, can we just keep this issue opened until actually available [here](https://phpmd.org/rules/index.html) please?

[2018-05-21 09:54] mosbth commented on #553
## About rebuilding the phar

Yepp, it worked.

I had to modify the process slightly though, since I had PHP7.2 installed. I needed to switch to PHP5.6 to rebuild the phar, like this.

[code]

The ant process actually failed with an error from building phpcd, but I ignored that.

The phar-file is located in `../build/dist`.

[code]

##  New PHAR still uses pdepend 2.5.0

I wanted to use phpmd on P

[2018-05-21 09:54] #553 closed

[2018-05-25 08:05] t-geindre commented on #421
Hi,

I encoutered the same error with a class constant named `PRIVATE` and I guess it is the same bug as with `NEW`.

Here is a simple code example:

[code]

I run the following command:
[code]

Then I get the following error:

PHPMD - 2.6.0
PDEPEND - 2.5.2

[2018-05-29 21:24] doekia opened #573 "undefined variable not detected"
Consider the following code:
[code]

The $reponse (typo) is mainly undetected.
BTW, this tool rocks :1st_place_medal:

[2018-06-08 07:40] akielbasa commented on #94
i found an issue with user rights on windows domains, this might lead to an issue with phpmd beeing super slow

correcting the speed on my mashine from 20minute precommit
to 20 second precommit

the case is:

while using phpstorm (but for console its the same)
having the project outside your user directory

starting phpstorm / cmd as admin (yes you NEED to be lokal admin for this)
fixing the issue

[2018-06-28 09:29] vertexvaar opened #574 "UnusedFormalParamter is not aware of absolute func_get_args() when class is in namespace"
The function `func_get_args()` in a method uses all defined and undefined parameters of a method. (Same goes for positional arguments when using `func_get_arg(<index>)`). When the class of the method is in a namespace phpmd does recognize `\func_get_args()` but not `func_get_args()` which is the same if there is no function defined in the same namespace.

[2018-07-26 07:14] MichalKatuscak commented on #512
I have the same issue. Will be fixed?

[2018-07-28 07:22] fgm commented on #561
Same problem with a local variable:

[code]

[2018-08-08 09:33] fuzzy76 commented on #560
I would argue that having rules that cannot be avoided in all cases is stupid. :( Or it could be my OCD that kicks in when I have codebases that will always have warnings unless I convolute my code. Though #288  doesn't give my any hope.

[2018-08-08 09:36] fuzzy76 commented on #288
The ternary operator _is_ an else-clause, it just has a different syntax. Recommending its use is admitting else is ok.

[2018-08-08 13:59] ianchanning commented on #288
@ravage84 sorry old post but that article only has the following reasoning for not using else clauses:

That's a fairly weak statement for getting rid of a fundamental concept in programming languages. I personally agree and I do prefer [guard clauses](https://refactoring.com/catalog/replaceNestedConditionalWithGuardClauses.html), but there should be better arguments put forward.

[2018-08-10 10:57] ravage84 opened #576 "Consider array type hints as code smell"
https://steemit.com/php/@crell/php-never-type-hint-on-arrays

[2018-08-15 08:59] unglud opened #577 "Please allow to contribute to documentations"
I believe collectively we can make documentation much much better.

[2018-08-31 09:50] osman-mohamad commented on #557
any news about this ?

[2018-09-05 22:08] dakorpar opened #578 "CouplingBetweenObjects"
I'm wondering is using an enum (abstract class with few defined constants only) really coupling? Should it be counted?
Also \DateTime class, or for example some Utility String/Math class that you're calling just static methods from them?
I have few (IMHO) simple and easy classes which are working with entities (one table row from database) and one entity is sometimes having few enum classes, let's

[2018-09-12 07:51] tominventisbe opened #580 "UnusedFormalParameter of closure is incorrectly detected as UnusedLocalVariable"
When having a parameter in a closure that is not being used, PHPMD reports it as `UnusedLocalVariable` rather than `UnusedFormalParameter`, for example:

[code]

Here PHPMD will indicate that `$blah` is an unused local variable, but this behavior is inconsistent with other functions and methods, as unused parameters there are only reported when the `UnusedFormalParameter` rule is active.

This hap

[2018-09-28 05:34] 626Pilot commented on #288
TL;DR: This rule is under "clean code", but the Clean Code book uses else statements in MANY locations. **This rule does not belong here. It belongs in Controversial.**

"An if expression with an else branch is never necessary."

Neither is PHP. Let's write all our web apps in assembly language.

What's that? You want to use PHP because it works better for you than assembly language? It's more exp

[2018-09-28 05:48] HemaliSavaliya opened #581 "How to set custom phpmd coding standard ruleset in Netbeans 8.1?"
I install phpmd in netbeans 8.1 and it shows me errors of my code according to phpmd all rules but what if
I want to apply some of the rules on current file for that I make one custom coding standard xml  file  and it works fine as I run it through command line but I don't know how to set it with netbeans 8.1?

[2018-09-28 06:17] HemaliSavaliya commented on #33
How to set this custom file in netbeans 8.1?

[2018-09-30 10:53] Jurigag commented on #288
I'm still thinking that my first comment here 2 years ago is a way to go, it could stay in clean code only if it would consider return/throw statement in else condition.

[2018-10-02 12:59] sbesselsen commented on #288
Interesting to see that this discussion is still going. I have learned a lot in 3 years, as I'm sure we all have, but I still see no reason to disallow else statements. All arguments against it that anyone here has been able to put forward boil down to "you can use it in a bad way", which is true of literally every other language feature.

Personally I would say this: leaving this check in is a st

[2018-10-02 16:38] ravage84 commented on #581
Since I do not use Netbeans, I cannot help you.

Please refer to the help & community resources of NetBeans.

[2018-10-02 16:38] #581 closed

[2018-10-03 13:11] dbu commented on #569
is the static phar automatically created or is this a manual process? it seems to still use an outdated version of pdepend that complains about `private const`

[2018-10-20 08:50] JeroenDeDauw commented on #251
I am no longer using PHPMD in part because of this issue, so yeah, still relevant.

[2018-10-26 15:42] echernyavskiy commented on #568
any chance 2.6.1 or 2.7.0 would be tagged soon?

[2018-10-30 13:51] #527 closed

[2018-11-02 09:04] ThomasLabstep commented on #512
Any ETA?

[2018-11-15 04:11] liaol commented on #65
need it

[2018-11-15 17:38] stevecoug commented on #107
Would it make sense to have an option to count a multi-line string as one line of code?

[2018-11-17 11:32] ozelotjp commented on #337
I think it's a bug
[code]

[2018-11-29 13:32] sergeynezbritskiy opened #586 "Checking for php 7 features"
Hello guys. Is it possible to check with phpmd, that my code follows php7 standards. e.g. declaration "strict_types=1" exists, every argument in method has type hint, every method has return type specified etc ?
Thanks

[2018-11-29 17:23] roukmoute opened #587 "Is the project abandoned?"
Ping @ravage84 @manuelpichler

[2018-11-30 16:03] developedsoftware commented on #517
Has this been resolved?

[2018-12-02 04:09] ruimelodev opened #588 "Wrong property names in design.xml rules"
The properties for `NumberOfChildren`, `DepthOfInheritance` and `CouplingBetweenObjects` have the name `minimum` but then they're referred to the maximum in the description tag.

Example:
[code]

It should be:
[code]

[2018-12-04 11:40] Anamelash commented on #569
ive downloaded v2.6.0 phar and got "Unexpected token: const" error

[2018-12-04 20:57] kiler129 opened #589 "Support for Symmetric array destructuring"
I discovered that PHPMD chokes on `foreach($it as [$a, $b])` construction. It seems like support for [this type of array destructuring](https://secure.php.net/manual/en/migration71.new-features.php#migration71.new-features.symmetric-array-destructuring) is not implemented.

Is there any chance for implementation?

[2018-12-05 19:57] andreasschroth commented on #568
That's the reason why I removed it from our CI pipeline now - no new releases means no progress and there are other PHP analysis tools out there that are actively developed. Please don't get me wrong, I appreciate your effort a lot for maintaining / developing phpmd, but just wanted to give some feedback. I think regular releases (at least twice a year) and keeping up with the PHP language develop

[2018-12-10 14:53] mvanduijker commented on #586
You can use the extra PHPCS rules from https://github.com/slevomat/coding-standard for that.

[2019-01-04 10:29] konrad-arena opened #590 "syntax error in xml report"
the content of the violation message should be escaped (or properly wrapped with CDATA), otherwise resulting XML report may be invalid (in example below there is `<p>`, but no `</p>`, so xml parsers complain)

[code]
My php code is like
[code]

[2019-01-10 03:13] bagermen commented on #288
`
if ($we_wrote_weird_thing) {
    $close_discussion();
} else {
    $remove_it();
}
`

[2019-01-10 23:40] adjenks commented on #549
I also encountered this.

[2019-01-11 05:31] haridarshan opened #591 "Warnings with PHP 7.3"
Hi,

I've upgrade PHP version to 7.3 after that I always get  warning when running phpmd command. This was working properly with PHP 7.0/7.1/7.2 versions

[code]

[2019-01-14 15:19] Gixx opened #592 "Unexpected token `[` in foreach."
PHP 7.1
PHPMD 2.6.0

Code:
[code]

Output:

[2019-01-17 15:57] ArturGoldyn commented on #356
Hi, can we please proceed with that? It's messing up with our project too :+1:

[2019-01-29 08:58] MoogyG opened #593 "CamelCase for namespaces"
There is CamelCase verification for class names, property names, method name,...but nothing for namespaces, is there a good reason or just a missing feature?

Thanks!

[2019-01-31 00:34] chriscalip commented on #252
Error sighted; on my case ```Avoid unused private fields such as``` but class has traits with methods that makes used of said fields.

[2019-02-03 15:08] Isinlor opened #594 "Cognitive Complexity"
Hello,

Recently I have read about an interesting upgrade of Cyclomatic Complexity called Cognitive Complexity.

Here is the paper: https://www.sonarsource.com/docs/CognitiveComplexity.pdf

I have also seen two implementations for PHP:

https://github.com/Symplify/Symplify/blob/2a449a660d48658088e35be8bd565111c230fa78/packages/TokenRunner/src/Analyzer/SnifferAnalyzer/CognitiveComplexityAnalyzer.ph

[2019-02-12 14:55] JoyceBabu commented on #501
@ravage84 Can you please create a point release fixing this?

[2019-02-21 13:23] zebimax commented on #33
Having same problems in 2019)

[2019-02-26 10:38] baer95 commented on #592
Just had the same problem. PHP 7.2, PHPMD 2.6.0.

[2019-02-26 10:47] baer95 commented on #556
Just had this issue too - also appears to happen with the reserved words `NEW`, `EMPTY`, and `DEFAULT` that are explicitly allowed as method names or in my case constants: http://php.net/manual/en/reserved.keywords.php.

PHP 7.2
PHPMD 6.2.0

[2019-03-08 05:19] chrisyue commented on #346
does any body know how this issue's going? should we still leave it open?

[2019-03-08 08:06] NastuzziSamy opened #596 "Php MD crashs when , is defined at the end of a list of import"
Error:
[code]

Code:
[code]

[2019-03-11 13:22] baer95 commented on #592
related issue: https://github.com/phpmd/phpmd/issues/589

[2019-03-11 13:23] baer95 opened #597 "Unexpected token on reserved keywords"
I encountered these errors:

 * `Unexpected token: unset` on a function called `unset()`
 * `Unexpected token: NEW` on a class constant called `NEW`
 * `Unexpected token: EMPTY` on a class constant called `EMPTY`
 * `Unexpected token: DEFAULT` on a class constant called `DEFAULT`

All of those errors are within the php spec (http://php.net/manual/en/reserved.keywords.php).

Similar/related issues:

[2019-03-13 06:51] baer95 commented on #587
No activity from the maintainers since october '18... looks like it is!

[2019-03-18 14:58] mlewis-everley opened #600 "@SuppressWarnings('unused') doesn't work"
I have followed the docs and believe this is setup correctly. I am using PHPMD 2.6.0. Basically I have the following class:

[code]
I have also tried:

[code]
And finally:

[code]
But when I run:

`./vendor/bin/phpmd app/src/Admin/ContractAdmin.php text unusedcode`

I still get:

`app/src/Admin/ContractAdmin.php:52    Avoid unused private fields such as '$menu_priority'.`

I have seen other issues

[2019-03-20 08:57] keksnicoh commented on #90
We encounter the same problem in 2.6.0 using php7.2 and ubuntu bionic as the file system (`.pdepend`) is not cleaned up after the job is done.

[2019-03-27 15:35] DavidLambauer commented on #557
ping

[2019-04-03 09:05] Danila1985 opened #601 "False-positive message "Avoid unused local variables" in anonymous class"
There is false-positive message "Avoid unused local variables such as '$prop'" in anonymous class placed inside another class or function:
[code]
Message: "Avoid unused local variables such as '$prop'."
Version: 2.6.0

[2019-04-10 07:35] AntonEvers commented on #545
@manuelpichler still curious to know your opinion on the above matter.

[2019-04-10 09:15] prytoegrian commented on #587
@ravage84 Is it possible you or @manuelpichler to give admin access to one of your best contributors ? I love this tool and use it in a daily basis ; and I'm not the only one (:musical_note: ). I would really be bored if it were no longer maintained.

[2019-04-10 10:24] ravage84 commented on #587
@prytoegrian I'm discussing this with @manuelpichler .

[2019-04-10 20:38] #578 closed

[2019-04-15 01:26] ThomasLabstep commented on #288
I agree.

Look at this situation:
[code]

PHPMD wants:
[code]

Is it more readable ? Maybe.
Do I need to add an extra return statement. Yes.

[2019-04-25 08:21] alexz707 opened #602 "UnusedPrivateField false positive with Trait"
Hi!
I have discovered that when I use a private variable only in a trait it will give a false positive unused private field warning:

Simplified example:

[code]
This would give the warning: "Avoid unused private field such as '$ignoreFields'"

Using version 2.6.0
Regards
Alex

[2019-04-29 12:53] pszalko commented on #436
Is this fix already released?

[2019-04-30 08:30] emirb commented on #436
cc @ravage84

[2019-04-30 08:50] wirwolf commented on #436
i fixed this in https://github.com/SomeBlackMagic/phpmd

[2019-05-01 11:21] edhgoose opened #603 "Website down"
The phpmd.org site is down at the moment.

Apologies if you're already aware!

[2019-05-01 11:55] viion commented on #603
Been down all morning

[2019-05-01 17:14] matrunchyk commented on #344
It is down again :(

[2019-05-01 17:19] matrunchyk commented on #603
I had to remove the package from my Docker container because of this problem, it's affecting our business..

[2019-05-02 07:40] chilimatic commented on #603
here too. Maybe adding another mirror for this would help? I will removed the dependency for the moment. On the other hand I probably will just create my own dummy mirror to reduce the load on your system .... :)

[2019-05-02 12:15] jakzal commented on #603
@chilimatic that is what i've done for pdepend, and it looks like my changes will be also merged to upstream. Encourage you to do the same :)

@matrunchyk you get the support you're paying for. What could you do to help?

[2019-05-02 13:35] jakzal commented on #603
Until it's fixed in this repo, feel free to use phar I built in mine. It's published with github releases: https://github.com/jakzal/phpmd/releases/tag/2.6.0-jakzal-2

Only PHP 7.1-7.3 is supported.

[2019-05-14 09:43] paul-gene commented on #603
Site still down. Any update?

[2019-05-17 10:35] tvbeek commented on #603
I send an email to @manuelpichler and @ravage84 to offer help with the hosting but didn't get any response yet. So we have to wait.

[2019-05-17 15:31] ravage84 commented on #603
Hi @tvbeek

Thank you for reaching out. Unfortunately, only @manuelpichler has the necessary access and knowledge.

[2019-05-17 15:35] tvbeek commented on #603
@ravage84 thanks for the feedback, I see that phpmd.org is hosted on the same ip as @manuelpichler his website. I hope that he received the mail and is able to respond.

[2019-05-18 19:57] manuelpichler commented on #603
Hello together,
sorry but where my personal website and phpmd.org or pdepend.org were
hosted was shutdown by the ISP, because it was a too old instance.
Currently and in future I have no time to restore anything, but I am
willing to sponsor the domains and configure the DNS, so that some one
else can host the project website.
Kind regards  Manuel
Btw. same applies to any kind of project maintenanc

[2019-05-20 16:16] macwinnie commented on #603
Hi @manuelpichler,
what do you think about restructuring the project for using GitHub-Infrastructure (GitHub Pages or even the Wiki)? Or thinking about Uberspace with kind of croudfunding, i.e.?
There could be great possibilities =)

[2019-05-21 11:50] tvbeek commented on #603
@manuelpichler Do you have the source code of phpmd.org available? If yes can you send / transfer it to me? (Email is visible on my profile) then I will create a place where it will be hosted and send you the ip addresses. It will be a fast way to put it back online and after that it can be a good idea to look to the solution from @macwinnie and found out who are willing and have the time to maint

[2019-05-21 15:38] ravage84 commented on #603
@tvbeek the sorce of the site is actually just the source and it's located in this repo at https://github.com/phpmd/phpmd/tree/42bf8ad43793e7b77c0c8681a1eabaf48b69bcf7/src/site

Going forward, I support the idea of using a more modern & well understood documentation approach.

[2019-05-21 15:43] ravage84 commented on #587
@prytoegrian please contact me through my email or b Skype. See my account.
Anybody who is willing to take over as co-maintainer, can write me, too.

[2019-05-21 15:43] #587 closed

[2019-05-21 15:45] wirwolf commented on #587
@ravage84  i maintained code in my fork https://github.com/SomeBlackMagic/phpmd

[2019-05-23 12:30] fritz-cwp commented on #603
Since others might run into the same issue as me - wanting the phar executable and not being able to download it, and too paranoid to use other people's executables, here's a `Dockerfile` for building the binary yourself with Docker, without polluting your computer environment with a bunch of extra tooling in the process:
[code]

Save that as a text file named `Dockerfile` and run the following in

[2019-05-23 12:45] tvbeek commented on #603
Thanks, I'm trying to get it working but I'm not familiar with rst so I need to dig deeper into it to get the site working.

[2019-05-24 09:19] hbaeumer commented on #603
I like the idea to use github pages or wiki.
That would save the cost of a hosting.
Are there anyone interested in maintaining phpmd?
@tvbeek  would not have to take care of hosting and rst.

[2019-05-27 10:22] gnovaro commented on #603
Create repo phpmd.github.io i can give a hand to make this

[2019-05-29 07:46] roukmoute commented on #587
@ravage84 @manuelpichler, I've sent you an email but no news currently, could you check you spam please?
Thanks in advance

[2019-06-03 22:05] ravage84 commented on #587
I officially started the search for a new team of maintaners for PHPMD (& PDepend). If anybody is interested write me an email, see my GitHub profile page.

[2019-06-03 22:06] ravage84 commented on #603
I officially started the search for a new team of maintaners for PHPMD (& PDepend). If anybody is interested write me an email, see my GitHub profile page.

[2019-06-05 14:30] #532 closed

[2019-06-10 18:58] Philipp91 commented on #33
I had the same problem as Manuel, specifically with `CouplingBetweenObjects`, whereas all other overrides worked for me. Turns out the property [was](https://github.com/phpmd/phpmd/commit/a206415af3d40a3a478dc4ca0d26f8dd36b6689c) [renamed](https://github.com/phpmd/phpmd/commit/3333326eff64db6e21233e603fed51659ef5208e) _after_ the latest release, so the documentation and the installed package don't

[2019-06-13 18:14] inquiloper commented on #603
It's still down. Any news?

[2019-06-14 23:10] ravage84 commented on #603
@inquiloper the new team of maintainer has just started discussions. Please be patient with us.

[2019-06-22 13:39] #603 closed

[2019-06-22 15:06] tvbeek commented on #603
@ravage84 The merge is done but the dns isn't working yet.

[2019-06-25 07:59] kylekatarnls commented on #560
Not unavoidable, you just need to replace `return` with `continue` in your example to get the same output without using `else`.

[2019-06-25 08:12] kylekatarnls commented on #288
No PHPMD do not "want" you to do this, you have other alternatives:

[code]

And so in this case, you have a more readable code and 2 methods where each one has a more restrictive responsibility (you can explicit with the method name).

When you have an else, you should not ask yourself: "How to convert this code 1-to-1 to early-return?" You should ask yourself: "Can it be split into more atomic s

[2019-06-25 08:45] sanmai commented on #560
All right then, let me think of another example.

[2019-06-25 09:20] sanmai commented on #560
Half a hour later I still can't think of any. So I guess you're right. Thanks for the wisdom,
@kylekatarnls.

Closing for now.

[2019-06-25 09:20] #560 closed

[2019-06-25 09:41] ThomasLabstep commented on #288
Understood.

@kylekatarnls Thanks!

[2019-06-25 10:35] ravage84 commented on #561
Closed through merging #575.
Thank you @EvgenyOrekhov & @fgm for reporting.

[2019-06-25 10:35] #561 closed

[2019-06-25 11:53] #564 closed

[2019-06-25 11:54] ravage84 commented on #33
Finally documented through #565

[2019-06-25 11:54] #33 closed

[2019-06-25 12:10] ravage84 commented on #603
Hello everybody, for the time being a temporary website can be found at https://phpmd.github.io/phpmd/.
It's not fully working, but it's a start.

We will inform you, once there are updates.

[2019-06-26 00:00] ravage84 commented on #577
@unglud feel free to contribute to either the code or the documentation.

[2019-06-26 00:00] #577 closed

[2019-06-26 00:02] ravage84 commented on #568
New releases are comming soon.

[2019-06-26 00:02] #568 closed

[2019-06-26 00:05] ravage84 commented on #586
@sergeynezbritskiy depending on what exactly you want to check, a style checker could be more appropriate. Please, provide examples of what you want to check, if you haven't found any other tool, yet.

[2019-06-26 00:05] #586 closed

[2019-06-26 00:12] ravage84 commented on #546
This is not PHP Mess Detector's but Java's Mess Detector's (the original) Website.

[2019-06-26 00:12] ravage84 commented on #545
This is not PHP Mess Detector's but Java's Mess Detector's (the original) Website.

[2019-06-26 00:16] ravage84 commented on #538
PHPMD has already an integration into Jenkins through its reportfile output.

Exampel configuration can be found here:

http://jenkins-php.org/configuration.html

[code]
http://jenkins-php.org/automation.html

[2019-06-26 00:16] #538 closed

[2019-06-26 08:01] jakzal commented on #551
Until we fix it in this repo, the phar can be downloaded from here: https://github.com/jakzal/phpmd/releases/download/2.6.0-jakzal-3/phpmd.phar

[2019-06-26 08:25] tvbeek commented on #577
@unglud the documentation is located in src/site directory, See https://github.com/phpmd/phpmd/tree/master/src/site

[2019-06-26 12:40] ravage84 commented on #551
@jakzal what is necessary to fix it in this repo?

[2019-06-26 14:00] jakzal commented on #551
@ravage84 I have a PR ready. We'd only need to drop <PHP7.1 support as this is what any maintained version of box supports.

[2019-06-26 14:14] ravage84 commented on #551
Can you please create the PR, so we can talk about it there?

[2019-06-26 14:24] ravage84 commented on #603
Oh, totally forgot to say the PHPMD Website is up and runing again at https://phpmd.org/

[2019-06-26 14:40] fritz-c commented on #603
Great news!

Any plans to resurrect the phar download? Right now it mentions http://static.phpmd.org/php/latest/phpmd.phar on the download page, but it could always be moved to the same GitHub Pages site. Or maybe the phar could be added to the releases page on GitHub.

[2019-06-26 14:45] ravage84 commented on #603
@fritz-c yes, we are working on it.

Related issue #551, related PR #613

[2019-07-04 17:42] DmitryNaum opened #619 "Phar archive is not available"
On installation page described instruction for installing phpmd via phar release, but, specified link `http://static.phpmd.org/php/latest/phpmd.phar` is not available.

Seems like `static.phpmd.org` has not DNS A records
https://mxtoolbox.com/SuperTool.aspx?action=a%3astatic.phpmd.org&run=toolpage

[2019-07-04 21:56] ravage84 commented on #619
Thank you, @DmitryNaum , for letting us know.
We are aware of the situation. We are working on it. No estimate, yet.

Duplicate of #155  Closing.

[2019-07-06 01:09] ravage84 commented on #551
Thanks to @jakzal's efforts, we have a new [PHAR file](https://github.com/phpmd/phpmd/releases/download/2.6.1/phpmd.phar) available, attached to the related tag/release [2.6.1](https://github.com/phpmd/phpmd/releases/tag/2.6.1).

[2019-07-06 10:38] kylekatarnls commented on #551
As the phar works, I close this issue. 🚀

[2019-07-06 10:38] #551 closed

[2019-07-09 08:15] jdeniau opened #628 "RFC: Unused private fields could detect "write-only" fields"
Given the following class:

[code]

The `writeOnly` property could be detected as unused.
I tried working on it myself, but got stuck in the `UnusedPrivateField.php` with the `$class->findChildrenOfType('PropertyPostfix')` call.

Thank you

[2019-07-09 10:43] ravage84 commented on #628
I'm not sure, we can easily get the necessary information, but looks interesting enough. :+1:

This could either be an enhancement to the existing rule or a rule by itself.

[2019-07-09 11:23] kylekatarnls commented on #628
Seems more like an enhancement of the existing rule (and probably not only for private field, but also simple variables) that would say an "assignment" is not a usage of a variable. So any variable/property still remains unused if you only assign value to it.

[2019-07-09 13:48] ravage84 commented on #628
A problem, I see is it could be difficult to detect variable/property use through variable variables.

[code]

[2019-07-09 13:53] kylekatarnls commented on #628
But this problem yet exist with current UnusedPrivateField and UnusedVariable. I guess variable variables fall in the non-ideal patterns category.

[2019-07-09 13:54] ravage84 commented on #628
@kylekatarnls  agreed.

[2019-07-09 14:48] ravage84 commented on #619
Reopen, as there is no issue we track this.

[2019-07-11 06:49] harshild commented on #619
+1

looks like http://static.phpmd.org is not available , and hence the archive.

try using this link directly http://static.phpmd.org/php/latest/phpmd.phar

[2019-07-11 07:03] kylekatarnls commented on #619
Phar files will be on https://github.com/phpmd/phpmd/releases

Restoring static.phpmd.org or not is in discussion.

[2019-07-11 07:52] harshild commented on #619
in that case brew package needs to be updated accordingly. I will try to find how that can be done.

[2019-07-15 18:06] DmitryNaum commented on #321
Hi, i wanna try implement this feature.

[2019-07-15 18:08] kylekatarnls commented on #321
Hi @DmitryNaum, we did not have a clear assignee for this so I assigned you. Ask me if you need help, to clone, send PR or anything.

[2019-07-16 16:24] loeffel-io opened #634 "--exclude CLI parameter Only Skips Some Files"
**Without exclude option:**

[code]

[code]

**With exclude option:**

[code]

[code]

[2019-07-16 17:59] kylekatarnls commented on #634
Hi @loeffel-io, would you be able to produce a zip with sample files which one we could reproduce the bug?

[2019-07-19 10:26] dakorpar opened #637 "CouplingBetweenObjects excluding some pattern"
We often have situation that coupling between objects raises because class is using multiple enum classes and that doesn't really increase complexity. Also another case is some static util classes, for instance if we use Strings::replace() instead of str_replace, so it would be really benefitial if we could somehow put classes on ignore list

[2019-07-21 15:11] caaguado commented on #619
Hi,

Please make http://static.phpmd.org/php/latest/phpmd.phar available back again, as Github storage makes automatic updates quite hard, as you first need to know what's the latest revision, which will in one way or another require additional metainfo parsing. And that's not very sustainable over time.

Thanks!

[2019-07-22 08:49] szepeviktor opened #638 "Make the code more robust using PHPStan"
Try running @phpstan in CI

`phpstan analyze --level=4 src/main/php/` - this could be a simple start.

All the best to you!

[2019-07-23 15:41] tvbeek commented on #638
Hello @szepeviktor thanks for the issue, do you have specific parts to change and are you willing to create a Pull request with changes?

[2019-07-23 15:52] szepeviktor commented on #638
Hello @tvbeek !

I think I have to dig deep to understand what causes a specific issue.

[code]

[2019-07-24 10:53] ravage84 commented on #637
This could be just as StaticAccess's exceptions list:

https://phpmd.org/rules/cleancode.html#staticaccess

@dakorpar would you be willing to put up a PR for this? We can help yoyu with that.

[2019-07-24 10:55] ravage84 commented on #638
Let's start with level one and slowly go up.

[2019-07-24 11:19] szepeviktor commented on #638
Here you are

[code]

I think the cause is namespace in PHPDoc types.

[2019-07-25 03:54] JeroenDeDauw commented on #638
The code causing the warnings has the form `@return array<ASTStatement>` instead of @return ASTStatement[]`

[2019-07-25 05:44] szepeviktor commented on #638
I think it should be `\namespace\absolute\...\ASTStatement`

[2019-07-25 06:04] JeroenDeDauw commented on #638
Yeah you're right, the class name is not imported. I'd go for importing it rather than putting the FQN in the comments.

[2019-07-26 07:24] kylekatarnls commented on #638
The PR did not solve it as we do not import `use PDepend\Source\AST\ASTStatement;`

[2019-07-26 07:31] kylekatarnls commented on #638
#640 gives me `[OK] No errors` output.

[2019-07-28 16:00] ravage84 commented on #321
Closed through merging #636

[2019-07-28 16:00] #321 closed

[2019-07-31 10:45] luckyraul commented on #321
These rule in default checks is nonsense.

[2019-07-31 10:52] kylekatarnls commented on #321
Nope, add `use Exception;` at the top of the file if you use it is a best practice. Using `\Exception` is a mess. If you have an other opinion, you can disable the rule but there is no doubt it has its place in default configuration.

[2019-08-01 09:37] dakorpar commented on #637
I could try, but from what I saw rule only reads cbo metric, so not really sure where to implement this and how

[2019-08-01 10:08] kylekatarnls commented on #637
Good point, so the options are: rewrite the rule using some `collect*` (manually count the `use` at the top of the file). Or edit PDepend to have some ignore filtering in CBO. I guess the first option is more relevant.

[2019-08-02 00:45] eeyon opened #647 "upgraded, now getting: "Property "ignorepattern" does not exist.""
upgraded phpmd to latest(3.4.2) using composer and now our tests fail with:
```Property "ignorepattern" does not exist.```
I cant seem to find anything in the changelog dictating what changes i need to make to our configs while upgrading or that there were breaking changes(could have missed it through).

Any ideas on what changes i need to make or ideas on where to start debugging this to get our

[2019-08-02 06:08] kylekatarnls commented on #647
Hi @eeyon, 3.4.2 does not exist. Can you show your **phpmd.xml** to see which rule use this property?

[2019-08-02 09:50] jandreasn commented on #549
This is really annoying because we can't suppress an unexpected token error.

[2019-08-02 09:53] kylekatarnls commented on #549
Will be fixed via #383

[2019-08-02 09:53] #549 closed

[2019-08-02 16:33] kylekatarnls commented on #549
Note, than you can test this development using `"phpmd/phpmd": "dev-php-7.1-compatibility"`

[2019-08-05 09:59] ravage84 opened #649 "Issue template do not work"
When I create a new issue, I should see the new [issue templates](https://github.com/phpmd/phpmd/pull/635) now, shouldn't I?
I see nothing new, though.

[2019-08-05 10:01] ravage84 opened #650 "Property Lists get merged together on Website"
In PR #329 a new property "exceptions" was added:
https://github.com/phpmd/phpmd/pull/329/files#diff-79d71ab57c2216abee5b7c50bb4c04f1

It get's merged with the other one, though, on the website:
https://phpmd.org/rules/unusedcode.html#unusedlocalvariable

Same for ShortVariables:
https://phpmd.org/rules/naming.html#shortvariable

[2019-08-05 12:06] #649 closed

[2019-08-05 13:12] kylekatarnls commented on #650
I'm looking for the right way to display tables.

We should move on a markdown compiler.

[2019-08-05 13:44] kylekatarnls commented on #650
I will probably need to customize the RST parser to handle properly them. But ti will conflicts with #624

[2019-08-05 19:18] #650 closed

[2019-08-05 20:31] #464 closed

[2019-08-05 21:08] dehrk commented on #589
I'm also getting "parser has reached an invalid state" for syntax like `[, $name] = $matches;`

[2019-08-06 02:00] kiler129 commented on #589
We finally switched to PhpStan since the functionality is just so much more extensive.

[2019-08-06 05:51] kylekatarnls commented on #589
It will be fixed soon: https://github.com/pdepend/pdepend/pull/383

[2019-08-07 09:39] tvbeek commented on #647
@eeyon I assign this issue to you because we need more input to reconstruct the issue. After that input we can (try to) solve your problem.

[2019-08-08 09:42] Jir4 opened #655 "Type in IfStatementAssignment violation message"
- PHPMD version: 2.7.0

### Current Behavior
Got :
Avoid assigning values to variables in if clauses and the like (line '38', column '78').

### Expected Behavior
Got:
Avoid assigning values to variables in if clauses and the like (line '78', column '38').

### Steps To Reproduce:
Raise a IfStatementAssignment violation

As seen here : https://github.com/phpmd/phpmd/blob/3a82eab4eff9fa09c001be1111

[2019-08-08 21:42] #655 closed

[2019-08-09 08:47] SailorMax opened #658 "Deprecated: implode(): Passing glue string after array is deprecated."
- PHPMD version: 2.7.0
- PHP Version: 7.4.0b2
- Installation type: phar file
- Operating System / Distribution & Version: Windows 10

### Current Behavior
Deprecated: implode(): Passing glue string after array is deprecated. Swap the parameters in phar://phpmd.phar/src/main/php/PHPMD/RuleSetFactory.php on line 575

### Expected Behavior
no warnings

### Steps To Reproduce:
validate any php-file

#

[2019-08-09 08:51] kylekatarnls commented on #658
Confirmed since 7.4.0beta1 (not present in alpha versions).

Thanks for the notice @SailorMax if you want to fix it, we would be glad to merge your PR.

[2019-08-09 14:40] SailorMax commented on #658
Thanks, but I leave it to collaborators with pre-installed local infrastructure.
I not ready to spend so much time for so small fix. May be next time :)

[2019-08-09 14:49] kylekatarnls commented on #658
For the record, GitHub has online editor https://github.com/phpmd/phpmd/edit/master/src/main/php/PHPMD/RuleSetFactory.php

And all changes will be checked automatically by Travis-CI, and manually reviewed by us, so it's fine to use it for safe small changes.

[2019-08-09 15:29] SailorMax commented on #658
Here is my first try of online patch: https://github.com/phpmd/phpmd/pull/659
thanks! :)

[2019-08-09 15:45] #658 closed

[2019-08-13 16:02] leewillis77 opened #661 "IfStatementAssignment thrown incorrectly"
- PHPMD version: 2.7.0
- PHP Version: 7.1.30
- Installation type: composer
- Operating System / Distribution & Version: MacOS Mojave

### Current Behavior
Sample code below throws two IfStatementAssignment errors.
[code]
The errors reported are:
test.php:3	Avoid assigning values to variables in if clauses and the like (line '13', column '7').
test.php:3	Avoid assigning values to variables in if cl

[2019-08-14 12:30] kylekatarnls commented on #661
I tried to get a minimum code chunk to reproduce the bug and get it with:
[code]

Minimum tokens needed seem to be: a statement, a function/method call with a closure parameter, an assignation inside the closure.

[2019-08-15 17:50] goodevilgenius commented on #569
I also get the error "Unexpected token: |" when the code is like:

[code]

That error doesn't occur when installed through composer.

[2019-08-15 20:44] tvbeek commented on #569
@goodevilgenius Thanks for the feedback, I suspect there is a bug in the creation of the phar file.

[2019-08-17 19:45] #65 closed

[2019-08-19 07:17] wernerdweight commented on #661
Is there any estimation on when 2.7.1 (fixes this) could be released?

[2019-08-19 11:59] kylekatarnls commented on #473
HHVM is officially abandoned from PHPMD supported PHP versions.

[2019-08-19 11:59] #473 closed

[2019-08-19 12:32] kylekatarnls commented on #661
We just starting to work on it: #668

[2019-08-23 20:07] DanielSchwiperich commented on #424
It works fine when doing it this way:

phpmd-ruleset.xml
[code]

I think this issue can be closed

[2019-08-23 20:08] #424 closed

[2019-08-23 20:09] ravage84 commented on #424
Thank you @danielschwiperich

[2019-08-24 01:36] koriym commented on #536
Would be nice!

[2019-08-28 18:29] leandromacedo commented on #534
Any news regarding this? This would be really useful!

[2019-08-29 08:14] vceratti opened #670 "Standards for minimum/maximum properties"
## Issue
The configurations for every rule is different and is confusing to understand all of them when there is no clear standard (#588). Also, individual PRs (#578) change the parameters name in minor versions, breaking our checks. In case of maximum values, the reporting works by checking `value > maximum`, while the minimum works with `value <= minimum`

I've made a list of maximum and minimum

[2019-08-29 13:13] kylekatarnls commented on #670
I approve your proposal 2. and it seems perfectly fine to me to keep `minimum` naming for `ShortMethodName`, `ShortVariable`

We're aware of this, that's why we noticed it:

Note than adding a rule may also break your check. In fact if we want to guarantee that check would still pass after an update would be force users to white-list rules rather having by default all rules because any non-optiona

[2019-08-29 13:22] tvbeek commented on #534
There is currently not any active plan to implement this. But feel free to create a PR for this function.

[2019-08-29 13:24] tvbeek commented on #670
@vceratti thanks for pointing out, I think it is a good idea to streamline this in the next major version.
My personal vote is for 2.

[2019-09-02 19:29] prytoegrian commented on #670
My preference also goes to 2.

[2019-09-03 11:57] tvbeek commented on #600
@mlewis-everley Thanks for reporting, I have a small question. Can you do 2 things for me?

1. Verify if you got the same problem with PHPMD 2.7
2. And if you still get it, can you try what happen if you add the `@SuppressWarnings` to the class docblock?

The first can help is in preventing searching for a bug that is maybe already fixed. The second can help us to find out if it totally didn't wor

[2019-09-03 12:35] kylekatarnls commented on #661
Thanks for your help @leewillis77 it will be fixed in the next release, you can test it with the `dev-master` version.

[2019-09-03 12:58] leewillis77 commented on #661
While the test cases posted here seem no longer to throw the error, I'm still seeing this error generated with my *actual* code.

I'm going to see if I can produce an alternative test case, would you prefer to re-open this issue, or would you prefer me to open a fresh one?

[2019-09-03 13:13] leewillis77 commented on #661
Examples below:

## Does NOT throw the error
[code]

## Throws an error, but should not
[code]

## Cut-down version of real code that throws error, but should not
[code]

[2019-09-03 18:00] #336 closed

[2019-09-03 21:06] dakorpar commented on #637
I believe just counting use is not enough, this needs to check all code... sometimes there can be FQN in code and then this won't work

[2019-09-04 07:50] kylekatarnls commented on #661
I found the actual problem. I will fix it.

[2019-09-05 08:04] #661 closed

[2019-09-05 08:05] tvbeek commented on #661
@leewillis77 with thanks to @kylekatarnls there is a new fix on master. Can you verify it?

[2019-09-05 08:55] leewillis77 commented on #661
Perfect - that no longer throws those errors on my test code, or the real code that triggered this initially. Thanks!

[2019-09-05 09:05] leewillis77 opened #672 "CleanCode\UndefinedVariable thrown unnecessarily with preg_match_all()"
- PHPMD version: dev-master (SHA b9eaa0fe7f38c1f017a5ed8564f1cd63d136ed2c)
- PHP Version: 7.1.31
- Installation type: composer
- Operating System / Distribution & Version: MacOS X

### Current Behavior
UndefinedVariable error thrown unnecessarily when variable is guaranteed to be defined by `preg_match_all()`

### Expected Behavior
UndefinedVariable error not thrown for third argument to `preg_mat

[2019-09-05 09:40] kylekatarnls commented on #672
Thanks. It will probably need PDepend adjustments to detect passing by reference and interpret it as variable assignment instead of variable access.

[2019-09-05 15:51] leewillis77 commented on #672
It's strange that the second example doesn't flag it though if that's the issue?

[2019-09-05 16:12] kylekatarnls commented on #672
Most of the PHPMD rules assert that you follow the best practice: 1 file for 1 symbol (class or function). So rules start to list symbols and search into them. So rules like `UndefinedVariable` just skip the code that is not encapsulated.

As the project initially based its rules on PMD it even assumed that project uses OOP, this could be improved to support procedural-style files but it's not on

[2019-09-05 17:37] MarkVaughn commented on #672
the second example could be valid like so:
[code]
So phpmd doesn't know the context of your example.

[2019-09-08 18:39] mikebronner opened #673 "Incorrectly warning `Missing class import via use statement` for dynamic class instantiation."
- PHPMD version: 2.7.0
- PHP Version: 7.3.9
- Installation type: composer
- Operating System / Distribution & Version: Ubuntu 18.04

### Current Behavior
I get the following warning:
[code]

for the following code:
[code]

### Expected Behavior
There is no use of a specific class, as these are dynamic class instantiations. There is no way to import the class via a `use` statement.

### Steps To Re

[2019-09-09 12:24] cacahouwete opened #674 "Missing class import via use statement for trait with static::class"
- PHPMD version: 2.7.0
- PHP Version: 7.3.9
- Installation type: (composer)
- Operating System / Distribution & Version: (Ubuntu 18.04 => Docker => Debian GNU/Linux 9)

### Current Behavior
/app/src/Traits/EnumTrait.php:16        Missing class import via use statement (line '16', column '32').

### Expected Behavior
I expect that there are no error.

### Steps To Reproduce:
run phpmd on following

[2019-09-09 16:00] MarkVaughn commented on #674
This doesn't have to do with static::class, more that you are not importing ReflectionClass.
This passes with no error.

[code]

[2019-09-09 16:05] kylekatarnls commented on #674
Indeed it could be cool to have the name of the class in the message so we know which one is concerned if multiple class names in the same line (counting "column" position is not that easy).

[2019-09-24 13:59] henryju commented on #88
I'm no more working on this topic, so feel free to close this issue if you consider it as outdated.

[2019-09-24 14:08] tvbeek commented on #235
I suspect this could be set in the build script for the PHAR file.

[2019-09-24 14:10] tvbeek commented on #234
I close this issue because we didn't got any verification after a couple of years.
Feel free to reopen if this is relevant.

[2019-09-24 14:10] #234 closed

[2019-09-24 14:58] tvbeek commented on #314
This is now showed correctly: https://phpmd.org/rules/controversial.html so I close this issue.

[2019-09-24 14:58] #314 closed

[2019-09-24 15:01] tvbeek commented on #340
I see that the page is now updated with the missing part so I close this issue.

[2019-09-24 15:01] #340 closed

[2019-09-24 15:08] tvbeek commented on #377
Because we didn't got any response if this also is the case with the phar file and it is probably related to the available resources on the users PC I close this issue.
Feel free to reopen if it is something else.

[2019-09-24 15:12] #385 closed

[2019-09-24 15:15] tvbeek commented on #368
@Webysther is this fixed with the new ANSI output? (See: https://github.com/phpmd/phpmd/pull/595 )

[2019-09-24 15:19] tvbeek commented on #438
@pmiroslawski did you run it with the phar file or the composer package?

[2019-09-24 15:23] tvbeek commented on #462
@fidraj can you verify if this is fixed with the latest PHPMD release?

[2019-09-24 15:26] #463 closed

[2019-09-24 15:37] tvbeek commented on #508
@guoyu07 can you confirm that you missed the PHP extension?

[2019-09-24 15:40] tvbeek commented on #512
This is probably an issue that also need a change in [pdepend](https://github.com/pdepend/pdepend/), feel welcome to create a PR to fix this.

[2019-09-24 15:45] tvbeek commented on #519
@richardbrinkman can you verify this?

[2019-09-24 15:47] tvbeek commented on #522
@filipesperandio can you add some code to show how this behavior is created?

[2019-09-24 15:49] tvbeek commented on #526
@ajax13 can you verify this with the latest pdepend version? It should be fixed but I like to be sure before closing the issue.

[2019-09-24 15:55] tvbeek commented on #556
It depends on https://github.com/pdepend/pdepend/pull/383

[2019-09-24 15:56] tvbeek commented on #597
It depends on https://github.com/pdepend/pdepend/pull/383

[2019-09-24 15:57] tvbeek commented on #557
Thanks for the report, we are happy to accept a PR to fix this.

[2019-09-24 16:06] tvbeek commented on #591
Strange, can you explain the PHPMD version and your OS? I'm running PHP 7.3 but can't verify this.

[2019-09-24 16:10] tvbeek commented on #596
I suspect this is a problem with [PDepend](https://github.com/pdepend/pdepend/), could you create an issue in that repository?

[2019-09-24 16:17] tvbeek commented on #673
@mikebronner thanks for your issue. It is an interesting one, I think the rule need to skip variable classes because there is no way to tell if we can find it or not.

[2019-09-24 16:18] tvbeek commented on #674
@cacahouwete can you verify that the ReflectionClass is the problem?
Naming the class in the message is a good addition but a separated issue so I like to close this issue if the ReflectionClass is the problem.

[2019-09-24 16:23] tvbeek commented on #514
Good  point, it is a problem in the Command and PHPMD classes that don't check if we have any error.

[2019-09-24 16:28] tvbeek commented on #415
@azzeddinefaik can you explain how you got this error? Then we can verify and try to fix it.

[2019-09-24 16:55] filipesperandio commented on #522
Gosh, this is an old one.
I was working at integrating this with CodeClimate and haven't came back here since then, so I barely recall what this was about.

I assume we can reproduce the problem with the explanation in the description.
If I recall, I was expecting it to warn or generate a violation, but instead it was breaking with an error.
If this is not reproducible anymore I am glad to just cl

[2019-09-24 17:32] kylekatarnls commented on #96
Indeed we no longer have `src\main\xml`, this is obsolete. Thanks for the check.

[2019-09-24 17:32] #96 closed

[2019-09-24 17:35] kylekatarnls commented on #88
I think we should not multiply the exports variants. Now our build process in the source code so anyone is free to create his own process from it and create his own phar with different options. I would rather close this issue.

[2019-09-24 17:40] kylekatarnls commented on #438
I can't reproduce either, as pdepend/pdepend#350 was merged, this was probably fixed since.

[2019-09-24 17:40] #438 closed

[2019-09-24 18:02] kylekatarnls commented on #512
This will be fixed in https://github.com/pdepend/pdepend/pull/383
As you can see here:
https://github.com/pdepend/pdepend/pull/383/files#diff-eea33dc8e05dbef887669deda40a18e5

[2019-09-24 18:03] kylekatarnls commented on #519
I can't reproduce I use `??` with no incompatibility when running PHPMD. I think it has been fixed in PDepend since.

[2019-09-24 18:20] kylekatarnls commented on #556
Sadly pdepend/pdepend#383 will not be enough, I tested with `dev-php-7.1-compatibility` and the unexpected token is still there. It should be handled afterward.

In fact, the `token_get_all` itself produces this misleading result:
https://3v4l.org/rk6uH

After function, the tokenizer should give us a T_STRING, but it actually gives a T_EMPTY. That means the PHP parser handle it while it should be

[2019-09-24 18:28] kylekatarnls commented on #597
Sadly pdepend/pdepend#383 will not be enough, I tested with `dev-php-7.1-compatibility` and the unexpected token is still there. It should be handled afterward.

In fact, the `token_get_all` itself produces this misleading result:
https://3v4l.org/rk6uH

After function, the tokenizer should give us a T_STRING, but it actually gives a T_EMPTY. That means the PHP parser handle it while it should be

[2019-09-25 05:19] richardbrinkman commented on #519
The error does not appear any more.

[2019-09-25 05:19] #519 closed

[2019-09-25 06:28] bellingard commented on #88
This issue is definitely outdated, please feel free to close.

[2019-09-25 07:01] kylekatarnls commented on #530
Hi, this XML is a report, not a ruleset. Examples of ruleset files are here:
https://phpmd.org/documentation/creating-a-ruleset.html

[2019-09-25 07:02] #88 closed

[2019-09-25 08:04] tvbeek commented on #488
While we do something on this page I think we can directly check why this page has some render problems: https://phpmd.org/people-behind.html

[2019-09-25 19:07] DannyvdSluijs commented on #530
@kylekatarnls that is exactly the issue as the line above reads:

So either the line above is wrong and needs correction or the example needs replacing. In now see my report wasn't to clear on the details.
An alternative description could be

[2019-09-26 09:20] kylekatarnls commented on #530
Thanks.

rulesets/codesize.xml is an internal ruleset, you don't need to create this file to use it.

For example you can create a ruleset.xml file as below:
[code]

Then if you have an `src` directory and want to get a text output, you can enter in your CLI:
[code]

I agree the doc is not clear enough. The documentation can be modified here:
https://github.com/phpmd/phpmd/blob/master/src/site/rst

[2019-10-08 00:07] fernandoval opened #676 "phpmd ignore SuppressWarnings(PHPMD.CountInLoopExpression) inside class"
- PHPMD version: 2.7.0
- PHP Version: 7.2.19
- Installation type: composer
- Operating System / Distribution & Version: Ubuntu 18.04.3

### Current Behavior
Receiving "Avoid using count() function in while loops" warning message.

### Expected Behavior
No error messages.

### Steps To Reproduce:
If comment @SuppressWarnings(PHPMD.CountInLoopExpression) is in class comment block no warning message

[2019-10-08 05:57] kylekatarnls commented on #676
Hi @fernandoval, please dump the code so we can reproduce it.

Did you check the PHPDoc comment has the valid syntax with 2 stars: `/** ... */`?

[2019-10-08 12:40] fernandoval commented on #676
Sample of code where commet works:

[code]

Sample where comment does not works:

[code]

[2019-10-08 15:48] kylekatarnls commented on #676
Bug reproduced. Fix #677 proposed.

[2019-10-08 16:03] drmmr763 opened #678 "IfStatementAssignment False Positives on Function Signature"
- PHPMD version: 2.7.0
- PHP Version: PHP 7.2.19
- Installation type: composer
- Operating System / Distribution & Version: (Windows 10 / CentOS 7.6 / ...): Ubuntu

### Current Behavior
Rule `ifstatementassignment` is thrown on a function signature that does not contain any if-statement assignments.

Full Function where Rule is Thrown:
[code]

### Expected Behavior
The rule should not be thrown in

[2019-10-08 16:19] kylekatarnls commented on #678
Hi, this is fixed and will be released in 2.7.1. See #661

Thanks.

[2019-10-08 16:19] #678 closed

[2019-10-08 17:05] drmmr763 commented on #678
Thanks! Sorry for the duplicate. I saw those but thought they were fixed in 2.7.0.

[2019-10-08 17:38] kylekatarnls commented on #678
Try to require `"phpmd/phpmd": "dev-master"`, if you have your bug with it, I would re-open the issue.

[2019-10-08 20:28] #676 closed

[2019-10-09 17:31] james-a-henderson opened #681 "Rule violations not detected for procedural code"
- PHPMD version: 2.7.0
- PHP Version: 7.0.30
- Installation type: composer
- Operating System / Distribution & Version: Windows 10

### Current Behavior
PHPMD does not detect errors located within Slim route. PHPMD correctly detects errors on other code within the same file, but not within the Slim route. Here's an example:

[code]

### Expected Behavior
PHPMD rule violations should be detected wi

[2019-10-09 22:57] MarkVaughn commented on #681
I'm not able to test this right now but can this be reduced to

[code]

[2019-10-10 15:07] james-a-henderson commented on #681
@MarkVaughn I just tried that, and that wasn't working either. I think it has something to do with closures. Unfortunately, even if the solution did work, that would still be an issue. I'm trying to add PHPMD to an existing application, and I'm not going to modify hundreds of existing Slim routes to get linting.

[2019-10-13 09:16] kylekatarnls commented on #681
For all the rules, we check only the symbols of the files (functions/classes/traits). Code outside of symbols is not analyzed by the parser.

We sure could improve this to handle procedural code.

But meanwhile, as it's a best practice, please consider putting a maximum of your code into classes. With Slim it's also possible for routes:

[code]

This will trigger the PHPMD rules and using controll

[2019-10-18 09:11] pawelkg opened #683 "IfStatementAssignment error message have switched lines and columns."
- PHPMD version: 2.7.0
- PHP Version: 7.3.6
- Installation type: composer
- Operating System / Distribution & Version: Windows 10

### Current Behavior
I get errors:
C:\Projects\sitemap\src\Helpers\Url.php:31      Avoid assigning values to variables in if clauses and the like (line '17', column '90').
C:\Projects\sitemap\src\Helpers\Url.php:31      Avoid assigning values to variables in if clauses

[2019-10-18 09:14] kylekatarnls commented on #683
Hi @pawelkg, it will be fixed in 2.7.1 thanks to @Jir4:
https://github.com/phpmd/phpmd/pull/657/files

[2019-10-18 09:14] #683 closed

[2019-10-19 09:11] pawelkg commented on #683
Great. Please tell me also should this code produce such a message?

[2019-10-19 09:14] kylekatarnls commented on #683
Sorry, no it should not throw it, that is an other already fixed bug: #661

[2019-10-19 11:04] kylekatarnls commented on #647
I'm closing this as lacking infos. Feel free to complete and I will re-open

[2019-10-19 11:04] #647 closed

[2019-10-19 11:23] kylekatarnls commented on #569
Will be fixed in 2.8.0 release.

[2019-10-19 11:23] #569 closed

[2019-10-19 11:29] kylekatarnls commented on #520
Fixed in 2.8.0

[2019-10-19 11:29] #520 closed

[2019-10-19 11:30] kylekatarnls commented on #516
Fixed in PDepend 2.5.1.

[2019-10-19 11:30] #516 closed

[2019-10-19 11:39] kylekatarnls commented on #515
By marking an argument as mandatory, the interface expect you to use it. If the interface is properly done, and does allow to omit `$bar` and `$baz`, it means they both should be taken into account to implement `foo()`.

Either, the interface should relax: `public function foo($bar = null, $baz = null);` so your explicitly not required to use them. Or it's the sign your implementation of the metho

[2019-10-19 11:44] kylekatarnls commented on #546
So it also requires us to extends **ruleset_xml_schema.xsd** and publish our own xsd file for PHPMD ruleset format.

[2019-10-19 11:47] kylekatarnls commented on #522
Hi @filipesperandio. I close this for now, but if you can reproduce it, let us now and I will re-open.

[2019-10-19 11:47] #522 closed

[2019-10-19 11:49] kylekatarnls commented on #508
@guoyu07 We will assume the extension missed. But if not, let us know and I will re-open.

[2019-10-19 11:49] #508 closed

[2019-10-19 12:04] kylekatarnls commented on #505
It's have been labelled as a bug, but I don't think it is. I don't find anywhere in the documentation where we mention `@SuppressWarnings()` can be put after the code/method where it should supress the warnings.

And I don't think we should support this feature.

If `@SuppressWarnings()` can be put before or after the code that violate the rule, then in many case, it will be unclear what part of t

[2019-10-19 12:04] #505 closed

[2019-10-19 12:35] heiglandreas commented on #515
The interface might expect me to use it. But it is my implementation that decides whether to use it due to a special use case. So there is no way that "my implementation is incomplete" as that is entirely an implementation detail.

To illustrate that a small example.

Imagine a PSR15 based middleware that shall shortcut the Middleware-Pipeline in case of maintenance. So I would implement a Mainten

[2019-10-19 12:47] kylekatarnls commented on #515
Yep indeed. Relevant.

[2019-10-19 13:08] kylekatarnls commented on #466
In fact this is copying value inside the variable and it's not needed. I know it's not your fault. It's the way the function is designed. But maybe it's the sign the function is not designed for your usage. Maybe `system()` or `passthru()` that has `$command` and `$return_val` but not `$output` (muted by ob_start) are a better fit.

I think those particular cases may be better to be suppressed man

[2019-10-19 13:10] kylekatarnls commented on #465
Will be fixed in the next version of PDepend thanks to @Nacoma https://github.com/pdepend/pdepend/pull/381

[2019-10-19 13:10] #465 closed

[2019-10-19 13:11] kylekatarnls commented on #462
This is fixed in PDepend 2.5.1

[2019-10-19 13:11] #462 closed

[2019-10-19 13:13] #444 closed

[2019-10-19 13:17] kylekatarnls commented on #415
@azzeddinefaik I close this as not reproductible but if you can provide an example to get this error, I would re-open.

[2019-10-19 13:17] #415 closed

[2019-10-19 13:19] kylekatarnls commented on #390
I don't have any warning using the same code. So I assume it's fixed yet. If you still have the issue, please provide a minimal code chunk to get the incorrect warning and I will re-open.

[2019-10-19 13:19] #390 closed

[2019-10-19 13:24] kylekatarnls commented on #375
Both XML are supposed to be compatible (same XSD), you could in theory merge files from both PMD and PHPMD in a project using both Java and PHP (I known, I know, looks like Si-Fi scenario), and the whole thing would be the list of violations of your project with no consideration of the language (file extension would be enough to know).

So it should be done only with an attribute (or additional ta

[2019-10-19 13:27] kylekatarnls commented on #370
Usage seems fair to me. The `public function getComment()` method would be a valid PR for me. About the null value, it requires a fix in PDepend.

[2019-10-19 13:31] kylekatarnls commented on #346
I can't reproduce it with PHPMD 2.7.0. Please if you can still reproduce using latest PHPMD and PDepend please give a minimal code chunk to reproduce it.

Thanks.

[2019-10-19 13:31] #346 closed

[2019-10-19 13:46] kylekatarnls commented on #341
Hum, the best practice here would be to write variable names in English as English code is the more readable and reusable internationally. This could even deserve an other rule such as "Using only English dictionary words in variables names". Then in fact, considering UTF-8 support a symbol may be neither lower nor upper, or worst, it can be upper in a given locale and lower in an other. If a new

[2019-10-19 13:55] kylekatarnls commented on #332
Seems phar-related issue and not reproductible with our latest phpmd.phar.

[2019-10-19 13:55] #332 closed

[2019-10-19 15:14] kylekatarnls commented on #296
I don't think so, you're case is an exception because it returns 1 closure so we may exclude this closure. But in many case, this would just hide actual complexity:

With the following code:
[code]

Changing it using closure this way:
[code]

Obviously, this does not reduce the complexity of `foo()` so you should get at least an as big NPath.

The only right way to reduce complexity is to use non-

[2019-10-19 15:20] kylekatarnls commented on #235
For the record, it's not replaced either using `./vendor/bin/phpmd`

[2019-10-19 15:25] kylekatarnls commented on #209
I can't reproduce it on Windows 10. Regarding the given errors and the close end of life of Windows 7, I propose to drop this issue.

[2019-10-19 15:25] #209 closed

[2019-10-19 15:51] kylekatarnls commented on #493
The same happens for ShortVariable too:
https://github.com/phpmd/phpmd/issues/337#issuecomment-208363809

[2019-10-19 15:56] kylekatarnls commented on #600
I confirm this happens in PHPMD 2.7.0 and I confirm both `@SuppressWarnings(unused)` and `@SuppressWarnings(PHPMD.UnusedPrivateField)` correctly suppress the warning it put on the class doc block but not at property level.

[2019-10-19 16:00] kylekatarnls commented on #337
We have 3 different bugs here:

Original bug of this stream:
[code]
Fixed.

[code]

The rule ShortVariable doesn't have the @SuppressWarnings proper support. And LongVariable has the same bug: #493. Those 2 rules are similar, so let track this issue in #493.

And the previous comment https://github.com/phpmd/phpmd/issues/337#issuecomment-439609957
It was discussed here: #441

I confirm it's still

[2019-10-19 16:02] kylekatarnls commented on #171
It's very old and as our to-do list is pretty big, we can't handle this. If someone want to do a PR for this, we would reconsider.

[2019-10-19 16:02] #171 closed

[2019-10-19 16:06] kylekatarnls commented on #153
Indeed this issue is the same as https://github.com/pdepend/pdepend/issues/154 and has been fixed in PDepend.

[2019-10-19 16:06] #153 closed

[2019-10-19 16:07] kylekatarnls commented on #138
We have not enough details here, and it's more likely obsolete now. So I close.

[2019-10-19 16:07] #138 closed

[2019-10-19 16:25] kylekatarnls commented on #134
I'm not sure we could (and should) fix this. I highly recommend the following syntax:

[code]

I know, it's more verbose but it has many benefits:
- I can click on ->foo with my favorite IDE and reach the function definition, even modern ones can't find the declaration for `[$this, 'foo']` this syntax defeat them as much PHPMD.
- The number of parameters passed are controlled: imagine the followin

[2019-10-19 16:29] kylekatarnls commented on #124
Ternary NPapth calculation has been fixed in PDepend 2.3.0.

[2019-10-19 16:29] #124 closed

[2019-10-19 16:56] kylekatarnls commented on #107
Indeed, despite this one is very old the `ExcessiveClassLength` is not relevant today. The default value of 1000 lines is incredibly high probably because comments and blank lines are taken into account by default.

Indeed `ignore-whitespace` ignore lonely `{` or `}`, blank lines and comments. This option actually solves the issue here. In the next major/minor (to be discussed), ignoring those lin

[2019-10-19 17:01] kylekatarnls commented on #89
[code]

Gives me the same complexity (11) than:
[code]

So this has been fixed yet.

[2019-10-19 17:01] #89 closed

[2019-10-19 17:07] kylekatarnls commented on #72
I just created a renderer (exact copy of TextRender) and just add the className in the report:

[code]

And the class name was properly displayed so I guess this is yet fixed.

[2019-10-19 17:07] #72 closed

[2019-10-19 17:12] tarlepp commented on #134
Yeah that is one way to avoid this error, but eg. psalm detects this correctly - https://psalm.dev/r/39a23b2e83

[2019-10-19 17:17] kylekatarnls commented on #44
`protected` could be the default. And as I'm browsing private rule methods, I find some duplicates like the getExceptionsList. If those methods would be in the AbstractRule, it would help to create new rules too.

But passing methods to `protected` would be a good start.

[2019-10-19 17:46] kylekatarnls commented on #134
But it does not with the example of dynamic ones:
https://psalm.dev/r/b86e124d51

(Even when this is actually static like in this example). And we won't implementing it just because an other tool do.

Don't misunderstand me. I'm not saying you should use closure as a work-around to avoid this error, I say you should avoid this pattern for the 4 reasons given above. Referring methods using the arra

[2019-10-19 17:49] tarlepp commented on #134
Yeah I see your point there. What about using detailed error message with this to show people how to avoid this one?

[2019-10-19 18:09] ovcharenkovv commented on #516
Thank you mate.

[2019-10-19 20:37] tvbeek commented on #341
I agree with @kylekatarnls I have some bad experience with special characters in variable name that results in bugs because it wasn't supported everywhere. So I close this.

Feel free to reopen if you have a good case where it is valid.

[2019-10-19 20:37] #341 closed

[2019-10-20 16:35] ravage84 commented on #515
@heiglandreas in your PSR-15 example, it would take one line to suppress the warning.
I agree, sometimes, like in your example, you simply don't need all or any parameter. But in such cases add a suppression and good you are. This also documents the specific intent not to use the parameters.

[2019-10-20 16:45] ravage84 commented on #681
I think this problem was mentioned before in other issues. Can we (the maintainers) please link this to similar reported issues and then close all issues except the one that reports the problem the best way?

[2019-10-20 17:36] ravage84 commented on #341
While I agree with @kylekatarnls & @tvbeek that one _should not_ use UTF-8 names in PHP, the language aparently allows it. Thus I think PHPMD schould not trigger errors in such cases.

But I'd also love to have a rule for non ASCII names in PHPMD.  :+1:

[2019-10-20 18:04] ravage84 commented on #493
@MacSim75 agreed.

@kylekatarnls yes, I just verified that, too. I think we should allow to suppress on property level.

[2019-10-20 20:31] tvbeek commented on #515
I think we need to be clear that the rules are not holy rules. It is possible to ignore it on a specific position. In my team we do that and write why so it is clear for other people.

I think the example from @heiglandreas is a good example about a place to ignore it. Maybe we need to take a look at the documentation to see how we can make it clear that it is possible to ignore rules on specific

[2019-10-21 07:50] SailorMax commented on #505
Then why we have not warning for function Func1()?
Does functions and methods has different rules?

[2019-10-21 13:29] kylekatarnls commented on #505
Func1() warning should not be suppressed as the documentation does not mention this syntax: https://phpmd.org/documentation/suppress-warnings.html

We will discuss about supporting the suppression at the end of the line, but you should better use the method/function doc block instead. For example UnusedLocalVariable only works with doc blocks.

So I guess if we change it in the future, we'll more

[2019-10-21 16:14] TRPB commented on #296
Most of the time anonymous functions are used, they are passed into a different method to be called. Your example above would be in the minority, at least where I've seen anonymous functions used. Defining them and calling them in the same location rather defeats the purpose of having them.

Consider:
[code]

It can also be expressed as

[code]

but is often less clear. The result is identical and

[2019-10-21 17:04] kylekatarnls commented on #296
"less clear"? You find anonymous function more clear than named methods?

Returning a closure could be an example of good exception, but your example is exactly the kind of thing the complexity count try to help you to avoid.

If the complexity is counted by method, it's because a method/function is an atomic process you can test on its own, you can give it a name that explain what it does and a P

[2019-10-21 17:12] kylekatarnls commented on #296
An other example that makes it clear closures do not reduce complexity is nesting:

[code]
Are you sure parseItems complexity should be `1`? I don't think so.

[2019-10-21 17:51] kylekatarnls commented on #296
I see ESLint and JSHint does not count it this way. I don't see the point of using complexity metric if replacing foreach with array_map (or for..in with .map in JS) make your function magically fall under the expected maximum. For me it's completely artificial.

The following:
[code]
gives me `3`, while:
[code]
gives me `2`. It's absurd, I did not reduce the complexity by encapsulating the second

[2019-10-25 07:20] jakzal commented on #296
I agree with @kylekatarnls here. Complexity of a method is calculated based on its method's body. An anonymous function declared inside a method's body is indeed part of it.

Otherwise the anonymous' function complexity wouldn't be accounted for anywhere. You'd be able to game the system to get CC of 1 by enclosing complex methods in anonymous functions.

[2019-10-28 17:21] dehrk opened #687 "Possible CleanCode/BooleanArgumentFlag.php Bug"
Should this rule be adding a violation on private methods? If it's only being called from inside the class, wouldn't that mean that responsibility is still "entirely encapsulated by the class"?

[2019-10-28 17:30] kylekatarnls commented on #687
Hi, first, please edit your issue to respect the issue pattern (https://github.com/phpmd/phpmd/issues/new?template=1_Bug.md) with missing informations.

Then I don't see a good example that would justify that private method could break this rule. It's about: 1 method serves 1 goal (private methods too).

If you gives a concrete example as suggested in the pattern, we could be able to see if your c

[2019-10-28 18:22] dehrk commented on #687
Thanks for the quick response. I can see your point there, so feel free to close this.

[2019-10-28 18:22] #687 closed

[2019-10-29 08:39] steffenbrand commented on #521
Seems like a phar is already being build and is attached tot he releases.
But `phive install phpmd/phpmd` fails.

[code]

This links says, that a valid pgp signature file would enable the phive installation:
https://phar.io/distribute-your-own.html

This link explains how to do it:
https://phar.io/howto/sign-and-upload-to-github.html

Generating, registering and attaching the file to a release doe

[2019-10-29 08:59] kylekatarnls commented on #521
This has to be done in the Travis-CI release process. The phar is built here:
https://github.com/phpmd/phpmd/blob/master/.travis.yml#L64

So this feature can be submitted as a pull-request.

[2019-10-29 09:55] steffenbrand commented on #521
Ok, I will try my best, but I'm not an experienced Travis user and I don't know how to instrument it properly.

Is there already a GPG key for phpmd that is registered with the keyserver?
And is `gpg`and the key available in the travis build?
If so, what's the email to use?

I would try to sign the phar like `gpg -u dunno@phpmd.org --detach-sign --output phpmd.phar.asc phpmd.phar`.

If `gpg` or th

[2019-10-29 10:01] kylekatarnls commented on #521
I will try my key.

[2019-10-31 09:02] tvbeek opened #693 "Missing documentation for Undefined Variable Rule"
## Description
While creating a changelog for 2.8.0 #692 @kylekatarnls found that we miss documentation for the new Undefined Variable Rule (Added with #497 )
This should be added and is a good issue for people who want to start.

## Checks before submitting
* [x] Be sure that there isn't already an issue about this. See: [Issues list](https://github.com/phpmd/phpmd/issues)
* [x] Be sure that ther

[2019-10-31 09:28] ravage84 opened #694 "PR template to close issues using keyword"
## Description
We have[ a template for PRs](https://github.com/phpmd/phpmd/blob/master/.github/PULL_REQUEST_TEMPLATE.md). GitHub allows to [automatically close related issues by mentioning them using some keywords](https://help.github.com/en/github/managing-your-work-on-github/closing-issues-using-keywords). I propose we change our PR template to include such a prepared text part.

[2019-10-31 18:15] #694 closed

[2019-11-03 06:11] fredericch commented on #436
Tried phpmd 2.7.0 (phar) with a php7.3 project. I still get `Unexpected token: const`

[2019-11-05 10:29] temp commented on #521
Can't you upload the key? phpmd can't be installed via phive for days now...

[2019-11-05 22:04] tvbeek commented on #521
It was never possible so it wasn't only not possible for days 😉

But I believe we need to have some patience because @ravage84 managed the key and is currently not available.

[2019-11-11 20:50] #693 closed

[2019-11-12 17:28] widoz commented on #279
I have the same problem, `pdepend/pdepend` is `2.5.2`, ` - Unexpected token: ..., line: 86, col: 44, ` I have a variadic method `public function __invoke(...$parameters)`

[2019-11-12 21:21] tvbeek commented on #279
@widoz can you create a new issue (referencing to this one) with your code example? And please use the bug template so we get more information to find out what the problem is.

[2019-11-19 09:44] alanpoulain commented on #592
This error will be solved when https://github.com/pdepend/pdepend/pull/383/files will be merged in pdepend.

[2019-11-28 09:49] tvanrielwendrich commented on #619
Hey, I hate bringing this up. But what is the exact reason for taking down the link and [still having the link on the Downloads page](https://phpmd.org/download/index.html#installing-as-a-phar)? I am relying on the static link for building a docker container with phpmd in it.

[2019-11-28 09:51] tvbeek commented on #619
@tvanrielwendrich That is a very good question and the reason that I created #682 to add a working phar link.

[2019-11-28 11:45] theseer commented on #521
Given that at least the current 2.7.0 release has a `.phar` and its matching `.phar.asc` available, the key used for signing is available on keyservers, the installation works just fine and technically this ticket could be closed.

Some minor things:
- You can register an alias - so installation works via `phive install phpmd` for instance. Simply supply a PR against the [phar.io's repository file

[2019-11-30 20:51] Rarst commented on #619
FYI if phar files are attached to github releases and consistently named, it's now possible to link to the file in latest release like this: https://github.com/phpmd/phpmd/releases/latest/download/phpmd.phar

[2019-12-01 10:24] kylekatarnls commented on #619
Hi @Rarst do you know if the GitHub "latest" will give us the higher number or latest date? And also if it excludes pre-releases?

[2019-12-01 10:44] Rarst commented on #619
It will be the release marked as "Latest release" on https://github.com/phpmd/phpmd/releases. They are ordered by _release_ date (not _tag_ date). Don't know how pre-releases are handled in regards to this.

[2019-12-01 11:04] kylekatarnls commented on #619
Indeed it can create some troubles for us. We will probably not stop maintaining 2.x when 3.0 will be released this means if we publish 2.9.0 after 3.0.0, the documentation link will take it. Same for a 2.8.1 patch we would release after 2.9.0.

But meanwhile, this link would be better than a dead link. So I propose to put it in the doc.

Thanks @Rarst!

[2019-12-02 02:53] Plopix opened #700 "Compliance PHP 7.4"
Hello, I was wondering what was the plan about making PHPMD works for PHP 7.4

So far I have tried and obviously type properties are not working we got:
[code]

but also destructuring does not make phpmd happy !

Thanks for maintaining!

[2019-12-02 07:02] kylekatarnls commented on #700
Hello,

Destructuring arrays will be fixed with: https://github.com/pdepend/pdepend/pull/383 the PDepend parser needs to be upgraded for each feature and we're catching up a long maintenance pause.

[2019-12-02 12:41] #589 closed

[2019-12-02 18:09] ravage84 commented on #521
@theseer

Done so in https://github.com/phar-io/phar.io/pull/70

[2019-12-02 18:11] ravage84 commented on #521
@theseer

Do you have a good example for that? Better we imitate some good example than to reinvent it badly.

[2019-12-02 18:16] ravage84 opened #701 "Document PHIVE Installation Option"
## Description

After https://github.com/phpmd/phpmd/issues/521, we should document the new installation option through PHIVE.

This could be added to the [Download section](https://phpmd.org/download/index.html).

I might have time for that some later moment.

## Checks before submitting

* [x] Be sure that there isn't already an issue about this. See: [Issues list](https://github.com/phpmd/phpmd

[2019-12-02 18:18] ravage84 commented on #521
Created an issue for adding the new installation option: https://github.com/phpmd/phpmd/issues/701

@kylekatarnls do you think our setup will work on future releases? If so, we can close this issue.

[2019-12-02 18:30] johnsaigle commented on #502
I'm having a similar issue with this code:

[code]

`_formatSeries()` here is flagged as unused but it is used as a callback.

[2019-12-03 13:04] MrSuit opened #702 "Missing ANSI renderer in version 2.7"
- PHPMD version: 2.7.0
- PHP Version: 7.3.0
- Installation type: composer
- Operating System / Distribution & Version: Debian/Buster 10.2

### Current Behavior
After passing as a second parameter ansi it shows me output below.

### Expected Behavior
A command line friendly format

### Steps To Reproduce:
Get version 2.7.0. and run
phpmd ./somedir ansi unusedcode

## Checks before submitting
* [x]

[2019-12-03 14:54] oliverklee opened #703 "Deprecation warning when running with PHP 7.4"
- PHPMD version: 2.7.0
- PHP Version: 7.4.0
- Installation type: (phar file/ composer)
- Operating System / Distribution & Version: (Windows 10 / CentOS 7.6 / ...)

### Current Behavior
https://travis-ci.org/MyIntervals/emogrifier/jobs/620153250?utm_medium=notification&utm_source=github_status
[code]

### Expected Behavior
No warnings

### Steps To Reproduce:
Run PHPMD on the Emogrifier project so

[2019-12-03 14:55] oliverklee commented on #703
Closing. I missed that this is a duplicate of #658.

[2019-12-03 14:55] #703 closed

[2019-12-03 17:12] kylekatarnls commented on #521
We will respect semver and you GitHub release so it's now the responsibility of Phive to ensure it properly downloads the higher stable version. So I close :)

[2019-12-03 17:12] #521 closed

[2019-12-03 21:33] MarkVaughn commented on #702
Hi,
This PR https://github.com/phpmd/phpmd/pull/595 was landed and is in 2.8 beta release

[2019-12-03 21:33] #702 closed

[2019-12-04 15:50] ttomdewit opened #704 "[REQUEST] Add flag to show full or short name"
# Support question

Thanks for all you do for the PHP community!

Would it be in the scope of this project to allow printing short filenames in the output?

For example, the current output is as follows:

[code]

What I'd personally need is as follows:

[code]

The changes I'm requesting can be found at files -> file and at https://github.com/phpmd/phpmd/blob/master/src/main/php/PHPMD/Renderer/JSO

[2019-12-04 16:17] tvbeek commented on #704
Hello Tom,

It is a nice idea to add this as an option. I think the most easy option is to add a command line option that strip the base directory from the filename.
The fullpath is set / fixed in the ASTCompilationUnit class from pdepend. (See: https://github.com/pdepend/pdepend/blob/master/src/main/php/PDepend/Source/AST/ASTCompilationUnit.php#L129 ) So it is more logic to trim the running path

[2019-12-05 09:42] ffmit commented on #317
Any chances to get this feature into the next release? :-)

From my beginner perspective, like mentioned above with phpcs' solution.
this really makes sense.

Because the most messed up files can be ignored temporarily to dig into the details using the less messy files.

[2019-12-05 09:44] ttomdewit commented on #704
I think it’d be best if we introduce a `file_name` key alongside the original `file`. What do you think, @tvbeek?

[2019-12-05 10:12] theseer commented on #521
A common (maybe best?) practice for publishing key IDs and fingerprints is the regular project website. For instance, we publish our ID and fingerprint in the footer of our website (https://phar.io). You can then simply refer to it at the installation docs so people have a means to look it up.

If you want to go real fancy, you can adopt the phar verification documentation that @sebastianbergmann

[2019-12-05 12:06] kylekatarnls commented on #704
Yes, good idea, `fileName` to respect the camelCase used in other keys. But this way, we avoid having a new option to document. :)

[2019-12-05 12:46] kylekatarnls commented on #317
We will probably not have it in 2.8.0. It's not a top-priority for the core team, but pull-requests are welcome. And landing in 2.9.0 remains probable.

[2019-12-05 12:53] BackEndTea opened #705 "XML isn't validated"
- PHPMD version: 2.7.0
- PHP Version: 7.3
- Installation type: composer
- Operating System / Distribution & Version: mac os

### Current Behavior

If i have the following rule in my xml
[code]
I never get an error for `NPathComplexity`. That is because `reportLevel` is the property for CC, not NPath.

### Expected Behavior
I would have expected PHPMD to report an invalid property on my rule.

###

[2019-12-05 13:00] ttomdewit commented on #704
Would you store this next to `file` or do you prefer it under the `violations` key? I’d personally store it next to `file`.

[2019-12-05 13:23] tvbeek commented on #704
Next to file sounds good for me. 👍

But maybe is fileName not a correct one, in your example I should suspect that fileName is Class.php. Maybe relativeFile or something like that.

[2019-12-05 13:33] kylekatarnls commented on #704
What about `baseName` referring https://www.php.net/manual/en/function.basename.php

[2019-12-05 13:40] ttomdewit commented on #704
I'd opt for `baseName` then.

[2019-12-05 13:50] tvbeek commented on #704
Perfect.

[2019-12-05 13:51] ttomdewit commented on #704
[code]

Currently outputs:

[code]

It strips out too much information, at the moment. I'll try and find the correct PHP function to use.

[2019-12-05 13:57] kylekatarnls commented on #704
Oups, my mistake, indeed baseName was not what we're looking for.

[2019-12-05 13:58] kylekatarnls commented on #705
Thanks, yes, XML validation errors would be great! I add this to 2.9 todo list. PRs are welcome.

[2019-12-05 14:04] ttomdewit commented on #704
Psalm does it as follows: https://github.com/vimeo/psalm/blob/a154191922d14dcdde8ef348520a88d735d82304/src/Psalm/Config.php#L1162 but I'm sure there must be an easy/easier way?

[2019-12-05 14:26] kylekatarnls commented on #704
It's about relative path (implicitly relative to current directory [getcwd](https://www.php.net/manual/en/function.getcwd.php) which is where you run the `phpmd` command.

And the Psalm solution will still return an absolute path for paths outside the baseDir (but I guess this case can't happen).

Relative path from 2 paths can be calculated this way:

[code]

This will be correct even if you run

[2019-12-05 14:28] kylekatarnls commented on #704
In our case `$this->fileName` is already a realpath and we may check if it's better to standardize output with `/`  separator for relative path or use the `DIRECTORY_SEPARATOR` to respect the OS settings. I vote  for `/` so this `relativePath` will be the same no matter in which OS it's ran.

[2019-12-05 14:31] ttomdewit commented on #704
I’ll give this a whirl in a bit. Cheers!

[2019-12-05 17:07] kylekatarnls commented on #421
Hi, this has been fixed in Hi, this is fixed in [pdepend/pdepend@2.6.0-beta.1](https://github.com/pdepend/pdepend/releases/tag/2.6.0-beta.1)

Note that last PHPMD.phar release does not yet contain this version of PDepend but you already can test it using `composer` (using `"beta"` as minimum-stability).

[2019-12-06 10:51] ttomdewit commented on #704
This did the trick in my initial test!

[code]

[code]

[2019-12-06 10:52] ttomdewit commented on #704
The new output is as follows:

[code]

[2019-12-06 12:26] kylekatarnls commented on #704
Thanks @ttomdewit! Would you be OK to create a pull-request for that and ideally add a unit test that cover this new feature? So you'll get your name on this contribution.

[2019-12-06 12:57] ttomdewit commented on #704
I would very much like that! I'll try and get that sorted today!

[2019-12-07 12:54] ttomdewit commented on #704
I started working on a PR: https://github.com/phpmd/phpmd/pull/706

[2019-12-08 10:57] kylekatarnls commented on #704
Thanks! In this PR we can focus on JSON renderer but I think some other renderers (like the XML one) may also benefit of this adding.

[2019-12-08 11:38] ttomdewit commented on #704
I agree. Maybe we can move the new method up so all renderers benefit from it?

[2019-12-08 21:42] jeroenrnl commented on #700
This is also a PHP7.4 incompatibility:
eprecated: implode(): Passing glue string after array is deprecated. Swap the parameters in /var/lib/jenkins/workspace/XXX/vendor/phpmd/phpmd/src/main/php/PHPMD/RuleSetFactory.php on line 575
https://wiki.php.net/rfc/deprecations_php_7_4#implode_parameter_order_mix

[2019-12-08 21:59] kylekatarnls commented on #700
Hi @jeroenrnl this is already fixed, please upgrade your version.

PHP 7.4 compliance is not about compatibility to run PHPMD (Last version of PHPMD can run on PHP 7.4 with no error or even deprecation as you can see in Travis-CI).

This issue is about the capacity of PDepend (static code analyzer of PHPMD) to understand all the new features of PHP 7.1 to 7.4, so the PRs above:
https://github.com/

[2019-12-08 22:00] kylekatarnls commented on #700
About the particular issue of typed properties, here is the PR that should fix it:
https://github.com/pdepend/pdepend/pull/414

[2019-12-21 21:23] kylekatarnls commented on #592
This is fixed since PDepend 2.6.0.

[2019-12-21 21:23] #592 closed

[2019-12-21 21:26] kylekatarnls commented on #591
I close this issue as we don't have enough information to resolve this issue, we would need the exact command and a minimum code example to reproduce the bug.

If someone can give those inputs, I will re-open.

[2019-12-21 21:26] #591 closed

[2019-12-22 11:48] kylekatarnls commented on #536
This has been solved in PDepend 2.6.0.

Running `phpmd test.php text naming` with the following code:
[code]

now properly output:
[code]

[2019-12-22 11:48] #536 closed

[2019-12-22 18:47] kylekatarnls commented on #526
`T_CHARACTER` is defined in PDepend since the version 2.2.0 so this should be fixed with the last version, if you can reproduce with the latest version, please give the new stack trace and the file you use to reproduce the bug and I will re-open.

[2019-12-22 18:47] #526 closed

[2019-12-22 18:55] kylekatarnls commented on #590
This has been fixed in 2.7.0.

[2019-12-22 18:55] #590 closed

[2019-12-23 15:04] kylekatarnls commented on #619
Static download is up again through the URL
https://phpmd.org/static/latest/phpmd.phar
Or for specific versions (from 2.6.1):
https://phpmd.org/static/2.7.0/phpmd.phar

[2019-12-23 15:04] #619 closed

[2019-12-24 12:57] matweew opened #714 "Undefined Variable Rule does not understand static class variables."
- PHPMD version: 2.8.0
- PHP Version: 7.2.25
- Installation type: composer
- Operating System / Distribution & Version: Debian 9.6

### Current Behavior
The new feature "Undefined Variable Rule" introduced in https://github.com/phpmd/phpmd/pull/497
 is not working with **static** class variables, such as
[code]
PhpMd triggers error message `Avoid using undefined variables such as '$cmsBlockBuffer'

[2019-12-26 08:42] rohanvakharia opened #715 "Version mismatch in the latest released phar file"
- PHPMD version: 2.8.0
- PHP Version: 7.2.26-1+ubuntu18.04.1+deb.sury.org+1
- Installation type: phar file
- Operating System / Distribution & Version: Ubuntu 18.04.3 LTS

### Current Behavior
`phpmd --version`
`PHPMD 2.7.0snapshot201912240943`

### Expected Behavior
`phpmd --version`
`PHPMD 2.8.0snapshot201912240943`

### Steps To Reproduce:
1. Downloaded phpmd.phar from the link `https://github.

[2019-12-26 18:59] ale7714 opened #717 "Missing txt docs for rules"
## Description

Ale from Code Climate here, we usually use the txt docs to pull down documentation for the rules. For example: http://phpmd.org/rules/cleancode.txt. I just noticed that these links are not longer accessible. Were they moved? or no longer available on txt format?

[2019-12-26 19:10] kylekatarnls commented on #717
Hi, indeed we (the new team) reworked the doc generation to use a more simple and easier system to contribute too. But we love your job and will try our best to give you a good API. Is pure text a requirement or would it ve better to have HTML, markdown or RST ?

[2019-12-26 19:36] ale7714 commented on #717
@kylekatarnls thank you so much for the quick followup! Our script assumes the file is in txt and parses the text following the structure the doc used to have. But we can do the same markdown or rst.

[2019-12-26 19:46] kylekatarnls commented on #717
Great, rigth now documentation sources lie in https://github.com/phpmd/phpmd/tree/master/src/site/rst as RST files. So wecould easily copy them and add links.

[2019-12-26 19:50] ale7714 commented on #717
@kylekatarnls that would definitely do the trick. Thanks!

[2019-12-29 09:39] kylekatarnls commented on #715
2.8.1 released with inner version number synchronized. Thanks.

[2019-12-29 09:39] #715 closed

[2019-12-30 02:28] ndench opened #718 "Undefined variable rule does not understand anonymous classes"
- PHPMD version: 2.8.1
- PHP Version: 7.3
- Installation type: composer
- Operating System / Distribution & Version: Ubuntu 16.04

### Current Behavior
The undefined variable rule does not pick up parameters passed into a method of an anonymous class.

[code]

### Expected Behavior
`$user` is defined in the above example, so it should not produce an undefined variable error.

### Steps To Reproduc

[2019-12-31 09:36] kylekatarnls commented on #718
I was analyzing a similar problem with anonymous classes, finding that methods was parsed as FunctionNode instead of MethodNode. And this triggered `undefined` warning for `$this` I think it may be the same problem here.

[2019-12-31 17:12] kylekatarnls commented on #601
Confirmed, it seems like anonymous class methods are evaluated as FunctionNode instead of MethodNode which breaks the link to `$prop`.

To be fixed in PDepend.

[2020-01-01 19:59] kylekatarnls commented on #714
I ran some tests. All is fine as long as the static variable is not an array. So the probable cause is PDepend evaluate the `$array[$key]` before `static::$array`, so it looks for a local variable named `$array` instead of the static property `static::$array`. The fact that the error is not raised when wrapping the property in parentheses `(static::$cmsBlockBuffer)` tends to confirm this hypothesi

[2020-01-01 20:01] kylekatarnls commented on #717
With #719 website pages will have 2 links to source and modification GitHub pages such as:
Source: https://raw.githubusercontent.com/phpmd/phpmd/master/src/site/rst/rules/cleancode.rst
Edit: https://github.com/phpmd/phpmd/edit/master/src/site/rst/rules/cleancode.rst
And the PR will also make RST files downloable on phpmd.org.

[2020-01-02 13:38] yutv commented on #718
The same error in `foreach ($array as &$item)` but works (no error) in `foreach ($array as $item)`. It should work in both cases w/o error since the `$item` variable is defined.

**Example 1:**

Foo.php

    <?php

    class Foo
    {
        public function bar(array $array)
        {
            foreach ($array as &$item) {
                $item['value']++;
            }
            return $arra

[2020-01-02 13:48] kylekatarnls commented on #718
Hi @yutv there is no error in 2.7.0 because "undefined variable" rule did not exist before. Your error has not the same root cause. `as &$item` is saw as a reading instead as a writing (as it is for `as $item`) which explain you have the error on both lines 7 and 8.

This could deserve to open an other issue as it will need a completely different fix.

[2020-01-02 13:57] yutv opened #720 "foreach pass-by-reference leads to "Avoid using undefined variables such as '$item' which will lead to PHP notices" error"
- PHPMD version: 2.8.1, 2.8.0, 2.8.0-beta.2, 2.8.0-beta.1
- PHP Version: 7.2.26
- Installation type: composer
- Operating System / Distribution & Version: Ubuntu 18.04.3 LTS

### Current Behavior
Foo.php
[code]
**Result:**

    $ vendor/bin/phpmd Foo.php text cleancode && echo "Success"
    /home/user/project/Foo.php:7  Avoid using undefined variables such as '$item' which will lead to PHP notices

[2020-01-02 13:59] yutv commented on #718
Created separate Issue https://github.com/phpmd/phpmd/issues/720.

[2020-01-02 14:02] kylekatarnls commented on #718
Thanks.

[2020-01-03 15:32] kylekatarnls commented on #542
Note than the  alias `-` can be used instead of `php://stdin`:
[code]

And the support of `php://stdin` should be fixed in the next release of PDepend.

[2020-01-03 16:40] kylekatarnls commented on #674
As no feedback received here, I assume it was the missing ReflectionClass fault.

[2020-01-03 16:40] #674 closed

[2020-01-03 16:46] kylekatarnls commented on #588
Let's track this rather in #670 which has a more complete list.

For the record, the ambiguity comes from "maximum allowed" = "minimum before raising the rule violation" so from the rule violation point of view, *minimum* make sense, but indeed, all names should rather be harmonized to end-user point of view.

[2020-01-03 16:46] #588 closed

[2020-01-03 18:06] ale7714 commented on #717
@kylekatarnls thank you! this great news. Happy new year!

[2020-01-05 02:57] rafaelneris commented on #700
Same issue of typed properties.
pdepend dev-feature doesn't worked for me.
I'm getting following error:
Problem 1
    - phpmd/phpmd 2.8.1 requires pdepend/pdepend ^2.6 -> satisfiable by pdepend/pdepend[2.x-dev].
    - phpmd/phpmd 2.8.1 requires pdepend/pdepend ^2.6 -> satisfiable by pdepend/pdepend[2.x-dev].
    - phpmd/phpmd 2.8.1 requires pdepend/pdepend ^2.6 -> satisfiable by pdepend/pdepend[2.

[2020-01-05 03:50] rafaelneris opened #721 "Problem with Typed Properties on PHP 7.4"
- PHPMD version: 2.8.1
- PHP Version: 7.4.1
- Installation type: composer
- Operating System / Distribution & Version: Linux (ubuntu)

### Current Behavior
I'm getting Unexpected token, when I using typed properties, and this is error is stopping validation.

### Expected Behavior
Validate typed properties or don't stop the validation.

### Steps To Reproduce:
1. Adding typed property at a class
`

[2020-01-06 01:38] leodisarli-nw opened #722 "False-positive message "Avoid unused local variables" on passing var by reference"
_-_ PHPMD version: 2.8.1
- PHP Version: 7.3.13
- Installation type: (composer)
- Operating System / Distribution & Version: (clear linux)

### Current Behavior
False-positive message "Avoid unused local variables" on passing var by reference

[code]
give me an error on $childs on line 3,4 and 5

### Expected Behavior
Recognize passing variables by reference

### Steps To Reproduce:
Just run phpmd

[2020-01-06 06:21] kylekatarnls commented on #722
Probably the same root cause as #720

[2020-01-06 11:12] theseer opened #723 "Phar for PHPMD 2.8.x has no signature"
The last signed version is 2.7.0, which makes it the default version installed by phive. Maybe you can add signatures to the 2.8.0 and 2.8.1 releases?

[2020-01-06 12:29] kylekatarnls commented on #723
We don't want to manually sign every builds so we're working on a way to automate the signing:
#688

[2020-01-06 19:46] theseer commented on #723
Understood. Would be nice to have a signature anyhow ;)

But feel free to close this.

[2020-01-06 22:30] #721 closed

[2020-01-07 18:57] #542 closed

[2020-01-08 10:51] yykamei opened #724 "UndefinedVariable does not contain externalInfoUrl in output"
- PHPMD version: 2.8.1
- PHP Version: 7.4.1
- Installation type: composer
- Operating System / Distribution & Version: Debian Buster

### Current Behavior

The violation `UndefinedVariable`  does not contain `externalInfoUrl` in its element like this:

[code]

### Expected Behavior

I expect the output below:

[code]

### Steps To Reproduce:

Prepare the file `test.php`:

[code]

And, then run the

[2020-01-09 14:12] eremin opened #725 "False-positive message "Avoid undefined variables" on short list syntax"
- PHPMD version: 2.8.1
- PHP Version: 7.2.24
- Installation type: composer
- Operating System / Distribution & Version: Kubuntu 19.04

### Current Behavior
False-positive message "Avoid using undefined variables" on short list assignment
[code]

### Expected Behavior
Recognize assignment via shot list syntax

### Steps To Reproduce:
sample code is above

[2020-01-10 16:02] ossinkine commented on #282
Actually this is a bug and I suggest to reopen the issue. @offsides I don't know which original NPath article do you talking about but as I understand NPath complexity is in how many ways the interpreter can execute the program depending on the input data. So the NPath complexity of both above examples is 3. It's the same with the other manual. The same goes for throwing exception, not just return

[2020-01-10 16:19] offsides commented on #282
The original NPath specification comes from an article in the Communications of the ACM, which is now available online here: https://www.thefreelibrary.com/NPATH%3A+a+measure+of+execution+path+complexity+and+its+applications.-a06242192

You are incorrect that the NPath of both examples above is 3.  In the first one, it is 3 - 1 for if the first if is true, and then if it's false (second path) that

[2020-01-11 09:14] kylekatarnls commented on #282
Thanks @offsides for this great explanation. I guess we can't have an exact representation of the cyclomatic complexity.

[2020-01-13 15:02] Kovalchuk91 opened #726 "Error on PHP 7.4 arrow functions"
- PHPMD version: 2.8.1
- PHP Version: 7.4.1
- Installation type: (composer)
- Operating System / Distribution & Version: (Debian GNU/Linux 10)

### Current Behavior
Running phpmd on file that contains PHP 7.4 arrow functions shows an error "Unexpected token: fn"

### Expected Behavior
No error shown.

### Steps to reproduce
1. Create a php script with code that includes arrow function
2. Run phpmd

[2020-01-13 15:16] kylekatarnls commented on #726
Hi, it will be fixed in the next release of PDepend:
https://github.com/pdepend/pdepend/pull/426

[2020-01-14 10:18] cawolf commented on #502
Same issue probably applies to the usage of `usort()` and similar functions:

[code]

[2020-01-14 11:09] #726 closed

[2020-01-15 18:56] bkdotcom commented on #500
Not sure if this should be a separate bug, but it's related to the use statement:
$funcGetName = function ($uid) use ($index) {
    if ($index == 2) {
       //
    }
};

// Avoid unused local variables such as $index

[2020-01-15 22:48] steinhaug commented on #332
Make sure you are uploading the PHAR files as BINARY, as ASCHII transfer will make them behave like described here. Hope it helps.

[2020-01-20 09:31] cosminardeleanu opened #727 "False-positive message "Mandatory expression expected" on short list syntax"
- PHPMD version: 2.8.1
- PHP Version: 7.2.2 and 7.1.27
- Installation type: composer
- Operating System / Distribution & Version: MacOs Mojave 10.14.6 and Debian 9

### Current Behavior
[code]

[code]

### Expected Behavior
Should not trigger any errors. The code is perfectly valid.
Note: If we're using `list(, $variable2) = [1, 2];` then the code will throw no error.

### Steps To Reproduce:
Samp

[2020-01-22 10:26] InvisibleSmiley commented on #94
Thanks for the pointer, I had the same problem! Further investigation showed that this is actually a PHP Depend issue. Filed https://github.com/pdepend/pdepend/issues/447

Workaround: Copy https://github.com/pdepend/pdepend/blob/master/pdepend.xml.dist to the root of your project, optionally naming it either pdepend.xml

[2020-01-25 00:00] chrBrd commented on #700
I've just pulled from `dev-master` in Composer, which I'm guessing now includes that PR.

Classnames and most primitives work, but I'm still getting `Unexpected token: array` in PHPMD.

[2020-01-25 09:57] kylekatarnls commented on #700
Hello we need the complete stack trace and the code you run PHPMD on. Thanks.

[2020-01-25 11:33] chrBrd commented on #700
I discovered the issue defining `array` class properties in a Symfony project, but I can repeat the behaviour with just this:

[code]

As for the stack trace, what exactly are you after? PHPMD doesn't throw an exception, it runs normally and exits; there's no PHP stack trace to provide you with.

[2020-01-25 12:35] chrBrd commented on #700
In order to replicate the issue with PDepend's test suite:

1. Add `public array $list;` to the `User` class in `testTypedProperties.php`
2. Run PHPUnit on `PDepend\Source\Language\PHP\PHPParserVersion74Test::testTypedProperties()`

Result:
[code]

[2020-01-25 14:26] kylekatarnls commented on #700
Thanks a lot. This is all we need to fix it.

[2020-01-25 15:18] chadidi opened #728 "Using Symmetric array destructuring throws errors in phpmd"
- PHPMD version: 2.7
- PHP Version: 7.3
- Installation type: composer
- Operating System / Distribution & Version: (ubuntu server) on mac os machine

I get: `Avoid using undefined variables such as '$latitude' which will lead to PHP notices.`

### Expected Behavior
no such error.

### Steps To Reproduce:
[code]

[2020-01-25 15:38] kylekatarnls commented on #728
Thanks. I close as this is a duplicate of #725

[2020-01-25 15:39] #728 closed

[2020-01-25 19:34] chrBrd commented on #700
No bother at all - thank *you* for this tool.

[2020-01-27 09:34] cl1ck commented on #700
Same problem with nullable typed properties:
1. Add `public ?object $object;`  to the User class in testTypedProperties.php
2. Run PHPUnit on PDepend\Source\Language\PHP\PHPParserVersion74Test::testTypedProperties()

Result:
[code]

[2020-01-27 12:37] realshadow commented on #700
Same problem with nullable typed properties:

- Add `public \Closure $closure;` to the User class in testTypedProperties.php
- Run PHPUnit on PDepend\Source\Language\PHP\PHPParserVersion74Test::testTypedProperties()

[code]

(Shouldn't we post this in pdepend issues?)

[2020-01-27 12:41] kylekatarnls commented on #700
I'm working on it and updated the test with:
[code]
So I'll make sure the next version will support nullable and any of those types hints.

[2020-01-27 12:44] realshadow commented on #700
@kylekatarnls see my previous post before yours, `\Closure` or any class starting with `\` is missing

[2020-01-28 15:18] #700 closed

[2020-01-29 06:46] Axent96 commented on #714
I can approve  the hypothesis with parentheses.

[2020-01-31 19:54] timosmit opened #729 "UnusedPrivateField false positive on typed private fields"
- PHPMD version: 2.8.1
- PHP Version: 7.4.2
- Installation type: composer
- Operating System / Distribution & Version: Arch Linux (rolling release)

### Current Behavior
PHPMD detects a typed private field in an entity class as unused (UnusedPrivateField rule).

### Expected Behavior
PHPMD should not detect the field as unused, since it is used by several getters and setters.

### Steps To Reprodu

[2020-02-04 02:37] bkdotcom opened #730 "short variable names (exclude if in function signature)"
I would like the option to exclude short variable name warnings if they occur in the function signature..

The thought being that I have PhpDoc comment that defines what the var is

[2020-02-04 07:04] kylekatarnls commented on #730
Add a `@SuppressWarnings(PHPMD.ShortVariable)` in the PHPDoc block of the function.
https://phpmd.org/documentation/suppress-warnings.html

In my opinion, this is not a reason enough to use 1/2 letters variable names. It's also about knowing all way long what we are taking about: a real name to remember easily what it is, while the PHPDoc gives a description, not just a name and is mostly for the

[2020-02-05 09:54] semalley opened #731 "PHP 7.4 Support arrow function return types"
- PHPMD version: 7.4.2
- PHP Version: 7.4.2
- Package version: 2.8.1
- Installation type: composer
- Operating System / Distribution & Version: Linux 4.19.76

### Current Behavior
- [x] `Unexpected token:  array` for such field
`protected array $field = [];`
- [ ] And unsupported return type in arrow function
`$t = array_map(fn(int $item): int => $item * 2, [1, 2, 3]);`

### Expected Behavior
Expe

[2020-02-05 10:23] kylekatarnls commented on #731
Please try to require `"pdepend/pdepend": "dev-master"`

The next version will include this fix:
https://github.com/pdepend/pdepend/pull/455

[2020-02-05 11:28] semalley commented on #731
@kylekatarnls Thanks it works for me.

[2020-02-13 07:46] ossinkine commented on #729
Should be fixed in https://github.com/pdepend/pdepend/pull/453, try to update `pdepend/pdepend` up to 2.7.1

[2020-02-13 08:33] Zarcox opened #732 "[PHP_7.4] The magic methods __serialize and __unserialize must not be in camelCase"
- PHPMD version: 2.8.1
- PHP Version: 7.4.2
- Installation type: Composer
- Operating System / Distribution & Version: Debian 9

### Current Behavior
PHP 7.4 introduced this RFC : [https://wiki.php.net/rfc/custom_object_serialization](https://wiki.php.net/rfc/custom_object_serialization)

But PHPMD reports the following errors :

[code]

### Expected Behavior
The method `__serialize` must not be n

[2020-02-14 09:26] kylekatarnls commented on #729
Sadly no, it still happen because it's not related to typed property (note that it also happen with untyped properties).

This is more likely related to a more global issue about detection read and write of a variable/member: https://github.com/pdepend/pdepend/issues/444

[2020-02-16 20:15] #732 closed

[2020-02-16 21:09] kylekatarnls commented on #732
Thanks @Zarcox, they will be allowed in 2.8.2.

[2020-02-19 10:48] ravage84 commented on #672
Similar case with [str_replace's &$count parameter](https://www.php.net/manual/en/function.str-replace.php):

[code]

[2020-02-20 14:21] dereuromark opened #734 "False-positive message "Avoid undefined variables" on static prop"
- PHPMD version: 2.8.1
- PHP Version: any

### Current Behavior

[code]
Lot of false positive error noise

### Expected Behavior
No errors.

[2020-02-20 14:44] kylekatarnls commented on #734
Thanks, we're tracking this bug in #714.

[2020-02-20 14:44] #734 closed

[2020-02-24 10:50] Erkens opened #735 "Private properties are seen as public when writing own rule (PHP7.4)"
- PHPMD version: 2.8.1
- PHP Version: 7.4.2
- Installation type: composer
- Operating System / Distribution & Version: AlpineLinux (official PHP docker image)

### Current Behavior
I have created a simple rule that checks if there are no public properties, however, with PHP7.4 all (typed) properties are now seen as public:
`class TestClass { private string $id; }`

And (a simplified version of) my

[2020-02-27 18:35] efueger commented on #717
Hi @kylekatarnls - Emily from Code Climate Support 👋

quick bump on your [PR #719](https://github.com/phpmd/phpmd/pull/719) - it looks like the checks passed, just waiting on the reviews.

Thanks!

[2020-02-28 13:32] #717 closed

[2020-03-03 19:20] dmecke opened #738 "Property type lets private property seem to be public"
- PHPMD version: 2.8.2
- PHP Version: 7.4.3
- Installation type: both phar and composer version
- Operating System / Distribution & Version: Ubuntu 18.04

### Current Behavior
A private typed property is considered as public.

### Expected Behavior
Private properties should not be considered as public.

### Steps To Reproduce:
Given a minimal phpmd.xml:
[code]
And a simple class in `Foo.php`:
[cod

[2020-03-05 15:47] sveneld opened #739 "Incorrect error line for Class in report"
- PHPMD version: 2.8.2
- PHP Version: 7.3
- Installation type: composer
- Operating System / Distribution & Version: Ubuntu 16.04 LTS

### Current Behavior
----------------------------------------------
 6 | VIOLATION | The class Test_Logic has 23 public methods. Consider refactoring Test_Logic to keep number of public methods under 10.

### Expected Behavior
--------------------------------------

[2020-03-05 20:12] sveneld commented on #739
It seems that trouble is in access modifier. When constant is declared without access modifier all works fine

[2020-03-08 17:39] a-menshchikov opened #740 "CamelCaseParameterName and CamelCaseVariableName doesn't allow underscore name"
In recent years, it has become the best practice to name unused variable, that cannot be removed from code (caught exception that doesn't use, for example) with name `$_`.
The same practice has existed for many years in JavaScript, Golang and other communities.

I think that CamelCaseParameterName and CamelCaseVariableName rules should not raise violation on this parameter/variable name.

[2020-03-08 18:23] kylekatarnls commented on #740
This should be a dedicated rule I guess, because it means it's an exception for CamelCaseParameterName, CamelCaseVariableName and UnusedVariableRule, then it would in fact be mandatory for this variable not to be used, so we should raise an error if `$_` is read or write after its initialization.

[2020-03-10 20:24] tvbeek commented on #634
Closing because we didn't get the feedback needed to reproduce the bug.

[2020-03-10 20:24] #634 closed

[2020-03-10 20:24] tvbeek commented on #420
Closing because we didn't get the feedback for this issue.

[2020-03-10 20:24] #420 closed

[2020-03-10 20:27] tvbeek commented on #730
@bkdotcom Can you give feedback if @kylekatarnls did miss a point? Else we will close this issue to get the list a little bit cleaner.

[2020-03-10 20:29] #730 closed

[2020-03-30 12:39] asbjornu commented on #288
I agree with @Jurigag. If each clause in an `if/elseif/else` statement ends with a `return` or `throw`, it makes sense to just turn them all into separate `if` statements. But when there is no `return` from the statements, but they instead do assignment, logging, etc., it makes no sense to discourage the use of `else`.

[2020-03-30 16:21] kylekatarnls commented on #288
It does: here is the reason (and example that do no imply throw/return):
https://medium.com/@kylekatarnls/stop-using-else-84c1fa977202

I write a lot of code every day, and I didn't use `else` for years and I can ensure you my code is cleaner this way.

Code rules of PHPMD or any static analyzers are common practices in some language/company/region communities, there is no absolute universal rules

[2020-03-31 16:36] tuc0w commented on #740
If CamelCaseParameterName and CamelCaseVariableName would implement the `allow-underscore` and `allow-underscore-test` properties wouldn't it be solved?

Since CamelCasePropertyName and CamelCaseMethodName already allow those properties it wouldn't be an exception, right?

[2020-03-31 16:48] kylekatarnls commented on #740
Indeed, but it's not the same purpose and result. The "good" rule would be to only accept `$_` (variable name exactly equal to "_") when assigned and not read. Using an option like `allow_underscore` would allow to have any variable name starting with an "_" (so also `$_abc` and it would allow it in any context no mater it's an assignation or not, and even if it's read later. So yes, it would chil

[2020-03-31 16:51] kylekatarnls commented on #740
I'm still open to for either the allow_underscore solution (as nothing prevent us to implement this option in every naming rules). It would even be great for consistency, or the full implementation of the `$_` unused variable pattern as its own rule. PRs for any of them would be welcome.

[2020-03-31 17:08] tuc0w commented on #740
You're right, that's the part I forgot because I encountered the `$_abc` problem today and thought this issue would be the solution. Of course a dedicated rule would be the clean way to implement the `$_` solution.

[2020-03-31 17:17] tuc0w opened #742 "Add allow-underscore option"
Since CamelCasePropertyName and CamelCaseMethodName already implement the `allow-underscore` and `allow-underscore-test` options it would be consistent to implement this option also for CamelCaseParameterName and CamelCaseVariableName.

It should be a quick addition which I could do in my spare time.

[2020-04-02 17:23] sveneld commented on #247
createResourceUriForTest is not a private function you can rewrite it in your test and set path to file what you need

[2020-04-02 18:28] sveneld commented on #373
it should be written as
`
    <exclude-pattern>*Validator*</exclude-pattern>
    <exclude-pattern>*FunFunFactory.php*</exclude-pattern>
`
because filename comparing with preg_match function

[2020-04-02 18:38] sveneld commented on #356
command should be written like this
--exclude /home/jjpet/svnWork/225161/includes/config/*
because filename comparing with preg_match function

[2020-04-02 18:48] sveneld commented on #235
#743

[2020-04-02 19:59] ravage84 commented on #356
@sveneld would you be willling to put a PR with an extension to the current documentation?

[2020-04-02 19:59] ravage84 commented on #373
@sveneld would you be willling to put a PR with an extension to the current documentation?

[2020-04-02 20:16] sveneld commented on #356
ok, in a few days

[2020-04-02 20:16] sveneld commented on #373
ok, in a few days

[2020-04-05 07:35] npluis commented on #90
Same here on Ubuntu, folder is now 35G

I'm cleaning up with this command:
`find ~/.pdepend -type f -mtime +30 -exec rm \;`

But it would be nice if it could happen automatically

[2020-04-05 22:33] #356 closed

[2020-04-06 06:52] sveneld commented on #235
@kylekatarnls this issue can be closed

[2020-04-06 06:53] #235 closed

[2020-04-06 18:43] tvbeek opened #746 "Deprecation and streamline"
## Description
I thought it was good to decide how we deprecate functions and / or options. I think that we can add the new / cleanup versions and deprecate the old ones. Then we can remove the deprecated in the next major version (3.0)

## Proposed procedure to deprecate:
1. Add an annotation to the function and if possible point to the new option.
2. Add it to the changelog
3. Update documentati

[2020-04-06 19:17] tvbeek commented on #742
@tuc0w that sounds like a good addition! We are welcoming your PR for this, I assign this issue to you because you say you could do it in your spare time.

[2020-04-06 19:47] ravage84 commented on #746
Thanks for opening this issue.

Yeah, it makes sense to mark classes, methods, features and options as deprecated before removing them.

In CakePHP, we do that by doing what you wrote in your poposal but also inject a special method. Fore xample:
https://github.com/cakephp/cakephp/blob/3.8.11/src/ORM/TableRegistry.php
https://github.com/cakephp/cakephp/blob/cafb1a25c07f4273f9e73d6aee46efbeeb6556bd

[2020-04-06 21:17] ravage84 commented on #746
@tvbeek the flag in that case is already built-in into PHP, ``E_USER_DEPRECATED``:

https://github.com/cakephp/cakephp/blob/cafb1a25c07f4273f9e73d6aee46efbeeb6556bd/src/Core/functions.php#L286

https://www.php.net/manual/en/errorfunc.constants.php#errorfunc.constants.errorlevels.e-user-deprecated

[2020-04-07 19:30] tvbeek commented on #746
@ravage84 I was thinking if we need an addition flag to set it or not. But thinking again I guess it isn't needed.

So in fact a trigger_error with the E_USER_DEPRECATED level is enough.

@kylekatarnls do you have any addition opinions?

[2020-04-07 19:37] kylekatarnls commented on #746
+ `@` to silent it :)
See what Symfony does:
https://github.com/symfony/symfony/blob/8ace1c1f9467b8438b1618d3a8fbdf3d88e3fc54/src/Symfony/Component/Mailer/Bridge/Mailgun/Transport/MailgunApiTransport.php#L138

[2020-04-07 21:55] ravage84 commented on #746
For interested parties: The reasoning behind prefixing the ``@`` in ``@trigger_error()``:

https://stackoverflow.com/questions/41545682/what-is-the-purpose-of-silence-operator-at-sign-before-trigger-error

@kylekatarnls funny. I think for a framework like Symfony this is pretty much the wrong way.
Also, use of the ``@`` silence operator is a code smell. Kind of hypocrite, if we use it. :laughing:

[2020-04-08 06:51] kylekatarnls commented on #746
Symony is a framework, but it's also many standalone components, you would very disappointed to suddenly get an deprecation error throwing in production just because a dependency of a dependency added a deprecation. Then you would be forced to disable deprecation notice globally.

And deprecation notices not always need to be handled. The first obvious case: you don't want to move to the next majo

[2020-04-08 13:02] ravage84 commented on #746
True, I disregard this kind of usage.

Well, I hope everybody has disabled most kinds of PHP errors in production.
But sub dependency is still a dependency and thus part of my code. And becaus of that I would want to know about _potential_ problems as soon as possible. But may be that is just me. Others prefer to keep a blind eye...

True, but with silenced errors I do not even get the chance to k

[2020-04-08 13:08] ravage84 commented on #746
By the way deprecations in our case have two main uses:

1. For us maintainers. To know which methods we should not use & rely on, anymore. Especially if a depricated method or class can't be removed in a timely manner.
2. For end developers, users of our library/tool. To know which public API they should not make use of, which methods they should not rely on, which classes they should not extends

[2020-04-08 14:20] kylekatarnls commented on #746
It's not a blind eye, you get strikeout on a method with a good IDE when having `@deprecated` you can have some checkup status script. But the default behavior of trigger_error if not muted will be something on the script that prevent you to work properly (even speaking of development environment, not just production) while this is 90% something you don't need/want to handle right now.

This is no

[2020-04-08 19:45] tvbeek commented on #746
One day after creating the issue and there are a lot of comments 😄

I think we have multiple options

1. Add the annotation and use trigger_error without the @ to notice users that something is deprecated.
2. Add the annotation and use trigger_error with the @ to notice users that something is deprecated. In this case we need a custom error handler to have the possibility to show this warnings.
3.

[2020-04-08 20:09] kylekatarnls commented on #746
Even when running the CLI applications visible notices that comes when you run a method/read a setting. It means that when you will execute a phpmd command, you could potentially get some deprecation before the result, some other after, and even maybe in the middle of the results.

When deprecation are just renaming/reformatting/namespace change, we could silent them (just record them in memory) a

[2020-04-10 09:38] sveneld commented on #373
it can be closed

[2020-04-10 09:46] #373 closed

[2020-04-14 12:06] dereuromark commented on #714
Is there any update on this one?

[2020-04-14 12:13] kylekatarnls commented on #714
I have a wide refactorization in progress because the new rules about variables revealed problems in the way we detect variables then detect if they are related to a read or write operation that are actually in PDepend for a very long time.

This should fix this error but it will take time.

[2020-04-15 20:55] tvbeek commented on #746
Sounds interesting we should then need a part to collect it, and a flag to don't ask the question to prevent ci jobs to wait for an answer :)
But do you want to automate the fix or just give the message? And what to do with deprecations that don't get a replacement?

That means:
* have an error handler that stores the deprecation messages.
* add a question to the user if there are deprecations.
*

[2020-04-15 23:21] ravage84 commented on #746
(Ignoring PDepend completely for the moment)

Since @tvbeek 's [options 1-3](https://github.com/phpmd/phpmd/issues/746#issuecomment-611156532) and [the auto-fix prompt](https://github.com/phpmd/phpmd/issues/746#issuecomment-611167984) proposal of @kylekatarnls all introduce lots of code (especially if we want to cover theCLI and the library cases) that doesn't help us maintainers much in maintaini