[2012-06-20 19:57] manuelpichler opened #13 "Permission error in test suite"
PHPMD's test suite uses a global file in the */tmp* directory. This results in a failing test when we run the test suite with different users on *nix system.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/9626017']

[2012-06-20 19:57] manuelpichler opened #14 "The include_path does not match with PHP_Depend's new directory layout"
The include_path does not match with PHP_Depend's new directory layout. PHP_Depend has also changed it's directory layout to a maven style.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/9930643']

[2012-06-20 19:57] manuelpichler opened #15 "Add rule for PHP's goto statement"
We should add a rule that detects the usage of *goto* in the analyzed code. IMHO the usage of this language construct is a really bad design descision, as the *goto* statement was already considered as evil in the post basic era.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/10474873']

[2012-06-20 19:57] manuelpichler opened #16 "LongVariable rule should not apply on private properties"
The LongVariable rule should ony apply on *public* and *protected* properties, because *public* properties are part of the external api and *protected* properties are part of the internal api. But *private* properties have an internal purpose and so they should be descriptive.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/10096717']

[2012-06-20 19:57] manuelpichler opened #17 "Implement rule for CBO metric"
Implement a new rule that checks the CBO metric which will be available with PHP_Depend 0.10.2.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/10474987']

[2012-06-20 19:57] manuelpichler opened #18 "Replace deprecated PHPUnit features in test suite"
Replace all deprecated assert method calls in PHP_PMD's test suite.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/11012465']

[2012-06-20 19:57] manuelpichler opened #19 "Create new rules"
## Short description

Hello, I know how to create a new rule to PHPmd. A rule, not a ruleset.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/9355899']

[2012-06-20 19:57] manuelpichler opened #20 "Strict mode"
phpmd needs a *strict* mode.

In this mode *@SuppressWarnings* tag should be ignored in order to prevent misuse of this tag.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/18462127']

[2012-06-20 19:57] manuelpichler opened #21 "Better log messages (threshold parameters)"
At the moment most rules have no information about threshold parameter in the log messages.

For example:  ExcessiveParameterList, ExcessivePublicCount, TooManyFields

Some other rules are more informative: ExcessiveClassComplexity

The developers reading messages like "Too many fields" can not orient themselves what the acceptable values really are.

[Synced from PivotalTracker: 'http://www.pivot

[2012-06-20 19:57] manuelpichler opened #22 "UnusedFormalParameter should detect use of "variable properties""
A method with a formal parameter ($property) that is used as the name of an object (or class?) property is erroneously reported as not using that parameter.

Steps to Reproduce
---------------------------

class Foo
{
    public $value = 5;

    public function getValue($property) {
        return $this->$property;
    }
}

Expected Result
----------------------
no errors or warnings

Actual Resul

[2012-06-20 19:57] manuelpichler opened #23 "I think Exceptions from PDepend are silently ignored"
Short description
-----------------

php-file with a class that does not extend another class and a method with access to "parent" (runtime-error!) cannot be parsed in pDepend ("parser in broken state").

phpmd does not report the exception but ignores the file, so everything seems fine, bit it is not.

Environment
-----------

any

Steps to reproduce
------------------

Expected behavior
--------

[2012-06-20 19:57] manuelpichler opened #24 "UnusedFormalParameter should not be used for parameters in inherited methods"
Short description
-----------------

The UnusedFormalParameter rule also marks parameters on methods which are inherited, either from interfaces or parent classes.

Environment
-----------

n/a

Steps to reproduce
------------------

[code]

[2012-06-20 19:57] manuelpichler opened #25 "PHPMD should exclude unused parameters from inherited methods"
When a class implements an interface or extends a class, some inherited methods are overriden or implemented. As we can't change the method signature when overriding or implementing an abstract method, the concrete body of the method may not use a parameter.

So PHPMD should not raise an alert if we don't use a method parameter in case of we are overriding an existing method or implementing an abs

[2012-06-20 19:57] manuelpichler opened #26 "False detection of unused variable"
Please see the snapshot of the CodeBrowser with PMD error attached.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/14990109']

[2012-06-20 19:57] manuelpichler opened #27 "Move PHPUnit annotations from method doc block to class doc block"
Move all used PHPUnit annotations from each method's doc block to the test class doc block. This will remove several identical doc comments in PHPMD's test classes.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/11055167']

[2012-06-20 19:57] manuelpichler opened #28 "Fatal: Maximum function nesting level reached in ASTNode.php:425"
I run into this error when scanning valid PHP code. I included a file to replicate it.

$phpmd Bootstrap.php text unusedcode
PHP Fatal error:  Maximum function nesting level of '100' reached, aborting! in /usr/share/php/PHP/Depend/Code/ASTNode.php on line 425
PHP Stack trace:
PHP   1. {main}() /usr/bin/phpmd:0
PHP   2. PHP_PMD_TextUI_Command::main() /usr/bin/phpmd:30
PHP   3. PHP_PMD_TextUI_Comman

[2012-06-20 19:57] manuelpichler opened #29 "Allow PHP_Depend configuration option from command line"
The configuration option of PHP_Depend allows the ability to customize the location of the cache file. Without this ability, PDepend, and therefore PHPMD, try to write the cache file based on $HOME. OK for local work, but not in a Tomcat-based Jenkins deployment.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/22407623']

[2012-06-20 19:57] manuelpichler opened #30 "Dynamic warning suppressions"
As a user of PHPMD I would like to be able to specify a parameter to the annotations suppressing warnings so that suppressions aren't infinite.

Example: I suppress a TooManyMethods on a class because it implements two interfaces. Now that class isn't messy yet, but I won't get a warning when it becomes messy. If I could just raise the value instead by specifying a new value for the limit for just

[2012-06-20 19:57] manuelpichler opened #31 "Warning on constructors in abstract classes / interfaces"
Constructors in abstract classes or interfaces are generally considered bad practice, since they usually limit the possible extensions of a base type. A warning should be emitted for those.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/24567653']

[2012-06-20 19:57] manuelpichler opened #32 "Add rule that detects $this in static methods"
Implement a rule that detects the usage of the reserved variable _$this_ in a static method.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/11009461']

[2012-06-20 19:57] manuelpichler opened #33 "Custom Property Setting in Ruleset Requires Excluding Rule First"
While trying to customize the settings for one PHPMD Rule, I discovered that the property could not be overridden by only specifying the new property value. It was necessary to first exclude the rule and then add it back with the desired property setting. For example:

ruleset.xml:

[code]

Now this could just be a lack of clarity in documentation, and this is the intended behavior. If so, the doc

[2012-06-20 19:57] manuelpichler opened #34 "Warnings for "static" calls"
"static" calls are considered bad practice if you want to follow the DI principle entirely. I would love a rule set which emits warnings about "static" calls in classes.

Also they introduce a static dependency which is generally considered bad practice.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/24140907']

[2012-06-20 19:57] manuelpichler opened #35 "Warnings for "new" statements in class"
"new" statements are considered bad practice if you want to follow the DI principle entirely. I would love a rule set which emits warnings about "new" statements in classes.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/24140881']

[2012-06-20 19:57] manuelpichler opened #36 "ShortVariable - local variables should have separate minimum or allow exceptions such as $e and $i"
Using $e for the exception in a catch block and $i for a simple index in a loop is very common, so much so that using $exception and $index could make reading the code more difficult.

The existing rule could either have a separate minimum length for local variables or, better IMHO, a comma-separated list of allowed exceptions (again for local variables), e.g. "e,i,j".

[Synced from PivotalTracker

[2012-06-20 19:57] manuelpichler opened #37 "Enable output "per file", as processing, instead of waiting until all files have been processed"
## Short description

I'd like the ability to have the output generated a file at a time, instead of as a full summary at the end.  This way, progress could be made while the script continues to run.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/9355993']

[2012-06-20 19:57] manuelpichler opened #38 "Add rule that detects access to an undefined variable"
Implement a rule that detects property or method access on a variable that is not defined.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/11009501']

[2012-06-20 19:57] manuelpichler opened #39 "Support ruleset ref + properties"
## Short description

Based on documentation and reading the code, there is no way to include an entire ruleset xml file, while overriding properties of individual rules within that ruleset.  That means the only way to override one property of one rule within a ruleset (where you otherwise intend to use all rules within the ruleset) is to refer to every rule in the ruleset independently (using the

[2012-06-20 19:57] manuelpichler opened #40 "Allow multiple report files"
It would be nice to store more than one report for a single run of PHPMD.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/9947521']

[2012-06-20 19:57] manuelpichler opened #41 "Allow exclusion from results only"
## Short description

It would be nice if excluded classes were parsed and analyzed, but no problems were reported for them. It's mainly related to frameworks or software libraries - I'd like to check for eg. DepthOfInheritance violations but at the same time I'm not interested in errors in framework design.
## Steps to reproduce

[code]

File: testcase.php

[code]

phpmd --suffixes php --exclude

[2012-06-20 19:57] manuelpichler opened #42 "Allow PHP_Depend optimization mode to be specified from the command line"
Allow pdepend's option, --optimization, to be specified from phpmd's command line.

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/9355909']

[2012-06-20 19:57] manuelpichler opened #43 "Add verbosity option"
## Short description

It is very common in other CLI Apps, there is a verbosity option. If this is enabled the app prints information to the screen what he does.
## Environment

MacOSX 10.6
PEAR
## Steps to reproduce

...
## Expected behavior

Prints the current file on the screen.
## Actual behavior

Doesn`t prints the current file on the screen.

[Synced from PivotalTracker: 'http://www.pivotalt

[2012-06-20 19:57] manuelpichler opened #44 "Make rules extendable"
I would like to extend some of the rules, like UnusedLocalVariable and others without resorting to copy and paste. It would be much easier if those classes had protected methods instead of private methods. That way I can implement a specific ruleset for my projects, but still get any bug fixes or enhancements to those rules as they become available.

[Synced from PivotalTracker: 'http://www.pivota

[2012-06-20 19:57] manuelpichler opened #45 "Add rule for the C.R.A.P. Index"
Short description
-----------------

It would be nice to provide a rule that checks the C.R.A.P. Index[1] of methods and functions and reports those artifacts with critical values.

[1] http://www.artima.com/weblogs/viewpost.jsp?thread=210575

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/9355967']

[2012-06-20 19:57] manuelpichler opened #46 "install on Windows under XAMPP fails"
By default, XAMPP installs PHP here: C:\xampp\php.  The install fails.  Here is my session:

C:\xampp\php>pear channel-discover pear.phpmd.org
Adding Channel "pear.phpmd.org" succeeded
Discovery of channel "pear.phpmd.org" succeeded

C:\xampp\php>pear channel-discover pear.pdepend.org
Adding Channel "pear.pdepend.org" succeeded
Discovery of channel "pear.pdepend.org" succeeded

C:\xampp\php>pear i

[2012-06-20 19:57] manuelpichler opened #47 ""Start tag expected, '<' not found""
If you want to execute a check with a name, where a directory with the same name exists in the cwd, which does not contain a XML file with a valid check configuration you'll get the confusing error message: "Start tag expected, '<' not found".

[Synced from PivotalTracker: 'http://www.pivotaltracker.com/story/show/30772191']

[2012-06-20 19:57] manuelpichler opened #48 "Foreach: UnusedLocalVariable $value"
Hi,

I'm getting error (Avoid unused local variables such as '$value'.) on this kind of code.

foreach($array as $key => $value)
{
    doSomething($key);
}

I think this is a bug
1.  this is the fastest way to do iteration
2. I can't just remove $value since it is a part of language construction.
Sure I could use array_keys($array) but I'm not have to since it is slower.

[Synced from PivotalTrack

[2012-06-20 19:57] manuelpichler opened #49 "PHPMD Fatal Error out of memory"
Running PHPMD on PHP5.2.14 and PHP 5.2.11 creates a fatal error displayed below:

Fatal error: Out of memory (allocated 2011955200) (tried to allocate 40 bytes) in C:\wamp\bin\php\php5.2.11\PEAR\PHP\Depend\Util\Cache\Driver\File.php on line 211

I added an echo statement to that method and it seems to hit a problem when reading in the .methods temp file.

I can provide further details of my PHP se

[2012-06-20 19:57] manuelpichler opened #50 "PHPMD complaining about UnusedFormalParameters for interface method implementation"
If I implement some interface and it has method with required parameters and I don't use it, it will raise a warning anyways. Example

interface MyInterface
{
  public function getDefaultOptions(array $options);
}

And implementation:

26     public function getDefaultOptions(array $options)
27     {
28         return array(
29             'validation_groups' => array('choice')
30         );
31   

[2012-08-06 18:15] gms8994 opened #52 "PHPMD opens and closes .pdepend methods files repeatedly"
I'm running PHPMD under Jenkins, and I've attached to the PHPMD process via strace -p, and then I'm grepping for "open(". I see the same files being opened repeatedly (some as many as 10 times in succession). Is this an opportunity to speed up PHPMD?

[2012-09-09 20:02] #27 closed, assigned to nobody

[2012-09-09 20:04] #28 closed, assigned to nobody

[2012-09-09 20:11] #18 closed, assigned to nobody

[2012-09-11 10:06] CyExy opened #54 "[UnusedPrivateMethod] static method calls private method"
The `PHP_PMD_Rule_UnusedPrivateMethod` says that `private function doStuff()` and `private static function onePlusOne()` is unused but they are been called from `public static function create()`

Not very commonly used but sometimes easier then inheritance.

[code]

[2012-09-12 05:48] tystr opened #55 "Errors with traits"
It seems there's still an issue with how traits are handled, as I'm getting the following errors with the latest code (commit 4af990ae0b4a169c66cc55cd13472b7b0dad3eca)

[code]

[2012-09-18 08:04] cweiske opened #56 "package.xml date invalid: 2011/02/12"
Dates in `package.xml` need to be in format `YYYY-MM-DD`, not separated with `/` as you did.
package.xml date invalid: 2011/02/12.

This leads currently to the problem that phpmd is not installable via pyrus.

[2012-11-29 19:02] ollierattue opened #57 "BUG: Variable in braces shows as unused variable."
When a variable is within braces, i.e. ${time}, it shouldn't show as an unused variable. Example code:

[code]

[2012-12-14 11:10] #50 closed, assigned to nobody

[2012-12-14 11:12] #52 closed, assigned to nobody

[2012-12-14 11:13] #46 closed, assigned to nobody

[2012-12-14 12:09] #49 closed, assigned to nobody

[2012-12-14 12:11] #25 closed, assigned to nobody

[2012-12-14 12:14] #26 closed, assigned to nobody

[2012-12-14 13:22] #56 closed, assigned to manuelpichler

[2012-12-14 14:38] elgris opened #59 "Error with PHP5.4-style arrays"
Hello everyone! Here's an issue with PHP5.4-styled apps.

Consider such a method:

[code]

phpmd fails with message:
`Unexpected token: [, line: xx, col: 26, file:zz`

Thanks guys!

[2012-12-14 15:47] #19 closed, assigned to nobody

[2012-12-28 09:50] svscorp opened #60 "UnusedLocalVariable in phpmd-1.4.1 still shown in Symfony2 in compact return"
Hello!

I've downloaded 1.4.1 version, after getting 'UnusedLocalVariable' message in my controller with using compact function. Run phpmd again, and I've got the same message :(

public function foo(){
$id = 1;
return $this->redirect($this->generateUrl('foo.php', compact('id')));
}

Doesn't work...

[2013-01-09 09:07] fre5h opened #62 "Add rule for PHP's @ operator"

[2013-01-09 09:17] fre5h opened #63 "Add rule for not deleted reference after foreach"
[code]

I think this rule will be useful.

[2013-01-19 13:04] manuelpichler opened #65 "[WIP] [GH-38] Implement undefined variable rule"
There is a class of bugs when you use a variable that is undefined. Some PHP functions allow this when the parameter is passed by reference, however it is still decouraged not define this variables beforehand for clarity.

This rule implements checking for undefined variables. This is done by first collecting all variable assignments, then all parameters of the method/function.\n\nIn the case of t

[2013-01-28 14:04] tobyS opened #67 "PSR-4: Check that class name / namespace match file path"
A rule that checks of the namespace / class name of the class in a file correlates to its file path.

[2013-01-28 17:21] beberlei opened #68 "New Ruleset: Object Calisthenics/Solid rules"
- [ ] Check for Law Of Demeter violations (how to detect fluent interfaces?)
- [ ] Check for more then one nested scope per method
- [x] Usage of else keyword is discouraged
- [x] Usage of boolean flags in method arguments hints at SRP violation.
- [x] Retrieving dependencies through static access (singletons, ...) violates Dependency Inversion Principle
- [ ] Multiple instanceof statements in a m

[2013-01-30 14:08] beberlei opened #69 "Rule for eval() is evil"

[2013-02-03 18:47] #69 closed, assigned to nobody

[2013-02-04 03:07] igorw opened #71 "Composer install instructions should have a laxer constraint"
The instructions for composer on [the download page](http://phpmd.org/download/index.html) are currently:

[code]

The problem with this is that the latest version is currently 1.4.1. This can easily be solved by changing the suggested constraint to:

[code]

Not only will users always get the latest version of the `1.4` branch, they can also run `composer update` to update.

[2013-02-12 13:01] Anahkiasen opened #72 "Violation's getClassName and getMethodName are null"
I'm using PHPMD as a library, with a custom renderer that registers the violations in a database. I'd like to get for a violation, its class and method but only get `null` returned, the properties are not set.

Why might that be ?

Here's my basic implementation :

[code]

And the **DatabaseRenderer** class :

[code]

---

UPDATE : Actually from the CLI, if say I generate an XML, it doesn't output

[2013-02-23 13:20] #71 closed, assigned to nobody

[2013-03-18 07:13] vivekKodira opened #75 "Unreadable error when parsing a file with wrong syntax"
Raising on behalf of the CloudMunch team.

The file being parsed by PHPMD had the following line:

"include = DIRECTORYPATH.'/Document/SomeFile.php';"

(syntax error is the equals sign after the keyword include)

Expected: Should have failed saying the file has a syntax error.
Actual: Progam terminated abnormally with the following stack trace:

PHP Catchable fatal error: Argument 1 passed to PHP_

[2013-03-22 14:56] gabriel-r opened #76 "Enhancement: Check for comments for per function, other"
Check that every function is prefixed by a _docblock_ comment.

Check that every loop call is prefixed by a comment.

Check that every variable declaration has an inline comment.

And so on…

[2013-03-26 16:19] morganestes opened #77 "PHPMD complains about itself"
I just installed PHPMD in [PhpStorm 6.0](https://www.jetbrains.com/phpstorm/webhelp/using-php-mess-detector.html)  and ran it for the first time in my project. The very first warning was about itself and not my code; I can't figure out how to to keep it from checking its own files and checking mine instead.

[2013-04-21 20:01] Rarst opened #79 "Issues with standalone Composer install"
I hit some issues trying to install with Composer as root project. Run:

[code]

And after download got:

[code]

After running update getting:

[code]

Some path assumptions (like `__DIR__ . '/../../../../autoload.php'`) seem to be written only for case inside vendor dir...

Can phpmd be used _only_ as library in another project via Composer?.. Or I am just hitting some bugs?

[2013-04-24 10:40] DannyvdSluijs opened #80 "Out ot the box usage in combination with composer of all rules failes throws error Property $exceptions does not exist."
When having composer.json with
[code]

And build.xml with
[code]

And running the command
[code]
The following output is shown:
[code]

[2013-05-12 10:41] raztud opened #84 "Unused variable when is used only in compact()"
Sometimes I can do something like:

$myVar = 'test';
//....
return compact('myVar', ...)

I use this syntax sometimes in the controller, when I have to pass many variables to the view.

phpdm will output:
Avoid unused local variables such as '$myVar'.

[2013-05-12 10:41] #84 closed, assigned to nobody

[2013-05-22 08:09] vorodev opened #86 "Website is down"
http://www.downforeveryoneorjustme.com/phpmd.org

I have been getting timeouts on phpmd.org for two days.
Advanced documentation (like which rules are included in each ruleset) is not available on github.

[2013-05-22 16:39] #86 closed, assigned to nobody

[2013-05-30 12:19] henryju opened #88 "Provide uncompressed PHAR to improve portability"
Hi,

bzip2 support requires some extra configuration (at least on Windows) so it reduces the interest to use the PHAR archive as a quickstart solution.
Could you please provide an uncompressed version of phpmd.phar?

Thanks

Julien

[2013-05-31 08:59] alixaxel opened #89 "CyclomaticComplexity and "default" switch Case"
I believe that just like `else` blocks, the `default` case in `switch` should not be added to the CCN. In http://phpmd.org/rules/codesize.html#cyclomaticcomplexity it should have a CCN of 11 without counting the the `default` case.

[2013-06-04 16:41] normadize opened #90 ".pdepend folder grew to 45 GB"
I posted the problem first in the PHPStorm tracker: http://youtrack.jetbrains.com/issue/WI-18654

I use PHPStorm as IDE which provides an interface to PMD.

Windows x64, php installed as standalone with all pear/pecl packages configured correctly as far as I can tell. PMD runs fine and also runs fine in PHPStorm. It just seems that it never cleans up after itself.

I was told to report this here a

[2013-07-16 06:55] hco opened #92 "Add a check to ensure proper usage of interfaces"
I am looking for a check which should verify methods which have a typehint on interfaces and probably abstract classes.

Whenever a method expects an object which should implement a specific interface, only calls to methods that are implemented on that interface should be allowed.

I would really love this feature for abstract classes as well, but I'm not sure if it's actually desired by anyone el

[2013-07-26 13:50] Dynom opened #94 "Progress indicator"
The closest I came was issue https://github.com/phpmd/phpmd/issues/37 but I'm unsure if that request is identical to this one.

We run PHPMD frequently (it's part of a pre-push hook) but it's very inconvenient that no progress, at all, is shown by PHPMD. We'll settle for anything as trivial as e.g. an output like PHPUnit (just a dot per test) or fancy, a 0-100% indicator but either way. Some form

[2013-07-26 14:05] #59 closed, assigned to manuelpichler

[2013-07-28 12:39] KOLANICH opened #96 "Unable to build"
BUILD FAILED
E:\public_html\modules\phpmd\setup\src\main\xml\exts\requirejs.xml:150: Unable t
o delete file E:\public_html\modules\phpmd\setup\src\main\resources\extensions\d
b-mysql\mysql-connector-java-5.1.17-bin.jar

[2013-07-31 23:35] davethegr8 opened #98 "Fatal error running phpmd on OSX (10.7)"
I just installed phpmd, but it's not working on OSX. I get this error:

[code]

I installed phpmd on my ubuntu dev box simultaneously using the same process, and it doesn't error.

[2013-08-07 09:21] graux opened #99 "PHPMD execution failed with returned code '137'"
Hi,
I would like to report an issue and get some support if possible.
We have a pretty big project in PHP and we have Sonar performing an analysis of the project (the tasks are executed using Maven). Pdepend runs properly (although it needs a long time and uses 12GB of RAM and 400MB of disk), but phpmd dies after 7 minutes. This was working for us until a month or so, when we refactored some class

[2013-08-09 14:36] fonsecas72 opened #102 "files in ignore list should always be ignored"
PHPMD should ignore the file when it's on the ignored list even if the file is the only one in the include list.

This behaviour is similar to other static analisys tools like phpcs-CodeSniffer.

e.g.:
I have a folder named "folderX" with:
file1.php
file2.php

if I use
[code]

No warnings are triggered and that's correct!

but if I do:
[code]

It will output warnings! And from my point of view tha

[2013-09-09 07:44] croensch opened #105 "rules that do not report package"
I use jenkins PMD plugin to display the violations per package. Unfortunately this plugin uses either the package that the violation reports or the source folder of the reported file. Some rules do not report the package the violation was found in. So i'll have some violations for the same file under two seperate collections for example "Entity\User" and "application/Entity/User".
- LongVariable
-

[2013-09-26 09:47] Csardelacal opened #107 "Class Line count and function line count"
There seems to be a bug with the count of the length (in lines) of classes and functions.

First of all, phpmd counts blank lines as a whole line, that means that any programmer that has the habit of separating variables at the beginning of a function with an extra blank line from the logic code and the if blocks too will get an error with even the shortest functions.

On a second note there is th

[2013-09-30 04:00] superdweebie opened #108 "Using the `parent` keyword in a trait causes problems"
I get the following two errors from phpmd:

`The parser has reached an invalid state...`
`The keyword "parent" was used as a type hint but the class X does not declare a parent`

Neither of these make a lot of sense. The parser shouldn't reach invalid state on what is valid code. And, the keyword parent is not being used as a type hint.

[2013-10-15 15:47] munnik opened #110 "Fluent interface not supported"
If I have a piece of code which calls some private methods using a fluent interface like this:

$this
    ->doSomething()
    ->doSomethingElse()
    ->doAnotherThing();

then PHPMD reports these methods as UnusedPrivateMethodes.

[2013-10-21 06:39] magicsunday opened #111 "package.xml broken when installing using pyrus"
Pyrus\PackageFile\Exception: Invalid package.xml
 Pyrus\XMLParser\Exception: Invalid XML document
  Pyrus\XMLParser\Exception: Line 0: Element '{http://pear.php.net/dtd/package-2.0}date': '2013/07/26' is not a valid value of the atomic type 'xs:date'.

   Pyrus\XMLParser\Exception: Line 0: Element '{http://pear.php.net/dtd/package-2.0}date': '2012/12/14' is not a valid value of the atomic type 'xs

[2013-11-07 18:41] demiankatz opened #112 "UnusedFormalParameter is not aware of compact()"
Using the latest release (1.5.0), I am getting UnusedFormalParameter warnings for parameters that are used by compact(). Simple example code that triggers the problem:

<?php

function showBug($param) {
    return compact('param');
}

?>

Output:

test.php:3  Avoid unused parameters such as '$param'.

[2013-11-08 09:44] filipgolonka opened #113 "CamelCaseMethodName doesn't allow methods like _getVariable"
There is a convention to give protected and private methods a name, beginning with underscore. Unfortunately, phpmd doesn't allow to name those method with this convention. My fix for it:
class PHP_PMD_Rule_Controversial_CamelCaseMethodName
Line 98:
if (!preg_match('/^[a-z][a-zA-Z0-9]_$/', $node->getName())) {
Replaced with:
if (!preg_match('/^[_]_[a-z][a-zA-Z0-9]*$/', $node->getName())) {

[2013-11-09 09:41] #98 closed, assigned to nobody

[2013-11-09 10:10] #111 closed, assigned to nobody

[2013-11-09 22:35] mcandre opened #114 "Can't find phpmd on PEAR website"
http://pear.php.net/search.php?q=phpmd&in=packages

[2013-11-09 22:47] mcandre opened #115 "ImageMagick error during phpmd installation"
Trace:

[code]

System:

[code]

[2013-11-09 22:52] #115 closed, assigned to nobody

[2013-11-09 22:54] mcandre opened #116 "PHP/PMD/TextUI/Command.php fails to load"
Trace:

[code]

System:

[code]

[2013-11-09 22:56] #116 closed, assigned to nobody

[2013-11-11 19:01] andrewwatson opened #117 "--exclude not working"
[code]

it's ignoring my command line options completely! the documentation says to use --ignore but when I use that it complains and says that is deprecated.

[2013-11-14 15:42] demiankatz opened #120 "Bad interaction between namespaces and compact()?"
Using the latest release (1.5.0) there seems to be a problem with unused local variable detection, the compact() function, and namespaces.

This code:

---

namespace NS;

class c
{
    public function f() {
        $x = 1;
        return compact('x');
    }
}

---

causes an inappropriate "Avoid unused local variables such as '$x'" error.

If you comment out the namespace declaration, the error g

[2013-12-12 19:57] Chowarmaan opened #123 "Better Text Error Reporting"
When we receive detected mess on a file, it would be nice to have a cleaner output as to what triggered the error.

I use the text mode for simplicity to the developers, and PHP_CodeSniffer does have a nice output to show the line, error, and what sniff (rule for MD) failed.

Could something not be done as well to output this information:
## FOUND x ERROR(S) AFFECTING x LINE(S)

Line# | ERROR | Te

[2013-12-12 20:35] Chowarmaan opened #124 "NPath Complexity of 315525"
I have a command line option interface, which formats the output for display to the user when the tool is called wrong.  The options could be values in a config file (XML, INI) or even the command line similar to getopts.

The function below is being reported as a Cylomatic Complexity of 15, but a NPath Complexity over 300K.

The code will loop through each option and depending on how it is define

[2013-12-12 21:47] Chowarmaan opened #125 "Change a rule parameters without importing the rules individually"
I want to change the setting of the maximum length for variable names.  While this works when I include one rule, I do not want to miss future enhancement rules/checks when upgrading since they will not be defined in my ruleset.

This does not work.  The parameter setting of 30 in the LongVariables is not applied to the rule even though the main naming.xml should have been loaded first.
<rule ref=

[2013-12-28 05:06] JordanWindebank opened #126 "Can't open codeset files"
I have installed phpmd using pear on my local machine however it didn't appear to install the default codeset files:
- codesize
- unusedcode
- naming
- design

If I run phpmd providing these as inputs it errors due to apparent permissioning issues:

[code]

I've also performed a search across C:\php\pear\PHP\PMD directory structure and cannot find a file named design.xml.

Does anyone know if I ha

[2014-01-10 22:07] rkmax opened #127 "PHP Warning: Invalid argument supplied for foreach()"
when i execute phpmd on any file i get

[code]

i've installed from pear

- `PHP_Depend 1.1.4`
- `PHP_PMD 1.5.0`

[code]

[2014-01-13 10:35] reecefowell opened #128 "Unused local variable in foreach $val, which cannot be ommitted."
I have a foreach loop like this

[code]

Where i do not care about the value ($val), i only care about the key ($id), however MD says:

[code]

[Issue here on Scrutinizer-ci](https://scrutinizer-ci.com/g/codeconsortium/CCDNForumForumBundle/issues/files/Controller/BaseController.php?selectedLabels[0]=2&orderField=path&order=asc)

[2014-01-23 10:16] cstadler333 opened #129 "Pdepend as dependancy"
I installed phpmd and pdepend with composer. Buut I'm getting the following error:
PHP Fatal error: Class 'PDepend\Util\Configuration\ConfigurationFactory' not found in /var/lib/jenkins/.composer/vendor/phpmd/phpmd/src/main/php/PHP/PMD/ParserFactory.php on line 88
Result: 255

I saw that the pdepend class "ConfigurationFactory" no longer exists in pdepend since commit 261f095. because of this our

[2014-01-24 14:22] syndrael opened #130 "phpmd --version gives me a wrong message.."
Hello,
I've installed phpmd via composer with this composer.json
{
"require": {
"squizlabs/php_codesniffer": "1.5.1",
"phpmd/phpmd" : "1.5",
"pdepend/pdepend" : "1.1.0"
}
}
and when i want to know the pdepend version it's displayed:
PHPMD @package_version@ by Manuel Pichler
instead of 1.5
Thanks for your help

[2014-01-24 18:36] dazz opened #131 "Class 'PDepend\Util\Configuration\ConfigurationFactory' not found on dev-master"
composer.json:

[code]

Installing `dev-master`

[code]

Running phpmd:

[code]

Am I missing something? Do I need to install another package?

I tried several version combinations of phpmd and pdepend, but I don't get it to work without classes being missing.

[2014-01-24 20:21] #131 closed, assigned to nobody

[2014-02-15 08:02] lsv opened #133 "[Bug] Traits with parent:: calls fails"
[code]

The code is fully valid - But get this error from phpmd

The parser has reached an invalid state near line "xxx" in file "Traits/Foo.php". Please check the following conditions: The keyword "parent" was used as type hint but the class "Foo" does not declare a parent.

[2014-02-17 21:32] yitznewton opened #134 "UnusedPrivateMethod and callables"
PHPMD is not detecting use as a callable, e.g.

[code]

See https://github.com/yitznewton/phpmd/pull/1 for failing test

I looked into pdepend, but I did not see any Source classes that dealt with this construct.

[2014-02-27 09:01] svscorp opened #135 "Unused function parameters violation (function parameters goes to 'compact')"
Hi

Found one more issue. Phpmd reports about "Unused function parameters", if you have function like this:

[code]

[2014-03-06 20:59] sul4bh opened #136 "Link to a .phar binary for download"
Can we have a link to .phar binary please?

[2014-03-07 13:22] #136 closed, assigned to nobody

[2014-03-13 14:58] #135 closed, assigned to manuelpichler

[2014-03-14 08:05] #128 closed, assigned to nobody

[2014-03-14 10:32] sidorovich opened #137 "phpmd.xml exceptions example for ShortVariable rule"
Hi!

Can anyone give an example of a well-formed phpmd.xml, which lists the exceptions to the rule ShortVariable?

I was tryed this:

[code]

and this (with $ and without it)

[code]

but both variants does not works. I have warnings in my report

[code]

Thx

[2014-03-15 11:14] entering opened #138 "Inconsistent results on different directory"
Nothing:

[code]

Now it appears:

[code]

[2014-03-22 21:32] fulldecent opened #139 "New Hello World repository that shows you how to set up Travis & PHPMD"
Could you please set up a simple repository that shows a working example of using PHPMD for CI.
- /index.php _Just `<?= 'Hello World' ?>`_
- /.travis.yml
- README.md

[2014-04-03 13:42] Synchro opened #140 "How to suppress a condition from being counted towards complexity?"
I have lots of debug checks that are done like this:

[code]

The problem is that every time I do that it doubles the possible paths through a function and increases the complexity rating, and when I do it a lot, it completely dominates the report and drowns out useful info. As far as I can see there isn't a suppression option for this (since there's nothing wrong with the code itself).

As a work

[2014-04-15 07:15] pk16011990 opened #141 "Unsupport PHP 5.5 ::class"
When i use PHP 5.5 construct MyClass::class PHPMD returns error "Unexpected token"

example:

Line 28:

[code]

[code]

[2014-04-17 05:29] madhurtandon opened #142 "ExcessiveMethodLength"
Does ExcessiveMethodLength count the method inline comment. Is there any property so that i can ignore the inline comments from the ExcessiveMethodLength.

[2014-04-24 12:49] #141 closed, assigned to nobody

[2014-04-24 12:58] #126 closed, assigned to nobody

[2014-04-24 13:28] #140 closed, assigned to nobody

[2014-04-24 16:57] Aerendir opened #143 "Warning: require_once(PHP/PMD/TextUI/Command.php): failed to open stream: No such file or directory"
I installed PHP Mess Detector using Composer.

[code]

Trying this command, i receive the following error:

[code]

Hi hope someone can help me, thank you!

[2014-04-25 10:32] kamazee opened #144 "No beta.5 on packagist"
The recent beta is not available at packagist: https://packagist.org/packages/phpmd/phpmd
This is the one that got rid of depending on exact version of `pdepend` so it would be nice to have it installable in order to update pdepend flawlessly.

[2014-04-25 10:49] #144 closed, assigned to nobody

[2014-04-30 11:28] #40 closed, assigned to nobody

[2014-05-01 15:53] gregrobson opened #145 "StaticAccess - ability to add exceptions for specific class names"
I'm getting lots of false positives for Laravel development as they have designed the architecture to hide the objects and shorten the syntax.

Could a list of classes (if possible with namespace support, although in this case I don't need it) be added as exceptions to this rule so that I could exclude this special classes such as _Input, Cache, Database, Mail, Paginator_ etc

[code]

More details

[2014-05-20 10:11] martinlindhe opened #146 "HTML report links to nonexisting documentation for "Avoid using static access to class""
Tested with phpmd 1.5.0,

the generated html report links to the following non-existing documentation:

http://phpmd.org/rules/design.html#staticaccess

(the #staticaccess anchor is missing)

[2014-05-20 10:14] martinlindhe opened #147 "false positives during static access detection"
I noticed while testing phpmd 1.5.0 that my PDO database driver class got many warnings about static access.

It is only using the PDO::FETCH_ASSOC and similar constants, and these are confusing the static access analyser.

Usage of these constants should not be detected as static access

I looked into issue #104 and #106 but they dont mention class constants, so i opened this task.

[2014-06-04 22:52] ztec opened #149 "Multiple ruleset configuration per file set"
Hello,
I have a question for the community of PHPMD :
### The context :

I want to be able to define rulesets according to class usages.
For example :

| Class type | Complexity | Public method count | Unit Test Coverage |
| --- | --- | --- | --- |
| Controllers | 3 | 10 | - |
| Entites | 1 | - | 0 |
| Services | 10 | 10 | 90% |
| Factory | 10 | - | 90% |
| DAO | 5 | 10 | 60% |

_Numbers are just

[2014-06-09 14:19] simnare opened #151 "UnusedPrivateMethod chained method calls"
ENV:
phpmd 2.0
php 5.4.26

----
Lets say we have a class:
[code]

I get `UnusedPrivateMethod` warning on every chained call after `baz()`. In other words if i chain more than 2 methods, for every next method i get a warning.

if code looks like this:
[code]
I get no warnings.

[2014-07-03 10:17] hgiesenow opened #153 "Conflict for abstract methods in traits"
This example will lead to an error in phpmd, that leads to aborting the whole phpmd check.

[code]

Leads to

[code]

Edit: A Quickfix would be

[code]

But this leads to much more unreadable code, especially when using more traits (and also throws phpcs error "contant not uppercase, but that's another topic)

Edit 2: The Quickfix only works for traits, not for classes, so no way to pass the phpmd

[2014-07-07 08:14] #129 closed, assigned to nobody

[2014-07-07 08:19] #130 closed, assigned to nobody

[2014-07-08 07:12] #77 closed, assigned to nobody

[2014-07-14 09:23] alcohol opened #155 "1.5.0 release contains pdepend version specification with no upper limit"
A 1.5.0 install at the moment will accept a 2.0.0 pdepend version, even though 2.x is not compatible with phpmd 1.5.x. This is due to phpmd depending on pdepend using a >= version constraint (no upper limit).

Broken:
[code]

Works (force pdepend to a 1.x release):
[code]

See also:
https://getcomposer.org/doc/01-basic-usage.md#package-versions
https://getcomposer.org/doc/01-basic-usage.md#next-si

[2014-07-14 09:37] silentFred opened #156 "Fresh composer install failure"
Hi guys,

I'm getting the following exception when installing any version of phpmd via composer.

I'm running php 5.3.

[ErrorException]
  ZipArchive::extractTo(vendor/composer/a08a2928/pdepend-pdepend-b74f2bb\src\test\resources\files\Autoload\testAutoloadNotLoadsClassFromDifferentNamespace\PHP/AutoloadNotLoadsClassFromDifferentNamespace.php): failed to open stream: No such file or directory

Any

[2014-07-14 09:58] #156 closed, assigned to nobody

[2014-07-14 21:53] mikaeljorhult opened #157 ""failed to load external entity" when using phar"
I've been trying to use PHPMD through the command line using the phar but I keep getting the message `"failed to load external entity "phar:///[...]/phpmd/phpmd.phar/PHP/PMD/../../../resources/rulesets/cleancode.xml"`.

Judging from the URL it seems like the path is pointing one level to high up in the structure. I've tried different versions but 1.4.x and 1.5.x both show the same problem for me.

[2014-07-21 09:41] Spudley opened #158 "When is 2.0 being properly released?"
Okay, so we have a 2.0 release in github and packagist, and that's great, but on the phpmd website, the latest version is still listed as 1.5; there isn't a phar download for 2.0, and there's no documentation on the new stuff in 2.0.

Any news on when this will be updated?

Thank you!  :smiley:

[2014-07-21 10:27] #158 closed, assigned to nobody

[2014-07-23 13:46] ravage84 opened #161 "Unit tests fail on Windows"
The unit tests fail on Windwos because some prepared XML files have unix style directory separators.
The problematic files are:
`default-xml.xml`
`single-directory.xml`
`single-file.xml`

Also some timing problem exists in `PHPMD\ReportTest::testReportTimerReturnsMilliSeconds`.

[code]

[2014-07-23 13:57] ravage84 opened #162 "Websites still links to PEAR channel"
http://phpmd.org/download/release/2.0.0/changelog.html
states incorrectly:

But PEAR support has been dropped in
https://github.com/phpmd/phpmd/commit/ef05b232ab18d7f1619a55b0064b55c8654bcf8d

People still try to find phpmd on PEAR:
https://github.com/phpmd/phpmd/issues/114

Please correct that on the website.

[2014-07-23 16:11] #147 closed, assigned to nobody

[2014-07-23 18:12] #114 closed, assigned to nobody

[2014-07-23 19:02] #113 closed, assigned to nobody

[2014-07-23 19:27] #162 closed, assigned to nobody

[2014-07-23 20:14] #117 closed, assigned to nobody

[2014-07-23 20:16] #143 closed, assigned to nobody

[2014-07-24 08:13] ronanguilloux opened #166 "Cannot install 2.0.0 error due to a not-found request package (symfony/console 2.5.2.0)"
[code]

[2014-07-24 10:24] piotr-cz opened #168 "--version argument doesn't return version"
[code]

should say 1.5

[2014-07-28 12:08] jyggen opened #169 "Strange error message for static access."
When a violation of the static access-rule in clean code-ruleset the following error message is displayed:  `Avoid using static access to class '::' in method '::'.`. Somehow it inserts :: instead of the class- and method names.

This occurs on 2.0 and dev-master 821b10e (latest commit right now).

[2014-07-29 08:19] flip111 opened #170 "Traits using private method."
I have one class and two traits. Both traits use the same private method on the class (so i don't want to move the private method into the traits). PHPMD now gives a warning for the unused code ruleset `Avoid unused private methods such as ...`

[2014-07-29 12:44] flip111 opened #171 "Order by directory"
For the unusedcode filterrule it would be nice if the output was ordered by directory rather then alphabetically.

[code]

instead of

[code]

[2014-07-29 12:47] flip111 opened #172 "usused functions"
It would be nice to have detection of unused functions across classes. For this to work it would be nice to be able to give a directory (composer: vendor) to look for for possible function calls to avoid false positives in the real source code directory.

[2014-07-29 12:52] flip111 opened #173 "Unused use declarations"
It would be nice to have functionality that can detect unused use declarations.

[2014-07-30 07:27] flip111 opened #174 "Detect unnecessary public methods."
It would be nice if PHPMD could detect methods that are declared public, but are never called from outside of the class (or it's children). And advise to make it either private or protected.

[2014-07-31 12:43] Progi1984 opened #175 "PHP 5.3.3 - Wrong "Avoid unused local variables""
In a Travis Job (with PHP 5.3.3), i have [this error](https://travis-ci.org/PHPOffice/PHPPowerPoint/jobs/31325302#L300) :

[code]

And [the "$value" variable is used at line 952](https://github.com/PHPOffice/PHPPowerPoint/blob/master/src/PhpPowerpoint/Writer/PowerPoint2007/Chart.php#L941).

But for others job (PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6), [I haven't got the problem ](https://travis-ci.org/

[2014-08-01 14:42] r0w4n opened #176 "Nested Ternary"
It is my opinion that nested ternary are bad practice.

It would be jolly nice to see a rule for nested ternaries.

[2014-08-04 13:16] #137 closed, assigned to nobody

[2014-08-04 16:33] manuel-baptista opened #178 "'CamelCaseClassName' is actually Pascal Case"
Hi there

It appears as if the 'CamelCaseClassName' rule in the 'controversial' ruleset is checking for PascalCase and not CamelCase.

I created a class called "Person" and didn't get a warning, but when I rename the class to "person" I get "The class person is not named in CamelCase."

Foo.php5
![image](https://cloud.githubusercontent.com/assets/8282380/3800304/ef8a1d52-1bf6-11e4-8d9f-0a157698868

[2014-08-05 07:52] Progi1984 opened #179 "Support of HHVM"
Using PHPMd on all our projects on Travis CI, we have all same errors.
PHPMD has been [installed with Composer](https://travis-ci.org/PHPOffice/PHPProject/jobs/31684601#L216).

Link : https://travis-ci.org/PHPOffice/PHPProject/jobs/31684601#L293
[code]

Thanks for your help.

[2014-08-07 13:53] krtek4 opened #180 "PHPMD complaining about UnusedFormalParameters when overriding method from base class."
Following issue #50, I also have a warning about UnusedFormalParameters which I think should no be happening.

I created classes extending the base Symfony 2.0 Command class which includes an `execute` method :

[code]

My own classes are as follow :

[code]

PHPMD is complaining about the `$input` parameter that is not used on the `ConfigCommand`, but there is nothing I can do about it since I re

[2014-08-19 16:30] EMCP opened #181 "404 error on your website release area"
I was poking around the Website, and noticed that the latest release link gives me a 404

http://static.phpmd.org/php/2.1.0/phpmd.phar

If there's a new release area (like the github repo release area) then it'd be great to update your website.

[2014-08-22 23:09] till opened #183 "exceptions for CamelCaseVariableName and UnusedLocalVariable"
https://github.com/phpmd/phpmd/blob/master/src/main/php/PHPMD/Rule/Controversial/CamelCaseVariableName.php

Would it make sense to bake exceptions into it?

E.g.: `$http_response_header`

Just wondering if this should happen in PHPMD, vs. people having to silence the rule every time, or even worse: not using it. ;)

[2014-09-02 06:02] murnieza opened #184 "Cache files should be deleted at some point"
If cache files are stored in filesystem, they stay there until they are deleted explicitly. In my CI server I already have more than 10GB of phpmd cache and the only solution is to delete cache periodicaly.

Some kind of TTL for cache or other mechanism for that should be introduced.

[2014-09-06 06:00] kid-icarus opened #185 "Support POSIX file globbing, and STDIN."
Could someone explain to me the logic behind having to specify a path with --suffixes and --exclude options instead of being able to stream in files, use STDIN, or use file globs?

I'm trying to write a phpmd plugin for gulp.js and this is an extreme hindrance for me.

[2014-09-08 15:07] #166 closed, assigned to nobody

[2014-09-08 15:12] #157 closed, assigned to nobody

[2014-09-09 18:16] #181 closed, assigned to manuelpichler

[2014-09-09 18:26] #168 closed, assigned to manuelpichler

[2014-09-09 18:35] #183 closed, assigned to manuelpichler

[2014-09-10 00:38] contra opened #186 "take files in via stdin, output report via stdout"
Specifying file paths is totally wrong when using this in conjunction with other tools

[2014-09-11 08:36] FractalizeR opened #187 "Variables declared only to pass to a closure are detected as unused"
[code]

Variable $user in this example is detected as unused. But it is used. It is passed into the closure.

[2014-09-17 08:52] ghost opened #188 "PHP Warning: require_once"
I can't run phpmd.
The following error occurs when attempting to run it:

~/Desktop/phpmd-master/src/bin$ ./phpmd
PHP Warning:  require_once(/home/adam1/.local/share/Trash/files/phpmd-master/src/bin/../../vendor/autoload.php): failed to open stream: No such file or directory in /home/adam1/.local/share/Trash/files/phpmd-master/src/bin/phpmd on line 10
PHP Stack trace:
PHP   1. {main}() /home/adam1

[2014-09-17 09:06] manuelpichler opened #189 "Missing composer install documentation"
The documentation section for installing PHPMD "From the github repository" is currently missing the `composer`and `/vendor` install part.

[2014-09-17 09:59] #188 closed, assigned to nobody

[2014-09-17 22:59] AbcAeffchen opened #191 "Superglobals are not named in CamelCase"
phpmd has CamelCase exceptions for `$php_errormsg` and `$http_response_header`, but not for

`$_POST`, `$_GET`, `$_SERVER`, `$_FILES`, `$_SESSION`, `$_COOKIE`.

Maybe there are more php variables that are not named in camelCase, but should not mentioned as such. If phpmd mentions them, then only as superglobals (if the supergloabals rule is used)

[2014-09-18 15:10] ssfinney opened #193 "NestedScopes rule is gone"
The NestedScopes rule used to be a member of the "cleancode" ruleset, but has been removed.

Please add it back. This is a very valuable rule for me and my team.

[2014-09-23 17:57] #120 closed, assigned to nobody

[2014-09-23 17:58] #112 closed, assigned to nobody

[2014-09-23 18:06] demiankatz opened #194 "UnusedLocalVariable / foreach / double quotes compact bug in 2.1.1"
I'm using PHPMD 2.1.1, and while this solves several compact()-related problems found in earlier releases, there still appears to be an issue where foreach and compact trigger a false UnusedLocalVariable warning when variable names are enclosed in double quotes. Example:

[code]

If you replace the compact line with:

``return compact('k', 'v');``

(substituting single for double quotes)

then the

[2014-09-25 10:14] #191 closed, assigned to manuelpichler

[2014-09-25 13:02] #189 closed, assigned to manuelpichler

[2014-09-25 15:00] attiks opened #195 "PHPMD 2.1.2 not functioning with phing"
We're using phing on our CI and it breaks when using 2.1.2

[PHP Error] include_once(): Failed opening 'PHPMD/Renderer/XMLRenderer.php' for inclusion

Running vendor/bin/phpmd gives a warning, undefined property stdClass::$version, but adding the version to composer.json does not solve the phing problems.

[2014-09-25 15:56] #195 closed, assigned to manuelpichler

[2014-10-01 15:04] lunetics opened #196 "Composer Compatible for symfony >= 2.5 and < master/dev"
So phpmd is usable with symfony 2.6.*@dev

[2014-10-08 21:06] robballou opened #202 "UnusedFormalParameter should not complain about early parameters if later ones are used"
Often, functions that receive a set of parameters as a callback or similar. If the code then uses one of the later parameters (but not the first one), an UnusedFormParameter is thrown but there's nothing that can be done about it.

Example:

[code]

`$thing` is needed to get the parameter `$thing2`. Is there a way to fix this? Thanks.

[2014-10-09 13:27] ravage84 opened #206 "File header doc block cleanup"
Clean up the current file header doc block:

[code]

To this:

[code]
- Removed  PHP Version 5 https://github.com/phpmd/phpmd/pull/204
- Removed @version annotation https://github.com/phpmd/phpmd/pull/205
- Replace license text with reference to LICENSE.txt
- Remove year notes in copyright
- Add link to http://phpmd.org/

I can take care of the rest, if you want.

[2014-10-09 17:53] #146 closed, assigned to nobody

[2014-10-09 18:17] #145 closed, assigned to nobody

[2014-10-09 18:26] #48 closed, assigned to manuelpichler

[2014-10-09 18:27] #175 closed, assigned to nobody

[2014-10-10 07:28] #161 closed, assigned to nobody

[2014-10-10 12:55] ravage84 opened #209 "Two broken tests under certain Windows configurations"
PHPMD Version: Current master.

Under Windows with various configurations - but not all - the two tests below break.

As you can see, it doesn't matter if I use my system-wide installed phpunit or the one installed as dependency.
I could even exchange it with some old version like 3.7.37, the tests still break.
It doesn't seem to be related with the installed Xdebug (2.2.5) either.
PHP 5.4.31 and

[2014-10-10 14:04] ravage84 opened #212 "CS fixes"
While doing PR https://github.com/phpmd/phpmd/pull/211

I checked the current code base using phpcs and it reported me quite some violations against the PSR-2 standard.
These should be fixed.
Also may be some files should be excluded from the check.

[code]

[2014-10-10 14:41] ravage84 opened #213 "Add a AppVeyor build badge to the README"
Once, there is an AppVeyor project configured to point to this repo, we can also add a build badge in the  [README](https://github.com/phpmd/phpmd/blob/master/README.rst).

Can be found under "Badges" in the AppVeyor's project settings.

[![Build status](https://ci.appveyor.com/api/projects/status/oua8ohd7nvspix65?svg=true)](https://ci.appveyor.com/project/ravage84/phpmd)

[2014-10-31 15:57] gooh opened #220 "Skip check for ConstructorWithNameAsEnclosingClass when in an interface or namespace"
PHPMD will report a violation when it finds a file like this:

[code]

While it's easy to work around this by making the interface name a noun like `TokenLifetimeExtender` it feels odd having to do so when it's an interface. Interfaces should not contain constructors anyway, so assuming I defined one here feels like a bug to me. In addition, there is namespace here so the method would never not ge

[2014-11-03 10:21] tamvodopad opened #222 "Problem with trait and parent declaration"
I have some problem with phpmd:

The parser has reached an invalid state near line "21" in file "/sites/cp-timeweb-ru-yii/common/models/DomainAccessChecker.php". Please check the following conditions: The keyword "parent" was used as type hint but the class "DomainAccessChecker" does not declare a parent.

For this trait:

[code]

i'm used this trait for class:

[code]

His parent have this method

[2014-11-10 11:41] #196 closed, assigned to nobody

[2014-11-10 11:44] #220 closed, assigned to nobody

[2014-11-10 15:34] #79 closed, assigned to nobody

[2014-11-10 23:27] u01jmg3 opened #223 "On first run errors found are duplicated in report"
- I am finding that the errors reported by PHPMD in its report are duplicated the first time I run PHPMD - without making any changes to the code or command I run on subsequent runs this duplication disappears. Is there any reason this might be happening?

![phpmd-dupe-issue](https://cloud.githubusercontent.com/assets/1266205/4985731/b37ac96a-6930-11e4-9ea3-2cdcc94f0f0c.gif)

[2014-11-11 12:01] Mulkave opened #224 "Wrong detection for unused variables with compact()"
I get the violation: `Avoid unused local variables such as '$whatever'` while being used in `compact('whatever')`

[2014-11-21 19:21] bkdotcom opened #227 "exceptions example for ShortVariable rule"
I believe issue #137  needs reopened

whether it's documentation or otherwise...  changing ShortVariable properties is broken at best

[code]

results in

so tweaking the minimum didn't quite work and adding the exception didn't work either
.
Attempts to google a fix find all sorts of hacks such as

[code]

which are also unsuccessfull

I am using the latest phar release

[2014-11-22 23:24] jdufresne opened #228 "Unused variables not always detected (with example)"
`test.php`

[code]

The variable `$bar` is assigned multiple times, but not used. PHPMD does not detect this as unused when using the command `phpmd test.php text unusedcode`.

[code]

[2014-11-23 19:40] jdufresne opened #229 "Unused local variable false positive when used with new and static variables"
The following test case produces a false positive of an unused variable `$cls`.

[code]

[code]

[code]

[2014-11-23 19:52] jdufresne opened #230 "Unused private field false positive when called on other objects"
Observe the following test case:

[code]

[code]

The member `$bar` is not unused as it is used in the `foo::create()` method. I think the confusion is due to the fact that it is called on an object other than `$this`. This is legal PHP as stated in the documentation: <http://php.net/manual/en/language.oop5.visibility.php#language.oop5.visibility-other-objects>

[code]

[2014-11-24 03:31] bkdotcom opened #231 "Give clere error message when a method matches the class name that has an explicit __construct method"
I got a false positive on this one.

[code]

The constructor is `__construct()`  `foo()` is just a regular 'ol function and as such should not raise said error

[2014-11-26 10:54] mi-schi opened #233 "sorry wrong repo, can be closed"

[2014-11-27 15:34] Eternal-Infinity opened #234 "Violation-message from ExcessiveMethodLength-rule"
Hi there,

I used the codesize-ruleset on my project and got a strange message for a violation from the ExcessiveMethodLength-rule:

[code]

While all other rules give me something like

[code]

It seems that the ExcessiveMethodLength-rule has some problems to display "method" and instead displays "phpmd\node\methodnode"
Or did I get something wrong?

[2014-11-28 08:01] Eternal-Infinity opened #235 "Output for version"
Hi there,

I use the phpmd.phar I downloaded from http://static.phpmd.org/php/2.1.3/phpmd.phar.
The xml-output gives me something like this:

[code]

Is there something I have to configure to make the output of the version correct?

[2014-12-04 13:51] #169 closed, assigned to nobody

[2014-12-08 15:09] #139 closed, assigned to nobody

[2014-12-24 09:50] gregrobson opened #239 ""Avoid unused local variables" when assigning within an array"
I'm getting a false positive with the following example:

[code]

*(background - I'm extracting a database row result and assigning into a more convenient form)*

Is it possible for `$valueIsUsed` to be detected as it's on the "right hand side" of an assignment.

[2015-01-01 19:57] fulldecent opened #240 ""Avoid unused private methods" throws when used as static"
When a private static function is used elsewhere in the same class, it may be incorrectly reported as an unused function.

**TEST CASE:**
[code]

**RESULT:**

    /Users/williamentriken/Developer/phpmd/tmp.php:11	Avoid unused private methods such as 'topTenTallCats'.

**EXPECTED:**

No error

**NOTE:**

Correct behavior is achieved if `self::topTenTallCats()` is used in place of `Cat::topTenTallCa

[2015-01-06 11:43] sas05 commented on #110
I agreed. 3 level chained method not supported. it is a old post but no response yet.

[2015-01-10 18:35] Rarst commented on #124
Related I guess: https://github.com/pdepend/pdepend/issues/158

Hit this recently and it was annoying. It forces to rewrite exactly same logic in a different way.

[2015-01-12 20:40] chr0n1x opened #247 "Improve on testing classes as a lib"
I have my own set of rules in a personal repository. Via composer, `vendor/bin/phpmd` picks them up seamlessly which is really cool!

However, I've started toying with the idea of testing my rules by extending `AbstractTest` and have run into a few problems. The main problem seems to be that `AbstractTest` is not very flexible. Specifically, [`createResourceUriForTest `](https://github.com/phpmd/p

[2015-01-13 14:24] JeroenDeDauw commented on #94
+1 to progress reporting. Has any work on this been done? Looks like b94cb21 incorrectly referenced this issue

[2015-01-13 14:52] JeroenDeDauw opened #248 "TooManyMethods and method visibility"
The TooManyMethods rule applies to all methods, regardless of their visibility. Holding visibility into account seems very useful, since while 10 methods (excluding getters and setters) in itself is not necessarily an indication or SRP violation, 10 public methods definitely is. Looking at the rules class, it does not appear there is any option for this. Are there plans of adding such an option? I

[2015-01-13 17:18] JeroenDeDauw opened #250 "Parameters missing from the docs"
I was looking at http://phpmd.org/rules/controversial.html to see if CamelCaseMethodName had any options. None are listed.

Then later, I was looking at the CamelCaseMethodName class and saw it has an option. I proceeded to add this to the docs, and found it [is already there](https://github.com/phpmd/phpmd/blob/master/src/main/resources/rulesets/controversial.xml#L94-L99). Also looks like this wa

[2015-01-13 17:19] JeroenDeDauw commented on #233
+1 :)

[2015-01-13 17:28] JeroenDeDauw opened #251 "Question: how to best make this extension to CamelCaseMethodName"
In my projects, `camelCase` is required for method names. There however is an exception: tests. This is also allowed: `testGivenInvalidLanguage_exceptionIsThrown`.

The rules for this are:
- only applies to methods starting with "test" (in classes that end on "Test")
- only a single _ is allowed (though not required)
- the character after the _ should be lowercase
- the _ should separate the "give

[2015-01-15 09:13] grogy commented on #222
This problem is fixed. If you install actual version (from master branch), is all OK. (see https://github.com/pdepend/pdepend/issues/128)

You can close this ticket.

[2015-01-15 09:15] grogy commented on #108
This problem is fixed. If you install actual version (from master branch), is all OK. (see https://github.com/pdepend/pdepend/issues/128)

You can close this ticket.

[2015-01-15 09:15] grogy commented on #133
This problem is fixed. If you install actual version (from master branch), is all OK. (see https://github.com/pdepend/pdepend/issues/128)

You can close this ticket.

[2015-01-15 10:52] superdweebie commented on #108
Ta

[2015-01-15 10:52] #108 closed

[2015-01-24 18:03] niko2342 commented on #187
+1

[2015-01-26 11:34] #133 closed

[2015-01-27 08:53] hanneskaeufler commented on #251
+1 Would definetely like this as well. I follow a similar naming pattern for tests.

[2015-01-27 11:04] KingCrunch opened #252 "Private method wrongly marked as "unused" when called from sibling"
[code]
See http://3v4l.org/G9sVq

`phpmd` markes the method `privateMethod()` as "unused".

[2015-01-29 19:30] quantumpacket opened #253 "False Unused Private Method When Using Method As Callback"
When I call a private method as a callback I get:

### Example:
This works fine, but phpmd thinks the private method is not being used.

[code]
**IDE:** PhpStorm 8.0.3
**phpmd:** 2.2.0 *(dev-master)*

[2015-01-30 08:26] tamvodopad commented on #222
Thanks

[2015-01-30 08:26] #222 closed

[2015-02-02 14:49] JeroenDeDauw commented on #251
I've added an option in #256. It's a boolean option to allow for a single underscore in the method name of a test. It's not as strict as it can be - some regex wizard can probably make it better.

[2015-02-03 17:14] curtisgibby opened #258 ""its brother" has a Bad Apostrophe"
On your [about page](https://github.com/phpmd/phpmd/blob/master/src/site/rst/about.rst), the text "its brother" should not have an apostrophe.

Don't believe me?  Ask [The Oatmeal](http://theoatmeal.com/comics/apostrophe) -- look for the singing velociraptor.

[2015-02-03 17:44] ravage84 commented on #213
@manuelpichler have you created an AppVeyor project yet?

You merged my related PR https://github.com/phpmd/phpmd/pull/208

[2015-02-03 19:26] manuelpichler commented on #213
@ravage84 no, I did not :-( Would you like to do this on your own and support PHPMD when I add you as a project's team member?

[2015-02-04 16:04] ravage84 opened #261 "Invalid CamelCaseVariableName violation on prefixed properties"
It seems that the CamelCaseVariableName rule reports static acess to underscore prefixed properties as violation in PHPMD 2.2.0.

[code]

[2015-02-06 06:20] programmin1 opened #262 "No warning for wrong type in addition"
There is unfortunately no warning at all in PHP for using + with strings:
[code]
Outputs "I want 0!" (never write a financial accounting sofware in PHP?)
Would it be possible to add a warning about this type of type-error?

Also, would it be possible to have a sort of type checking so a function like this would be marked for invalid addition?

[code]

[2015-02-06 06:36] programmin1 opened #263 "No warning when mistyping variable name as constant."
When a variable name is missing its $ it is considered a constant, and considered a string since the constant doesn't exist - only giving a notice when this happens.

It would be great if phpmd could catch this:
[code]

[2015-02-06 09:21] flik opened #264 "Broken links on your page"
Page: https://github.com/phpmd/phpmd

Lines:
You can also mix custom rule set files with build-in rule sets:

~ $ phpmd /path/to/source text codesize,/my/rules.xml

When we click on rule set link, It goes to the broken link. https://github.com/phpmd/phpmd/blob/master/documentation/creating-a-ruleset.html

You can check

[2015-02-06 19:23] ssfinney commented on #193
I'm just going to use [PHP Codesniffer's rule](https://github.com/squizlabs/PHP_CodeSniffer/blob/master/CodeSniffer/Standards/Generic/Sniffs/Metrics/NestingLevelSniff.php) for detecting indentation levels.

[2015-02-06 19:23] #193 closed

[2015-02-07 10:34] snapshotpl opened #265 "Search for development code"
I would like to see in phpmd search for typical development functions:
* var_dump
* die
* exit
* var_export

etc.

[2015-02-09 07:16] Eternal-Infinity commented on #265
Great idea!
:+1:

[2015-02-09 10:02] jonathan-dh opened #266 "Update PEAR packages"
Could you pls update the pear repo to include 2.2.0 pls?

Great tool btw!

Let me know if I can help to make this happen!

[2015-02-18 22:33] klapifoch commented on #239
Same issue here!

[2015-02-19 14:45] ravage84 commented on #239
@gregrobson Assuming you have one little error in your example:

[code]
In this case it can't be detected as the content of the ``$row`` variable is dependent on what it is given at runtime.

Same goes for:
[code]
But it could be detected in the following case, as the content of ``$row`` variable is set at "compile time".
[code]

That does not make any difference and creating some logic for detect

[2015-02-19 14:45] #239 closed

[2015-02-27 10:00] DavidBadura commented on #184
any news?

[2015-02-27 10:01] DavidBadura commented on #90
+1 any news?

[2015-02-27 14:03] normadize commented on #90
I see the dev finally paid attention 2h ago. Given how long it took for that to happen (no pun intended, we're all very busy people), a fix may take similarly long.

A workaround would be a cron job that runs every M minutes and deletes all files that have not been accessed in H hours. On linux/macosx this will delete files not accessed in the last 24h:

    find /path/to/.pdepend -amin +1440 -exe

[2015-02-27 14:06] manuelpichler commented on #90
Just working on a simple GC for PDepend's cache

[2015-02-27 14:10] ravage84 commented on #90
@normadize the reason why I assigned this to me is because I am using Windows and PhpStorm, while @manuelpichler does not.

Also @manuelpichler already stated the following in the other ticket:

We can keep this ticket open as it talks about the specific environment (Windows + PhpStorm) even though it should also be fixed once done in PDepend.

[2015-02-27 14:55] qnxor commented on #90
@ravage84 no worries, I just replied to provide a possible workaround for those who still use phpmd.

[2015-02-27 15:26] manuelpichler commented on #266
Sorry but we have dropped PEAR support since 2.0 completely. Couldn't you use composer instead?

[2015-02-27 15:31] manuelpichler commented on #90
This issue should be fixed with commit [#56712b1](https://github.com/pdepend/pdepend/commit/56712b10c78a17f8305436c5a4ccdf3106107691). So I will make a bugfix release in PDepend and then update the dependency here.

[2015-03-01 08:12] ihor-sviziev commented on #90
@manuelpichler good news!

[2015-03-01 09:08] #264 closed

[2015-03-01 09:09] #258 closed

[2015-03-02 10:27] #250 closed

[2015-03-02 16:01] ravage84 commented on #248
@JeroenDeDauw thank you for your inputs.

I agree with you, as the ``TooManyMethods`` rule currently stays, it's rarely really applicable without modifying the limit.

I would split them in two a) ``TooManyMethods`` and ``TooManyPublicMethods``. Where the ``TooManyMethods`` applies for all methods. But with a much higher default value, e.g. 20-30. As for the ``TooManyPublicMethods``, I would set t

[2015-03-02 16:03] manuelpichler commented on #248
:+1: for the idea of two separate rules.

[2015-03-02 16:03] manuelpichler commented on #265
:+1:

[2015-03-02 16:04] manuelpichler commented on #184
done

[2015-03-02 16:04] #184 closed

[2015-03-02 16:04] ravage84 commented on #248
On the other side, creating a second class could lead to redundant code in phpmd.
If that is the case, a second config setting, for example named ``maxpublicmethods``, would  be better.

[2015-03-02 16:04] manuelpichler commented on #90
done, see release 2.2.1

[2015-03-02 16:04] #90 closed

[2015-03-02 16:09] ravage84 commented on #248
And your side note about getters and setters should not be overlooked, too.

Because on somewhat bigger data objects there could be quite a few fields and thus around twice as much getters and setters.
So a config setting to ignore getter and/or setter methods would be cool, for example: ``ignore-getter-setter-methods``, or  ``ignore-setter-methods`` and ``ignore-getter-methods``.

[2015-03-02 18:42] JeroenDeDauw commented on #248
I'll try to submit a PR soon with what @ravage84 suggested:

* Modify `TooManyMethods` default limit to 25 or so
* Create `TooManyPublicMethods`

If it's a lot of code, then composition can probably be used no? Anyway, I'd rather think about what we want the user experience to be from the users point of view, not from what the implementation would look like.

Note that getters and setters are alre

[2015-03-02 22:45] ravage84 commented on #265
@snapshotpl are you willing to create a PR on this?
By the way there is already a rule against the ``eval`` expresssion:
https://github.com/phpmd/phpmd/blob/2.2.1/src/main/php/PHPMD/Rule/Design/EvalExpression.php
and against ``exit``:
https://github.com/phpmd/phpmd/blob/2.2.1/src/main/php/PHPMD/Rule/Design/ExitExpression.php

[2015-03-02 22:55] ravage84 commented on #248
@JeroenDeDauw  while it's true to focus on the usability for the end user of a tool, you should not forget about the [technical debt](http://en.wikipedia.org/wiki/Technical_debt).
As a user of a software you might not care much about this, but in the end the developers/maintainers of a software will have to *live* with the potential consequence(s) of each written line of code. Especially when it i

[2015-03-06 18:19] tvking opened #269 "ShortMethodName OutOfBoundsException missing backslash"
Running the PHPMD 2.2.1 using phing ci I get the following message:
  Property "exceptions" does not exist.

This result in the pmd.xml being empty once phing has completed.

The issue is with the file PHPMD\Rule\Naming\ShortMethodName which contains the function below. Which is missing the backslash on the OutOfBoundsException.

[code]

Adding the slash and running phing ci solve the problem for

[2015-03-09 14:17] ravage84 commented on #269
Resolved through your PR.

[2015-03-09 14:17] #269 closed

[2015-03-13 22:12] jdespatis opened #274 "Link to download phpmd phar (version independent)"
It's possible to download phpmd thanks to the link https://github.com/Mayflower/PHP_CodeBrowser/releases/download/1.1.1/phpcb-1.1.1.phar
but this link depends on the version

Is there some link that doesn't depend on the version?

Other tools provides such links like https://phar.phpunit.de/phpunit.phar, http://static.pdepend.org/php/latest/pdepend.phar, etc.

A fix link is useful for automatic do

[2015-03-15 14:00] aosmialowski commented on #266
PEAR? Any one still using it? +1 for Composer suggestion.

@manuelpichler what about providing PHAR instead as requested in #274?

[2015-03-15 19:38] manuelpichler commented on #274
PHPMD has the same latest version:

http://static.phpmd.org/php/latest/phpmd.phar

Isn't that mentioned on the website somewhere?

[2015-03-15 19:39] manuelpichler commented on #266
@aosmialowski see my comment at #274

[2015-03-15 20:30] aosmialowski commented on #266
@manuelpichler thank you. I don't know why but I've missed it.

[2015-03-15 20:32] aosmialowski commented on #274
I can't find it. What about adding it under Download menu as a link saying "Latest release as a PHAR archive"?

[2015-03-16 08:10] jdespatis commented on #274
Thanks for the link @manuelpichler !

I haven't found it indeed. The only section that speaks about the PHAR is on GitHub (the `README.rst`') that only forwards to http://phpmd.org/download/index.html

And on the download page of phpmd, there's no section speaking about PHAR. It would help to add a section there I think

[2015-03-16 09:13] #274 closed

[2015-03-16 09:18] manuelpichler commented on #266
Except someoneelse maintains the pear support of PHPMD, there will not be any 2.x version through pear.

[2015-03-16 09:18] #266 closed

[2015-03-16 09:19] jdespatis commented on #274
Thanks @manuelpichler !

[2015-03-16 09:20] manuelpichler commented on #263
This is not possible, because I promise out there is code that defines a constant named "i" which would then result in a false positive.

[2015-03-16 09:20] #263 closed

[2015-03-16 09:23] manuelpichler commented on #261
Does this issue still exist? Just tested it with the following code:

[code]

and got no error

[2015-03-16 09:25] guiyomh commented on #29
+1

[2015-03-16 10:04] manuelpichler commented on #29
If a file named ```pdepend.xml``` or ```pdepend.xml.dist``` exists in the current working directory where you run phpmd, then you can configure [pdepend](http://pdepend.org/documentation/handbook/configuration.html) as you like.

[2015-03-16 10:04] #29 closed

[2015-03-16 12:00] ravage84 commented on #29
@manuelpichler may be we need to cover this better in the documentation. People seem to not be to be aware of this.

I guess a link from http://phpmd.org/documentation/index.html to http://pdepend.org/documentation/handbook/configuration.html with a short explanation should suffice.

[2015-03-16 12:03] manuelpichler commented on #29
Good hint @ravage84

[2015-03-16 12:40] donaldducky commented on #29
@manuelpichler is there a way to specify the pdepend configuration to use via phpmd?

[code]

We have a need to run phpmd against several different folders, in parallel, so they need different cachedirs for pdepend...otherwise the cache gets all whack.

[2015-03-16 21:21] ircmaxell commented on #124
It's not different. It's just an error in the calculation of CC that's resulting in an artificially low number.

[2015-03-16 21:45] stefanotorresi commented on #124
@ircmaxell as far as I reckon @manuelpichler is just using "the widely accepted and in all tools used formular to calculate the NPath complexity" and doesn't bother much about the fact that it yields a wrong result.

[2015-03-16 21:47] Rarst commented on #124
@ircmaxell low? which do you consider to be the error, lower complexity for `if`? The assumption in discussions around this was error to be higher complexity for ternary.

[2015-03-16 21:49] stefanotorresi commented on #124
i guess he meant "high".

[2015-03-16 21:51] ircmaxell commented on #124
the fact that ternary gives an artificially higher complexity of 5 vs the correct result of 2 is a bug. It's 5 because of an internal detail of Java. (and yes, I meant high).

[2015-03-16 22:04] stefanotorresi commented on #124
@ircmaxell i get that the fact that pdpend is a port of jdpend means the bug was ported as well... but doesn't this make it a fixable implementation detail?

[2015-03-16 22:12] Rican7 opened #275 "TooManyMethods reporting incorrect value"
On version `2.2.1` (and using `pdepend` version `2.0.6`), running on PHP `5.4.35`, the `TooManyMethods` rule is reporting a value that is lower than the actual count.

As a test, I created two classes. One with `67` (`65` public) methods reported only `33`. And another with `19` (all public) methods reported `12`.

Let me know if there's any other info I can provide. :smiley:

[2015-03-17 06:33] manuelpichler commented on #124
The NPath implementation used in pdepend is based on the original sience paper "NPATH: A MEASURE OF EXECUTION PAW COMPLEXITY AND ITS APPLICATIONS", where the formula to calculate the NPath complexity is:

[code]

and explains the +2 here:

[code]

@ircmaxell can you please explain why this definition should be an internal Java detail?

[2015-03-17 11:45] ravage84 commented on #275
@Rican7 could you please provide us a minified (remove as much as possible, without changing the outcome) of your class?
So we can test this against a concrete example.

[2015-03-22 20:17] ravage84 opened #276 "CamelCasePropertyName does allow Capitals at the beginning while CamelCaseVariableName does not"
The rule CamelCasePropertyName does allow capitals at the beginning while CamelCaseVariableName does not.

https://github.com/phpmd/phpmd/blob/2.2.1/src/main/php/PHPMD/Rule/Controversial/CamelCasePropertyName.php#L70
https://github.com/phpmd/phpmd/blob/2.2.1/src/main/php/PHPMD/Rule/Controversial/CamelCaseVariableName.php#L93

@manuelpichler do you know of a particular reason why this is so?

[2015-03-22 21:29] ravage84 commented on #261
@manuelpichler have a look at  #277

[2015-03-23 22:09] snapshotpl commented on #265
@ravage84 I don't think so

[2015-03-25 19:45] cstrosser commented on #80
We recently started experiencing this exact problem after the update to 2.2.1.  Reverting to 2.2.0 makes the problem go away.  It seems to be limited to something within the naming.xml file, which when disabled, eliminates the "exceptions" message.  If I compared correctly, it seems there was one change to the naming.xml file in the 2.2 release.  Was there maybe an inadvertent BC break?

[code]

[2015-03-25 20:17] ravage84 commented on #80
@cstrosser please create a separate issue next time, even if it could be related.

Those are the relevant changes between 2.2.0 and 2.2.1:
https://github.com/phpmd/phpmd/compare/2.2.0...phpmd:2.2.1#diff-0fb615195fc1c30dc57b0516a3ccfeb6R73
https://github.com/phpmd/phpmd/compare/2.2.0...phpmd:2.2.1#diff-0fb615195fc1c30dc57b0516a3ccfeb6R97
https://github.com/phpmd/phpmd/compare/2.2.0...phpmd:2.2.1#di

[2015-03-25 20:37] cstrosser commented on #80
Looks like the OutOfBoundsException wasn't imported.

[2015-03-25 20:53] ravage84 commented on #80
True, could you test it with the current master?

[2015-03-25 21:38] cstrosser commented on #80
Tested against master, and can confirm no exception is thrown.

[2015-03-25 21:42] ravage84 commented on #80
Many thanks. @manuelpichler is there something that blocks a patch release?

[2015-03-26 07:32] manuelpichler commented on #80
@ravage84 No, a patch release seems to be valid here.

[2015-03-26 07:47] #80 closed

[2015-03-30 18:34] digilist opened #278 "UnusedLocalVariable False-Positive when only second parameter is used"
I am experiencing an error when I define a closure and only use the second argument.

For example, I experienced it with the Symfony Options Resolver:

[code]

PHPMD blames me for the unused local variable $options.

The problem here is, that the interface is predefined by the library. It is not possible to skip the parameter. I am not sure this is a bug by itself, because sometimes it might be an

[2015-03-30 23:45] ava-dylang commented on #38
:+1: how do php people even live without any tool to do this. :moyai:-age

[2015-04-05 14:01] daithi-coombes commented on #79
@Rarst `2.1.3` is that version relating to `phpmd` or to `pdepend`? My only solution was to downgrade `pdepend` to version `1.1.1`, which is unfortunate because `pdepend` is currently on version `2.0.6`

[2015-04-05 14:37] Rarst commented on #79
I got following versions installed in my tools project at the moment:
[code]

[2015-04-07 09:50] BenjaminPaap commented on #186
+1 for this

[2015-04-09 16:48] zachborboa commented on #278
phpmd should allow prefixing the variable with `$unused_` and ignore when named as such.

`function ($options, $value)` would become `function ($unused_options, $value)`

[2015-04-10 13:54] bweston92 opened #279 "Variadic functions."
Issue with variadic functions arguments. (PHP 5.6.7-1)

[code]

[2015-04-15 13:55] yoosefi commented on #248
Any opinions on whether `@deprecated` methods should be excluded as well?

[2015-04-15 13:58] ravage84 commented on #248
@yoosefi  Not by default. Especially since some people use the ``@deprecated`` annoation also for deprecating parameters of methods
I could see that as a rule setting, though.

[2015-04-16 06:07] yoosefi commented on #248
Are `isFoo()` methods counted, since those should be used to get booleans?

[2015-04-17 03:17] yoosefi commented on #278
Good idea, @zachborboa, but in the wild i've seen unused vars prefixed with `$aux_`, `$unused_`, `$ditch_`, `$ignore_`, and just `$_`.  Maybe there could be a tag or a way to configure what var prefixes are ignored.

[2015-04-17 03:23] yoosefi commented on #253
There's really no way to check for string method names. Some callbacks are constructed using string concatenation, for example.

Is that the only place you're doing it? Could you just use a closure instead?

Try tagging the method with `@SuppressWarnings(PHPMD.UnusedPrivateMethod)`

[2015-04-17 03:26] yoosefi commented on #252
Try tagging the static method with `@uses self::privateMethod()`

[2015-04-17 21:30] AbcAeffchen commented on #134
:+1:

[2015-04-17 23:12] JeroenDeDauw commented on #248
They are not ignored by default. My pull request adds a setting that allows you to also ignore those though: https://github.com/phpmd/phpmd/pull/273/files

[2015-04-18 05:33] yoosefi commented on #248
:+1:

[2015-04-18 14:23] #253 closed

[2015-04-20 08:55] yoosefi commented on #278
How about suppressing this in general if some preceding variables are unused, but not tail ones?

[2015-04-20 10:36] atulatri commented on #94
+1

[2015-04-28 03:44] bkdotcom commented on #227
revisiting this...  was able to get to work in 2.2.2
I believe the key to success was not including the naming rule in the command line
ie my phpcs settings is now

        "phpmd_additional_args": {
            "codesize,unusedcode,c:/php/phpmdCustom.xml": "" // don't include naming rule here
        }

[2015-04-28 11:05] ravage84 commented on #227
@manuelpichler that makes sense to me as you also have to exclude a rule in the XML file before overwriting it with settings properties.

I think this is a lack of documentation here:
http://phpmd.org/documentation/index.html

To my surprise the process of overwriting settings of a rule isn't documented either:
http://phpmd.org/documentation/creating-a-ruleset.html

[2015-04-29 23:59] ava-dylang commented on #24
:+1:

[2015-04-30 10:57] dario1985 opened #280 "Unexpected token error defining constant array in php56"
When I try to define a constant array using the const keyword (http://php.net/manual/en/migration56.new-features.php) phpMD (version 2.2.2) generate a "Unexpected token: =>" error.

[2015-04-30 11:14] ravage84 commented on #280
Can you prepare a reduced code example that triggers that errors so we can test it?

[2015-04-30 11:28] dario1985 commented on #280
Yes, sure :)

[code]

[2015-04-30 11:56] ravage84 commented on #280
Does it work with the old array syntax?

[code]

[2015-04-30 13:11] manuelpichler commented on #280
This issue is related to PDepend issue pdepend/pdepend#192

[2015-05-11 08:36] megawebmaster commented on #279
Any news on solution to this problem?

[2015-05-11 10:28] manuelpichler commented on #279
I am currently solving this issue in PDepend.

[2015-05-11 10:45] ravage84 commented on #279
@manuelpichler do you have any issue number, so we can cross link this?

[2015-05-11 11:00] manuelpichler commented on #279
Just created it pdepend/pdepend#202

[2015-05-11 20:47] leewillis77 commented on #275
I just hit this. This [bare-bones class](https://gist.github.com/leewillis77/b8b295f4aceb381fe67e) reproduces this error. Despite having 15 methods, phpmd reports:

[code]

[2015-05-12 07:59] dario1985 commented on #280
It trigger the same error with the old array syntax too.

[code]

[2015-05-16 06:34] EvgenyUnvsoft opened #282 "NPath complexity are increased after "else" branch was removed and "return" statement was added"
First example

[code]

For this function PHPMD return NPath complexity 3.

Make some changes - remove "else" branches and add return statement to the if branches.

[code]

For this function PHPMD return NPath complexity 4.

Why NPath complexity increased?

[2015-05-17 20:45] ronlinet opened #283 "System wide installation via composer."
I have installed the PHPMD 2.2.2 via composer  as superuser in
[code]
and I can see the executable link in
[code]
I can execute the command at system wide level from any directory as far as I am logged as root superuser.
The phpmd command will become inaccessible as soon as I loging as any other user.
Creating symbolic link doesn't work either

[code]
and I am even getting permission denied if I t

[2015-05-18 12:37] ravage84 commented on #283
@ronlinet I think your question is better suited at http://stackoverflow.com generally or http://stackoverflow.com/questions/tagged/phpmd specifically as your problem is more about your environment and less about phpmd.

[2015-05-18 12:37] #283 closed

[2015-05-19 09:26] Vinai opened #284 "incompatibe with zend extension uopz.overloads=1"
If the zend extension [uopz](https://github.com/krakjoe/uopz/) is installed and `uopz.overloads = 1` is configured, phpmd.phar breaks:
[code]

Once `uopz.overloads` is not set (or the uopz extension is removed completely) phpmd works fine.
The same behavior can also be found in php 5.5.25.

Do you have any idea what in phpmd might cause this issue or how to work around it? I would really like to u

[2015-05-19 10:41] ravage84 commented on #284
@Vinai  Thanks for reporting this.
Since I don't know  of any such problem and a [Google](https://www.google.ch/search?q=Invalid+opcode+%22phpmd%22&gws_rd=ssl#q=%22Invalid+opcode%22+%22pdepend%22) [search](https://www.google.ch/search?q=Invalid+opcode+%22phpmd%22&gws_rd=ssl#q=%22Invalid+opcode%22+%22phpmd%22) does not reveal anything related, I can only pressume that the problem lies within the uo

[2015-05-19 10:47] Vinai commented on #284
Thanks for the reply!
I didn't find anything related on google either. That is part of the reason why I decided to add this issue, so that someone who has a similar issue might find it.
Probably nothing is found because the uopz extension is not used widely as far as I can tell. However, it is really neat. I'm using it to overload the PHP `exit` function for testing some legacy code during CI.

[2015-05-25 18:00] skyzyx opened #286 "Hacklang Mess Detector?"
Is there an interest in, or work underway to, implement support for Hack in addition to PHP?

[2015-05-26 23:10] vikingjs commented on #155
Note that using "@stable" in the composer.json still gives one phpmd 1.5.0 - might want to update that, and/or your installation instructions.

[2015-05-27 06:43] alcohol commented on #155
@vikingjs do you have a reproducible scenario? You probably have other dependencies that conflict with `phpmd` dependencies, thus resulting in a lower version being resolved.

[code]

[2015-05-27 16:37] vikingjs commented on #155
Hm... Looks like you're right; it was a cart-horse problem. I'd set pdepend to 1.1.1 to fix older compatibility issues, and that forced phpmd to 1.5.

As long as we're having this little chat, there's a bug in pdepend 2.0.6 that is causing me trouble. Is there a way to jigger things so phpmd will work with pdepend 2.1.* ?

[2015-05-27 18:00] alcohol commented on #155
A dirty trick would be to have this in your composer.json:

[code]

Can't guarantee phpmd will work properly with 2.1.x, though since it is a minor version upgrade it technically should not cause any issues (minor is supposed to be BC).

[2015-05-27 18:04] manuelpichler commented on #155
Will release a new version with 2.1.0 as dependency asap

[2015-05-27 18:06] alcohol commented on #155
@manuelpichler if pdepend follows semantic versioning you should be relatively safe using a version constraint such as ~2.0 (which translates into >=2.0.0,<3.0.0). It's more flexible and you will have to update your composer.json less often.

[2015-05-27 18:08] manuelpichler commented on #155
@alcohol I would expect the problem is caused by the composer.lock file that contains the concrete version

[2015-05-27 18:09] alcohol commented on #155
The lock file of dependencies is ignored. So if someone has a require on phpmd, it will not read phpmd's .lock file, only it's .json file. Only if someone git clones phpmd and runs composer install will it use the .lock file of this project.

[2015-05-27 18:11] manuelpichler commented on #155
okay good to know that, then I will go the way you suggested

[2015-05-27 22:29] Rican7 commented on #275
Thanks @leewillis77! Very helpful. :smiley:

[2015-05-29 06:19] Guite opened #287 "Please raise dep version"
PHP Depend provides a 2.1.0 version
http://pdepend.org/news/pdepend-2.1.0-released.html

Please allow this by incrementing the version filter in composer.json.

[2015-05-29 07:38] manuelpichler commented on #287
There is already release [2.2.3](https://packagist.org/packages/phpmd/phpmd#2.2.3) that uses PDepend 2.1.0

[2015-05-29 07:38] #287 closed

[2015-05-29 10:41] Guite commented on #287
Are you sure? The dependency still says `~2.0`.

[2015-05-29 10:43] manuelpichler commented on #287
You can try it with:

[code]

[2015-05-29 12:10] sbesselsen opened #288 "Clarify ElseExpression rule"
From the docs: "An if expression with an else branch is never necessary". It then goes on: "You can rewrite the conditions in a way that the else is not necessary and the code becomes simpler to read. To achieve this use early return statements."

I don't understand the reasoning. Why is an early return (or, I assume, continue) statement intrinsically simpler to read? Why should we avoid else stat

[2015-05-29 13:24] Guite commented on #287
Thanks!

[2015-05-31 12:32] ravage84 commented on #288
I agree that the documentation could be improved to better point out the problems or better said potential problems.
And I personally agree it does not become more readable by default when not using ``else`` clauses.

As long as we point them to some ressources where they can become better developers, I see no problem.

In the end is phpmd for me personally not a tool to teach people how to be bet

[2015-06-04 23:16] #60 closed

[2015-06-04 23:29] ravage84 commented on #228
@jdufresne  Have you tested this with any 2.x version? Feel free to re-open the ticket if this problem still exists in 2.x

[2015-06-04 23:29] #228 closed

[2015-06-04 23:31] ravage84 commented on #13
The Pivotal Tracker states that this was fixed in: https://github.com/manuelpichler/phpmd/commit/b385f15
Going to close.
@manuelpichler  please reopen if you think this is still an issue.

[2015-06-04 23:31] #13 closed

[2015-06-04 23:32] #15 closed

[2015-06-04 23:34] ravage84 commented on #16
Fixed in f063bc9

[2015-06-04 23:34] #16 closed

[2015-06-04 23:36] ravage84 commented on #17
Seems to be implemented already: https://github.com/phpmd/phpmd/blob/f93ced10081aedd69163966af7ca8eae0e1beac2/src/main/php/PHPMD/Rule/Design/CouplingBetweenObjects.php

[2015-06-04 23:36] #17 closed

[2015-06-04 23:39] #213 closed

[2015-06-04 23:39] #233 closed

[2015-06-04 23:41] ravage84 commented on #240
Duplicate of https://github.com/phpmd/phpmd/issues/229

[2015-06-04 23:41] #240 closed

[2015-06-04 23:44] ravage84 commented on #194
Related to https://github.com/phpmd/phpmd/issues/224

[2015-06-04 23:52] #20 closed

[2015-06-04 23:53] ravage84 commented on #14
I assume this problem is long gone... closing.

[2015-06-04 23:53] #14 closed

[2015-06-04 23:57] ravage84 commented on #22
Fixed in 183fbd5

[2015-06-04 23:57] #22 closed

[2015-06-05 00:02] ravage84 commented on #30
Even though I think this could lead to mis-use, I now see the use cases. :+1:

How about the performance impact?

[2015-06-05 00:03] ravage84 commented on #34
@martinlindhe thanks for pointing out. Yes one can use ``StaticAccess`` for that. Closing

[2015-06-05 00:03] #34 closed

[2015-06-05 00:11] #36 closed

[2015-06-05 00:19] ravage84 commented on #38
Probably related to or even a duplicate of https://github.com/phpmd/phpmd/issues/65

[2015-06-05 00:33] ravage84 commented on #173
@Rican7 feel free to propose a new rule in a Pull Request.

[2015-06-05 00:34] #178 closed

[2015-06-05 00:40] ravage84 commented on #179
While we still don't have a working build on HHVM, this problem seems to be solved, as it now failes during the unit tests

[2015-06-05 00:40] #179 closed

[2015-06-05 00:42] ravage84 commented on #186
Closing as it is a duplicate of https://github.com/phpmd/phpmd/issues/185

[2015-06-05 00:42] #186 closed

[2015-06-05 00:47] ravage84 commented on #209
The build on AppVeyor proves, that it **can** work on Windows:
https://ci.appveyor.com/project/ravage84/phpmd-cmdg5/build/3

Nonetheless the same code that built fine in AppVeyor produces the two errosr above on my local Windows 7 machine.

[2015-06-05 00:54] ravage84 commented on #262
@programmin1 some IDEs like the one I use (PhpStorm) warn you about such things:

![type-warning](https://cloud.githubusercontent.com/assets/625761/7997471/f6c15f82-0b2d-11e5-880c-8048394cc370.png)

Feel free to open a Pull Request.

[2015-06-05 01:11] ravage84 commented on #30
Many issues where you would want to set certain limited exceptions or higher limits could be solved by this.

https://github.com/phpmd/phpmd/issues/41#issuecomment-27563009
https://github.com/phpmd/phpmd/issues/24
https://github.com/phpmd/phpmd/issues/202
https://github.com/phpmd/phpmd/issues/180

[2015-06-05 01:17] ravage84 commented on #180
Duplicate of https://github.com/phpmd/phpmd/issues/24
But going to close the other one instead.

[2015-06-05 01:17] ravage84 commented on #24
Will be worked on in https://github.com/phpmd/phpmd/issues/180
Closing

[2015-06-05 01:17] #24 closed

[2015-06-05 05:41] programmin1 commented on #262
Are you saying that in order to even warn about this operator problem - which Python and other languages will quit on, and Java won't even compile - you have to buy a special IDE?

The fact that things like this are legal in PHP - as well as allowing using variable names that don't exist, mistyped constants that don't exist, and only getting a warning-notice while continuing on its potentially-dis

[2015-06-05 05:48] programmin1 commented on #263
So phpmd doesn't have the ability to see if a constant would be in scope?

Considering that PHP has the unique ability to use define('i','something'), and define($anyvar, $somevalue), I suppose it would be theoretically impossible to determine if a given constant is actually defined whenever a certain script is run, in that case. I suppose in this case the flexibility of the programming language i

[2015-06-05 07:18] manuelpichler commented on #180
We must investigate how this can be implemented in phpmd efficiently

[2015-06-05 07:26] manuelpichler commented on #17
lol

[2015-06-05 11:44] fezfez commented on #94
+1

[2015-06-05 11:50] fezfez commented on #37
+1

[2015-06-05 16:18] ava-dylang commented on #65
:+1:

[2015-06-11 08:37] schmengler commented on #94
+1

[2015-06-16 11:55] diyism commented on #284
It seems uopz conflicts with php 5.4.42 when your php code contains "exit()".

[2015-06-22 08:19] marcinant opened #292 "Please follow XDG Base Directory Specification"
Nowadays PHPMD keeps files inside: .pdepend directory. Could you follow XDG spec so the files stays in the right directories:

$XDG_DATA_HOME defines the base directory relative to which user specific data files should be stored.
$XDG_CONFIG_HOME defines the base directory relative to which user specific configuration files should be stored.
$XDG_CACHE_HOME defines the base directory relative to w

[2015-06-23 15:16] charles-martin commented on #180
FYI: This also applies to closures as well. IE, in the Phalcon Framework, it is common to do:
[code]
In this case, phpmd complains about the unused variable $event. It's not used, but it has to be there due to the format for the callbacks.

That said, I would say there should probably be two 'options' on this: 1) Ignore In Child Methods, and 2) Ignore Initial Variables If Second Variable Used.

[2015-06-23 18:15] bgaillard commented on #77
Hi, we also have this issue using PHP 5.6.
[code]

The fix applied is not valid for PHP 5.6, the warning is explicit, even if the system timezone is set we should set a timezone explicitly in the source code.

So (at least for PHP 5.6) we should replace ...
[code]

by ...

[code]

[2015-07-02 21:51] steverobbins commented on #261
Having the same issue.  Is this going to get merged in?

[2015-07-04 08:42] sourcerer-mike opened #294 "Follow includes / require to see unused variables"
phpmd says:

[code]

Which might be correct for the method:

[code]

But is used in the template `bar.phtml`:

[code]

Please follow includes and require with a depth of 1 but configurable for others to get deeper in the code.

[2015-07-04 21:33] ravage84 commented on #294
Would you want to try to implement this enhancement?

[2015-07-08 14:47] quentincurtet commented on #94
+1

[2015-07-10 14:04] Dgame opened #295 "Files with concatenated constants aren't parsed"
As soon as you have a constant like
[code]
the file is not parsed.

[2015-07-13 10:45] sourcerer-mike commented on #294
I don't even know how this whole AST of PHPMD works. Are there any active developers for phpmd?
I am too rookie without any guidiance.

[2015-07-14 09:33] TomBZombie opened #296 "Complexity from closures is counted in method complexity"
Consider the following code:

[code]

The NPath complexity and Cyclomatic Complexity are both calculated as both the foo function's complexity and the anonymous function's complexity. For the purposes of any statistical analysis these should be considered as separate functions. Other tools such as http://jsmeter.info/ correctly handle closures/anonymous functions.

[2015-07-15 11:06] TomBZombie commented on #288
One thing I have noticed with PHPMD and I'm not sure if this is intentional or not is that this will trigger the warning:

[code]

Whereas this will not:

[code]

I'm not sure if this is due to the brackets or the fact that this could be represented as a ternary statement so for consistency PHPMD does not flag it up

I think that in this case, where we're controlling program flow and calling diffe

[2015-07-20 09:03] TrafeX commented on #229
This is still an issue in version 2.2.3

[2015-07-30 21:48] michaelhogg commented on #77
@hbandura: Yes, even after @manuelpichler's fix, a timezone warning is still raised.

I've just created PR #297 which completely fixes the issue (@bgaillard: even on PHP 5.6).

[2015-08-04 09:58] SailorMax opened #298 "force unusedcode for "global" variables"
Can you add parameter for "unusedcode" or some kind of markup per file (/* phpmd: unusedcode=+global_vars */) to detect unused variables in global name space?

My engine has directory, from where it take files from system function => all that files are source of function, which has include() => we can detect unused variables inside that files.

Sample:
file:
[code]

Exp: "Avoid unused local variab

[2015-08-05 13:56] ivoba opened #299 "ignore unused named parameter for UnusedLocalVariable"
I often use "named parameters" in constructors or methods, this makes reading more easy:

     return new ThisClass(
        $id = 1,
        $type = 'mock',
        $user,
        $product,
        $item = $otherItem
     );

And i would like to suppress these messages, just as for *allow-unused-foreach-variables*:

    Avoid unused local variables such as '$id'.

[2015-08-06 12:29] ravage84 commented on #299
Hi @ivoba

Personally I disagree with your statement about increased readability. Or better said I would simply instantiate the variables just before the object instantiation and the PHPMD violations are gone plus the readability is still maintained.

But why don't you create a PR to implement this analog to https://github.com/phpmd/phpmd/pull/198 ?
If it's a simple change we can consider to  incl

[2015-08-06 12:29] #299 closed

[2015-08-09 23:09] najela opened #300 "Add support for relative paths when adding custom rulesets."
I use `phpmd` on 2 computers so I'll like to add a ruleset just by typing `~/.phpmd/naming.xml` Rather than `Users/najela/.phpmd/naming.xml` since my usernames are different in both computers.

[2015-08-10 10:31] ravage84 commented on #300
With relative paths you mean in this case the resolution of the user folder shortcut ``~`` on *nix based OSes, right?

Because I think it should already support relative paths, but I could be wrong.

[2015-08-10 12:43] najela commented on #300
Yep I mean the resolution of the user folder shortcut `~`

[2015-08-13 09:58] Deewiant opened #302 "Static member access with variable property name not treated as a use"
Example code using a [variable property name](https://secure.php.net/manual/en/language.variables.variable.php) to access a static variable:

[code]

This code does work:

[code]

But results in a false positive:

[code]

[2015-08-21 16:44] mi-schi opened #303 "Write an own rule for traits"
Hi,

I want to write an own rule for traits. But I'm not able to detect whether the parent of the method is a trait.
Neither ```ClassAware```, ```FunctionAware``` or ```InterfaceAware``` catch the trait. So I use the ```MethodAware``` interface.

But ```$node->getParentType()``` returns a ```ClassNode``` and not a ```TraitNode```.

[code]

Its in line 120 from the ```PHPMD\Node\MethodNode```.

Can

[2015-08-31 09:00] shufenghua commented on #65
also need it

[2015-09-03 08:27] ianchanning commented on #288
On p358 of Code Complete (2nd Edition) by Steve McConnell suggests that you *should* include else statements:

I also can't see where in the [Original PMD rules](https://pmd.github.io/pmd-5.3.3/pmd-java/rules/index.html) there is any reference to completely re-writing functions to exclude else statements.

I second @sbesselsen 's request to put this in the controversial list.

[2015-09-06 02:01] BernardoSilva opened #305 "Use new travis infrastructure."
Start using new Travis container based infrastructure.

http://docs.travis-ci.com/user/workers/container-based-infrastructure/#Routing-your-build-to-container-based-infrastructure

[2015-09-07 10:50] ravage84 commented on #305
Thanks @BernardoSilva for bringing this up.
But at the moment I don't feel we need to push for it as I see no compelling reason to do so.

Also the feature is quite new and I prefer stability over feature craze.
http://blog.travis-ci.com/2015-08-19-using-docker-on-travis-ci/

Once there is a real use for us to use Travis' new container-based infrastructure, we can rediscuss this.

[2015-09-07 11:03] BernardoSilva commented on #305
Fair enough :+1:
I also prefer stability.
Have been using it for a while and looks really good until now.

[2015-09-11 06:52] Deewiant opened #307 "Member access in string not treated as a use"
Similar to #57. Example code:

[code]

Works fine:

[code]

But results in a false positive:

[code]

[2015-09-11 09:29] localgod opened #308 "Unable to parse file "../pdepend.xml.dist"."
I'm running the 2.2.3 version on php 5.6.11 on windows.

When I place a file called `pdepend.xml.dist` in the folder where I'lI run `phpmd.phar` with the following content that I copied from `https://raw.githubusercontent.com/manuelpichler/pdepend/master/pdepend.xml.dist`:
[code]
I get the following error:
[code]
My `pmd.xml` look like this:
[code]
And I run `phpmd.phar` like this:
[code]
Any poin

[2015-09-15 08:02] marlun commented on #102
I have some problems with this too when trying to integrate phpmd with vim/syntastic where it tests only one file and then my --exclude don't work.

Are there any solutions?

[2015-09-21 12:47] exi commented on #90
This is still happening for me at version 2.2.3.

We regularly run out of disk space on our build slaves with phpmd version 2.2.3.

Current .pdepend directory is 11GB in size.

[2015-09-21 18:43] manuelpichler commented on #295
I just filed a ticket for that in PDepend.

[2015-09-21 18:51] manuelpichler commented on #265
Implemented in dfa6872

[2015-09-21 18:51] #265 closed

[2015-09-21 19:06] #303 closed

[2015-09-22 05:37] manuelpichler commented on #275
This is quite simple, because getter- and setter-methods are ignored by default, which is common sense in metrics view. But you can change that behavior through the configuration [See here](https://github.com/phpmd/phpmd/blob/master/src/main/resources/rulesets/codesize.xml#L354).

But I must admit that message could be a little bit better.

[2015-09-22 05:37] #275 closed

[2015-09-22 07:31] remicollet opened #309 "About Changelog"
On http://phpmd.org/ changelog for 2.3.0 is missing.

On git repository, the CHANGELOG file is oudated, last updated for 1.2.0

Perhaps better to drop it, even if I think it have value to provide it, see http://keepachangelog.com/
(especially for downstream distribution, where this file is provided in the package documentation)

[2015-09-22 07:35] #309 closed

[2015-09-22 07:36] remicollet opened #310 "LICENSE issue"
You are providing a phar which violate the bundled library license.

  * Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

  * Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with

[2015-09-22 07:37] remicollet commented on #309
Thanks!

[2015-09-22 07:53] remicollet commented on #310
Notice that latest pdepend.phar seems ok, so I think problem will be solved generating a new archive (as IIRC latest composer manage this)

[2015-09-22 08:07] igdr opened #311 "Property "allow-underscore-test" does not exist."
PHPMD 2.3.0

[2015-09-22 08:30] manuelpichler commented on #311
The *.phar or the composer version?

[2015-09-22 08:38] igdr commented on #311
composer version ("phpmd/phpmd=@stable")

If I change version to dev-msater, it works fine.

[2015-09-22 09:32] #311 closed

[2015-09-22 09:37] igdr commented on #311
Thanks

[2015-09-22 11:11] remicollet commented on #309
But 2.3.1 is missing ;)

[2015-09-24 11:39] mi-schi opened #312 "Use PHPMD 2.3.* with Symfony 2.3.*"
Hi

Unfortunately it is impossible to use PHPMD 2.3.* with Symfony 2.3.*. You require symfony 2.4 components in your composer.json. Can you replace it with @stable tags?

[2015-09-24 11:49] ravage84 commented on #312
I would prefer ``^2.3.0``, if possible. Right now I'm not sure though, why we depend on 2.4...

[2015-09-24 13:34] ravage84 commented on #312
I removed all Symfony dependencies in phpmd, now my PR for pdepend  must be merged, too.
See https://github.com/pdepend/pdepend/pull/223

Closing as this is no longer a phpmd related problem.

[2015-09-24 13:34] #312 closed

[2015-09-25 15:23] JeroenDeDauw commented on #251
The basic option got merged now. Just came up with a regex that applies all rules I outlined (except the class context one): `/^test(([A-Z][a-z0-9]+)+|(([A-Z][a-z0-9]+){2,}_[a-z0-9]+([A-Z][a-z0-9]+)+))$/`

Will submit a PR with that soon

[2015-09-25 15:31] ravage84 commented on #251
@JeroenDeDauw :cool:

[2015-09-25 16:16] JeroenDeDauw commented on #251
I just noticed the 2.3 has already happened. That means updating the regex to be more restrictive would be a breaking change. Perhaps adding a new rule specifically for test methods would be good? Then you can enabled just that rule for your test methods, or also have the CamelCase one on with the already introduced `allow-underscore-test` option.

[2015-09-25 16:19] ravage84 commented on #251
According to SemVer it would, yes. But for this time, so shortly after release, I would give it a go, nonetheless. It was a new feature and it was merged just before the release, so we can assume __very__ few people have it already implemented. But htanks for caring!

[2015-09-25 17:08] JeroenDeDauw commented on #251
I have started implementation in #313. Still need to add the integration tests and make this rule not apply to methods starting with `test` in non test classes.

[2015-09-30 22:54] JeroenDeDauw opened #314 "allow-underscore-test option now showing on site docs"
The `allow-underscore-test` option that was added to `CamelCasePropertyName` in 2.3.0 is not showing up on the site. It is however documented in controversial.xml, so I'm assuming the documentation generation thing was not run.

[2015-10-05 08:30] twinszhao1983 opened #315 "document has some mistake"
http://phpmd.org/support/index.html
In this url, phpmd PHP/Depend/DbusUI xml codesize --reportfile phpmd.xml --suffixes .php  do not work.
but --suffixes=.php   works well.

please fix it , 3ks

[2015-10-05 10:53] ravage84 commented on #315
You probably mean http://phpmd.org/documentation/index.html
Also it is mentioned in some other places.

Not sure what version you are using, but in 2.3.1 ``--suffixes php`` for a single extension and ``--suffixes php,phtml`` for multiple extensions work for me.

``--suffixes=.php`` works because the CLI ignores the parameter ``--suffixes=`` completly because it is not a valid parameter.

[2015-10-07 12:16] alexboss opened #317 "Feature request: Ignoring a file using a comment"
Dear PHP MD developers,

PHP MD uses doc comment annotations to exclude methods or classes from PHPMD or to suppress special rules for some software artifacts.

But, unless I'm not using it correctly, it is not possible to ignore an entire file.

Code sniffer allows it, see https://pear.php.net/manual/en/package.php.php-codesniffer.advanced-usage.php#package.php.php-codesniffer.advanced-usage.igno

[2015-10-07 13:15] dmaicher opened #318 "[BUG] False case of detected unused local variable"
In the first line phpmd detects an unused local variable which is true but I cannot change the fact. So it should not complain about it? :)

`Avoid unused local variables such as '$req'.`

[code]

I'm using version PHPMD 2.3.2.

[2015-10-07 15:30] ravage84 commented on #317
@manuelpichler sounds good to me, though I would prefer the annotation tag to be more expressive.

[2015-10-07 15:34] ravage84 commented on #318
As you already said, it works as advertised.

I guess you are probably best off with suppressing certain warnings at certain places in your code:
http://phpmd.org/documentation/suppress-warnings.html

[2015-10-07 15:34] #318 closed

[2015-10-08 06:11] alexboss commented on #317
Glad to see you are considering this feature request.

Just for the rationale behind it... in our projects we are using Code Sniffer and PHP MD for the QA phase. This is great to audit and fix the code we write. But we are also including several external classes / helpers that don't comply with all CS or MD rules / recommendations. In that case, they generate warnings and appear in the final repor

[2015-10-08 12:36] ravage84 commented on #317
Not sure what your setup is and how you work but quality of software should not be a "phase", instead should be an ongoing process.
To achieve this you should look into [continuous integration](https://en.wikipedia.org/wiki/Continuous_integration).

For PHP , get started with this:
http://jenkins-php.org/

Doing so, you can exclude certain files and folders by using the  ``--exclude`` CLI paramete

[2015-10-08 14:39] alexboss commented on #317
Thanks @ravage84 for all these useful resources. We are not at this stage yet but very interesting to improve our workflow from a phase to an ongoing process.

Using the ```--exclude``` CLI parameter could make the trick for me, will check how it can be configured within Netbeans at the project level rather than globally.

[2015-10-09 22:58] jeanCarloMachado commented on #102
I checked the code this is in fact a pdepend issue, I'll try to send a fix soon.

[2015-10-13 16:17] ravage84 commented on #278
No this is no bug of PHPMD. It is likely a design problem of the library or simply an edge case, which the library did not account for. In your example code, it looks like the latter, rather.

Anyway, just because a succeeding parameter is used, does not make the first one used or ignorable Implementing such a rule would lead to a blind spot, so this gets a :-1: from me.

And I do not like the ide

[2015-10-13 16:17] #278 closed

[2015-10-14 09:37] yoosefi commented on #278
I wasn't suggesting having a prefix. I was suggesting not having prefixes, and simply ignoring unused parameters if latter parameters are used.

"It is likely a design problem of the library or simply an edge case."

Can you elaborate? PHP core functions specify callbacks with arbitrary parameter ordering. Are you suggesting we take this issue upstream simply because you won't ignore unused parame

[2015-10-14 10:15] ravage84 commented on #278
@yoosefi I'm sorry. I was not answering to you specifically but to you all three of you.
The example I referred to was @digilist 's [code](https://github.com/phpmd/phpmd/issues/278#issue-65272982).

So, no I was not talking about PHP core code and thus no I don't want you to take this upstream.

Your view on the current issue seems to be quite narrow, specifically on implementing callbacks based o

[2015-10-16 07:42] yoosefi commented on #278
@ravage84 having the option available would be wonderful. :+1:

[2015-10-21 17:36] leafpeak opened #320 "Can't inherit abstract function PHPMD\Rule::apply()"
I am running into a PHP Fatal Error while using 2.3.*. While downgrading to 2.2.2 it worked as expected.

[code]

[code]

[2015-10-27 11:26] mindplay-dk opened #321 "Inspection: missing import"
We have a code standard that says all classes must be imported - for example, the following is invalid:

[code]

It should be:

[code]

In other words, fully-qualified type-references are disallowed - everything must be imported.

Why? Because we want a list of `use`-clauses at the top of every file listing any dependencies of that file on types outside of it's own namespace. (our namespaces map t

[2015-10-27 12:28] ravage84 commented on #321
It sounds interesting, at least.
Have you checked, if phpcs already provides a sniff for this?

It comes down to the question, whether this issue is a code mess or a code style problem.
I tend to call it a code mess.

As for the category, the clean code category seems to be most approriate category for this one:
http://phpmd.org/rules/cleancode.html

I would call the rule rule ``MissingImport``.

[2015-10-27 19:28] mindplay-dk commented on #321
I recently configured rule sets for both tools from the ground up, pretty sure it doesn't have that - I think Storm has it, but I'm increasingly leaning away from Storm because we can't run their inspections on our CI server...

[2015-10-29 11:57] wandersonwhcr opened #322 "[Proposal] duplicated array indexes rule"
Hello!

Yesterday I was developing my application and I had some problems with a `git merge` in an `array` definition. Example:

`array` configuration before `git merge`:

[code]

`array` configuration after `git merge --no-ff issue-1`:

[code]

`array` configuration after `git merge --no-ff issue-2`:

[code]

Capturing  configuration, PHP defined an `array` with this structure:

[code]

Boom. Con

[2015-10-29 12:39] ravage84 commented on #322
Didn't you review the changes/merge?
Also a good IDE, such as PhpSotrm, warns you about this built-in.

Nontheless, if you would create a PR with a rule covering this issue, I would consider it merging it.

And, yes this rule should warn about any duplicated array keys in any sub-level.

[2015-10-29 12:43] wandersonwhcr commented on #322
Yes, I did a review, but `array` had some 50+ indexes with 200+ lines and I'm human being :smile:

Thank you!

[2015-10-30 19:12] leafpeak commented on #134
+1 For this!

[2015-11-04 19:20] wandersonwhcr opened #323 "[Proposal] weird foreach behavior"
My friend just found a "weird behavior" in PHP, but it's acceptable.

[code]

Outputs:

[code]

Wow!

But, if we unroll all foreach'es:

[code]

... everything makes sense. `$value` points to last position of array `$two`. But it's weird hehe.

So, can we create a rule to check this?

[2015-11-04 19:50] wandersonwhcr commented on #262
@programmin1 :+1:

[2015-11-07 17:38] ravage84 commented on #323
@wandersonwhcr how would/should this check work?
What should it look for?

Seems to be quite an edge case...

[2015-11-07 21:12] 1ma opened #324 "UnusedPrivateField false positive"
I'm experiencing a false positive with the latest stable version of PHPMD.

Steps to reproduce:
1. clone this repository: https://github.com/MarcelHernandez/yny.git
2. cd into the root directory and run `phpmd src/ xml unusedcode`
3. output:

[code]

Here is the source file that triggers the error, for quick reference:

[code]

Further details:

[code]

[2015-11-12 20:24] zhoffman-ku opened #325 "UnusedLocalVariable false positive for use()"
Received message:

[code]

Code:

[code]

Using nb-phpmd-phpcs-phpcpd-checkstyle-20131204-nb7.4.201310111528.nbm with NetBeans 8.1.

[2015-11-13 08:10] JulienPalard opened #326 "Allow `$_` as an unused variable identifier"
Thinking about https://github.com/phpmd/phpmd/issues/48, and `allow-unused-foreach-variables` why not allowing `$_` (or typically a configurable whitelist set) as a common name for "unused variable", a bit like in `erlang`, allowing:

    foreach ($itemIds as $id => $_)

and

    list($foo, $_, $baz) = $this->getFooBarBaz();

to be written without PHPMD complaining ?

The underlying question is, d

[2015-11-16 19:42] radmen opened #327 "Unexpected token when using group use declarations"
When group use statements are used PHPMD returns error:

[code]

Example code:

[code]

PHPMD version `2.3.2`

[2015-11-17 12:32] radmen opened #328 "Cannot create new nodes, when internal state is frozen."
This is a bit tricky issue.

For start I know that this error is actually triggered by `pdepend/pdepend` package yet it happens when I'm using PHPMD so I decided to post this issue here.

I'm trying to run PHPMD on my PHP7 project. In most cases it fails with message:
[code]

I've tried to run PHPMD for some directories located inside my `src` dir and it worked. Yet again, when I tried to put them

[2015-11-23 09:11] ravage84 commented on #325
``20131204`` sounds to me like 2013-12-04, which would be quite an old version.
Can you confirm this with something newer?
Or better said, can you check your code with a vanilla, up to date version of PHPMD?

[2015-11-23 09:15] ravage84 commented on #326
@JulienPalard I don't think this is a good solution.
a) It's not very readable
b) It's not self explaining
c) You would violate against the ShortVaraible rule
d) It's an implicit behavior, only made for this particular case in a particular tool (PHPMD)

[2015-11-23 09:15] #326 closed

[2015-11-23 09:26] ravage84 commented on #327
I assume the problem lies in pdepend

[2015-11-23 09:32] ravage84 commented on #328
Hi @radmen , thanks for the issue, but it's a bit too vague.
Can you try to produce a minimum reproducable code/directory compilation?
Or could you fire up your debugger to help us investigate?

[2015-11-23 09:38] radmen commented on #328
@ravage84 Unfortunatelly I cannot share the source code on which phpmd was failing. I'll try to create repo with failing PHPMD build.

[2015-11-23 09:41] ravage84 commented on #328
I totally understand that. Try what you can, we appreciate it.

[2015-11-23 10:30] radmen commented on #328
@ravage84 I've managed to extract the failing parts from my project.

Here you can find repo: https://github.com/radmen/phpmd-nodes-freeze-error
Travis builds: https://travis-ci.org/radmen/phpmd-nodes-freeze-error

This code can be run under docker:

[code]

[2015-11-23 13:38] JulienPalard commented on #326
So, do you really prefer calling `array_keys()` each time ?

a) I don't think array_keys is more readable: It's longer, it's a set of parenthesis for nothing.
b) It's not self-explaining for the developper ignoring the practice, but it's a commonly used practice in loads of languages, so if a PHP developper still don't know it, it's a good time to introduce it via phpmd so he will know it when usi

[2015-11-23 15:45] ravage84 commented on #326
Using ``array_keys()`` seems to be a valid way, as it explicitly explains what the code does.
But it's not "nice" looking, I agree.

It's good if programmers of other languages have settled on this matter in their language but in PHP "we" havn't , yet.
And since using a leading underscore can mean protected/private in case of properties, it still would not be a good choice, IMHO.

Anyway, I guess

[2015-11-24 01:26] mikebronner commented on #328
I'm getting the same error. Is there a temporary work-around that I could use?

[2015-11-24 08:54] quantumpacket commented on #328
I too am getting this error with a PHP 7.0RC7 project using PHPMD master. I'll narrow the code down and post something reproducible later today.

[2015-11-24 11:16] rbairwell commented on #328
If it helps, I'm also getting the identical error (PHP7.0.0-dev Oct 22: the Ubuntu based "rasmus" dev Vagrant VM: running on a Windows 7 host with the project source files mounted from Windows) - but only on one of the two projects (one, a library project, with 3848 LOC, but it works okay on a Slim3 project which only has 399 LOC).

[2015-11-24 12:20] quantumpacket commented on #328
I narrowed it down *(at least in my case)* to this example code. If I remove one method or the other the error does not appear. If I remove the `\stdClass` that too prevents the error.

**Errors**
[code]

**Success**
[code]

**Success**
[code]

**Success**
[code]

[2015-11-25 14:28] jorissteyn commented on #315
I believe the README should be updated as well:

-    phpmd PHP/Depend/DbusUI xml codesize --reportfile phpmd.xml --suffixes .php
+    phpmd PHP/Depend/DbusUI xml codesize --reportfile phpmd.xml --suffixes php

The current version is confusing because '--suffixes .ext' doesn't work, the listed file extensions should not have a leading dot.

[2015-11-25 14:48] ravage84 commented on #315
@jorissteyn feel free to update the README (and other places you find) and create a PR
I'd be happy to merge.

[2015-11-25 19:52] fernandopsilveira opened #330 "doesn't work with gvfs mapped files"
When I try to parse a file on a mapped folder using gvfs, I get this:
    The given file "/run/user/1000/gvfs/sftp:host=hds" does not exist.

The mapped file path is something like `/run/user/1000/gvfs/sftp:host=hostname,user=username/usr/local/hds/lib/Hitec/HDS/PackageBuilder.php`

This issue was originally reported on [linter-phpmd](https://github.com/AtomLinter/linter-phpmd/issues/35).

[2015-11-26 18:00] mikesherov commented on #180
I'm taking a stab at this right now. Thanks again for this excellent project.

[2015-11-26 18:57] mikesherov commented on #180
Pull request here: https://github.com/phpmd/phpmd/pull/331 please let me know if we should be going in a different direction.

[2015-11-27 08:36] MatthiasKuehneUnister commented on #320
I'm having the same problem. This bug was fixed in PHP in PHP 5.3.9. You can see the different behaviors of the php versions here: https://3v4l.org/Xl7vI

[2015-11-27 10:46] derrabus commented on #180
Allowing unused parameters before used doesn't quite cut it. I can override a method without using any parameters of the base method, but I'm required to list them all in my method signature.

[2015-11-27 11:51] mikesherov commented on #180
@derrabus, you have the `inheritdoc` workaround for that, no?

[2015-11-27 12:37] derrabus commented on #180
@mikesherov I don't know what the "`inheritdoc` workaround" is. But a workaround is usually not a solution. :wink:

[2015-11-27 12:47] mikesherov commented on #180
@derrabus, as PHPMD only analyzes individual files, and as PHP has no canonical way to specify a function as overriding an inherited methods, PHPMD relies on the presence of the `inheritdoc` notation of `phpdoc` in the methods docblock.

[2015-11-27 12:56] quantumpacket commented on #328
@ravage84 Have you been able to reproduce this? Also, is there a way to disable this error for the time being?

[2015-11-27 12:56] derrabus commented on #180
I see. I'll try that. But for analyzing generic code that I did not write, that workaround won't solve the problem.

[2015-11-27 14:36] zra95 commented on #326
In swift: _ mean unused too ;)

[2015-11-27 14:37] mikesherov commented on #180
You're running PHPMD on 3rd party code? Yeah, nothing is going to help you there. The typically use case for PHPMD is analyzing the source code in your control.

[2015-11-27 15:04] derrabus commented on #180
Well, I said I did not write that code. I didn't say the code is not in my control. It just wasn't at the time of writing. I already know that my code is good, so I'm running this tool on other people's code, you know? :wink:

But that discussion does not belong here. I'm running phpmd to analyze code, which imho is the main purpose of this tool. And this issue generates quite a few false positive

[2015-11-27 16:46] mikesherov commented on #180
It's unlikely PHPMD will solve this in any way other than relying on comments (which it does) and special casing positional parameters because to be able to truly detect that a method is being overridden, PHPMD would need to execute your script so that it could determine your autoloading strategy and the source file of the class you're inheriting from (and also all the source files all the way up

[2015-11-30 10:25] derrabus commented on #180
I'd disagree on this one. For instance, IDEs like PhpStorm able to determine inheritance without knowing my autoloading strategy or executing my code. It actually is possible to do this in static analysis, but not if the code is analyzed on a by-file basis.

Again: I know that this is not easy to fix right now and I accept that. All I'm saying is that your PR does not fix this issue.

[2015-11-30 11:31] ravage84 commented on #180
@mikesherov many thanks for your attempt to solve this issue by introducing a new config property. Unfortunately I, too, don't think it's a good solution to the problem at hand.

I guess currently there are only one half hearted solution:
Suppressing the issue case by case by using the ``@SuppressWarnings(PHPMD.UnusedFormalParameter)`` annotation.

For the future, the ["Dynamic warning suppression

[2015-11-30 11:34] #315 closed

[2015-11-30 11:35] mikesherov commented on #180
Thanks for the reply @ravage84

[2015-11-30 15:07] ravage84 commented on #320
I see three ways to tackle this:

1. Revert the change that defined it abstract https://github.com/phpmd/phpmd/commit/9b806f620c0db857a2902bbb40d286ace26d7faa or change it to be not abstract. We can't revert this, as it would break phpmd on hhvm, it seems and making it non-abstract does not make sense.
2. Set the mimimum required PHP version of phpmd to 5.3.9 (through Composer). This could break p

[2015-11-30 15:07] #320 closed

[2015-12-01 13:14] amirouche commented on #326
In Scheme: _ means anything or throw away value.

[2015-12-01 14:03] ravage84 commented on #326
Guys, I don't need any further example, once https://github.com/phpmd/phpmd/pull/329 is merged, you can configure your own exceptions/dummy variable names.

[2015-12-08 07:20] nafigator commented on #187
@FractalizeR did you mean this:

    $message->to($user->email);
? Is it work correctly with this fix?

[2015-12-08 07:47] FractalizeR commented on #187
Oh... I was so long ago, but it looks fine now, thanks.

BTW, currently if I leave everything like in the snippet I posted (`$user` is passed into the closure, but its unused there), phpmd shows no warning about unused `$user` variable. Should it?

[2015-12-08 08:01] nafigator commented on #187
@FractalizeR Looks like it really unused. But this depends on what is variable usage in phpmd. If a variable passage as parameter counts as usage, it should not.

[2015-12-08 08:30] FractalizeR commented on #187
@nafigator Well, I think just passing parameter should not count as usage. Because... well, it is not usage, you know ;) Just passing.

[2015-12-12 01:10] glensc opened #332 "unable to use .phar due unsupported signature error"
seems same issue as in phpunit: https://github.com/sebastianbergmann/phpunit/issues/1948

please see if you can also build more compatible phar file:
https://github.com/sebastianbergmann/phpunit/issues/1948#issuecomment-155438262
https://github.com/sebastianbergmann/phpunit/issues/1948#issuecomment-155437695
https://github.com/sebastianbergmann/phpunit/commit/4ef58ab03115c22c05ad05a33d0fee5986a2b2

[2015-12-16 23:12] girvo commented on #328
Yeah that's what causing it in my case too, @quantumpacket

[2015-12-17 08:11] quantumpacket commented on #328
@ravage84 is there a time-frame on when this may be fixed? It essentially breaks PHPMD in PHP7 applications using return type declarations so no other PHPMD warnings are triggered, and also as a side effect is piling up errors for every single modification to a file in PhpStorm. I'm easily getting 300+ errors over the course of editing a file and the only way to fix it is to comment out any return

[2015-12-22 08:52] Radio commented on #124
@manuelpichler, The formula is correct but shouldn't the NP((exprX)) give 0 for cases when the expression is just a constant or a variable? So it should still be: 0 + 0 + 0 + 2 = 2 as for if/else ?

[2015-12-23 15:14] michaelhogg commented on #295
+1

[2015-12-26 11:29] llaville opened #336 "bz2 extension required for phar distrib"
Hello,

I've just downloaded the phar distribution following instruction at http://phpmd.org/download/index.html

When I run it with PHP 5.6.16, I got following error

Fatal error: Uncaught exception 'PharException' with message 'bz2 extension is required for bzip2 compressed .phar file

I suggest to check first if extension is loaded before running PHPMD base code in phar container !

[2015-12-29 15:35] shssoichiro commented on #328
Bump. Experiencing this issue as well with PHP7. I've had to completely disable PHPMD for my current project.

[2015-12-29 16:04] marco-msg-ferrari commented on #328
+1

[2015-12-30 12:50] marco-msg-ferrari commented on #328
I've manged to solve the issue but it is a problem in pdepend.

https://github.com/pdepend/pdepend/compare/master...marco-msg-ferrari:master

I need help creating the regression test to submit the PR.

[2016-01-07 09:58] okdewit commented on #124
Npath complexity is a fairly rough metric when used in practice. Defending the formulaic definition in established scientific papers is pretty much argumentum ad verecundiam: If it doesn't hold up logically in reality then it is bugged from a usability point of view.

Consider this:

[code]

That's basically an if/else, yet it doesn't add *any* npath complexity. Not that it's a particularly good i

[2016-01-07 10:38] h0gar commented on #124
The result actually makes no sense at all since it's exponential. You get something like 1024 instead of 32, making it a completely irrelevant metric.

[2016-01-08 14:59] Janiczek opened #337 "SuppressWarnings annotation for a function doesn't work"
PHPMD sees this:
[code]
and returns:
[code]
Using a `@SuppressWarnings` annotation like this has no effect:
[code]

I **don't** run PHPMD with `--strict`.
I have verified that the annotation has effect on classes and methods for me.

How should I use the annotation for functions?

[2016-01-11 07:09] aliceinwire opened #338 "phpmd: PHP Notice: Use of undefined constant T_CHARACTER"
16:06:12 PHP Mess Detector
         phpmd: PHP Notice:  Use of undefined constant T_CHARACTER - assumed 'T_CHARACTER' in C:\xampp\php\pear\PHP\Depend.php on line 538
         PHP Stack trace:
         PHP   1. {main}() C:\xampp\php\phpmd:0
         PHP   2. PHP_PMD_TextUI_Command::main() C:\xampp\php\phpmd:48
         PHP   3. PHP_PMD_TextUI_Command->run() C:\xampp\php\pear\PHP\PMD\TextUI\Command.

[2016-01-12 04:25] vexus2 opened #339 "`exclude-pattern` not working when pass filename"
ex)

ruleset.xml

[code]

then

`phpmd lib/Cake/Cache/Engine/ text ruleset.xml` -> its works!

`phpmd lib/Cake/Cache/Engine/FileEngine.php text ruleset.xml` -> ignoring `<exclude-pattern>` files

[2016-01-13 04:50] feryardiant opened #340 "Missing DevelopmentCodeFragment doc?"
I can see any [documentation](http://phpmd.org/rules/design.html) about [DevelopmentCodeFragment](https://github.com/phpmd/phpmd/blob/master/src/main/resources/rulesets/design.xml#L194-L227)

[2016-01-18 16:51] ravage84 commented on #338
@aliceinwire could you provide more information about the environment and the phpmd version used?

[2016-01-18 17:59] aliceinwire commented on #338
PEAR Version: 1.10.1
PHP Version: 7.0.1
Zend Engine Version: 3.0.0
Running on: Windows NT 6.3 build 9600 (Windows 8.1 Professional Edition) i586

C:\xampp\php\phpmd.bat C:/Users/ITCOLL~1/AppData/Local/Temp/___0.tmp/DbAction.php xml codesize,controversial,design,naming,unusedcode

phpmd.bat
if "%PHPBIN%" == "" set PHPBIN=C:\xampp\php\.\php.exe
if not exist "%PHPBIN%" if "%PHP_PEAR_PHP_BIN%" neq ""

[2016-01-18 18:45] ravage84 commented on #338
Could be related to PHP 7, though our tests run through in Travis:
https://travis-ci.org/phpmd/phpmd/jobs/100560175

Could you re-verify your problem on PHP 5.x, please?

[2016-01-19 00:25] aliceinwire commented on #338
sorry I cannot test with php 5.x as now

[2016-01-20 15:50] manuelpichler commented on #102
PR merged into PDepend, so this will be closed with the next dependency update of PHPMD

[2016-01-20 22:38] manuelpichler commented on #338
@aliceinwire which version of pdepend did you use, because in the latest version there is already a *[fallback](https://github.com/pdepend/pdepend/blob/2.2.2/src/main/php/PDepend/Source/Language/PHP/PHPTokenizerInternal.php#L137)* for this missing constant implemented.

[2016-01-24 01:31] dolkensp commented on #124
KumbajaMyLord on Reddit has actually identified the bug that is causing this - and yes, it is a bug, even according to the spec:

https://www.reddit.com/r/programming/comments/42cf4n/on_researching_some_wacky_cyclomatic_complexity/cz9cvgl

[2016-01-25 22:01] ozkankirik opened #341 "UTF-8 variable name check problem"
PHP MD, gives error while checking UTF-8 variable names:

`The parameter $kÃ¶kYol is not named in camelCase.`

Orginal variable name is:
`$kökYol`

An option like "--encoding=utf-8" needed

[2016-01-26 06:21] Eternal-Infinity commented on #341
While this may be a bug indeed, it is a good practice not to use such special characters like ü,ö or ä in variable names, as far as I know.
In german you can write oe instead of ö for example, I don't know if this applies for turkish too.
If so, I encourage you to use oe instead of ö, which should eliminate your problem with PHPMD.
Your variable ```$kökYol``` still is valid PHP.

[2016-01-27 10:30] PierreLvx opened #342 "Support for group use declaration (PHP7)"
With PHP 7:

[Source + example code](http://php.net/manual/fr/migration70.new-features.php#migration70.new-features.group-use-declarations).

With the following code:

[code]

This happens :

[code]

[2016-01-27 11:56] keradus commented on #94
:+1:

[2016-02-04 18:22] pslocom opened #344 "phpmd.org is down"
I can't reach anything on the phpmd.org domain.  This is making it difficult to learn/use the utility and all links in the HTML reports being generated are broken

[2016-02-04 18:34] manuelpichler commented on #344
Fixed

[2016-02-04 18:34] #344 closed

[2016-02-05 11:01] chrisyue opened #345 "Development Code Fragment feature is not working"
[code]

the exit code is 0, but the File.php does contain `var_dump` and `print_r`

and the other features in design are working i think (I only test checking `die/exit`, `goto`, `eval`)

[2016-02-05 11:39] chrisyue opened #346 "UnusedPrivateField and UnusedLocalVariable doesn't support static private field"
eg:

[code]

will cause 2 violations:

[code]

which should be considered correct

[2016-02-09 14:29] jonnybarnes opened #347 "Unexpected token when using PHP7’s null coalesce operator"
`$var = $otherVar ?? 'default';` gives `Unexpected token: ??`.

[2016-02-09 15:05] ravage84 commented on #347
This should probably be fixed in PDepend.

[2016-02-11 17:53] client9 opened #348 "Please provide TLS/SSL download option"
Hello,

I noticed you are only supporting HTTP downloads.

re:
wget -c http://static.phpmd.org/php/latest/phpmd.phar

Would like to see this under https / TLS.

thanks,

nickg

[2016-02-11 18:06] client9 opened #349 "Feature request: `"string" + XXX_strerror(...)` should be detected as an error"
Hello!

Here's an idea for a new rule, that I'm 100% positive will find real bugs.

We had some networking code that was returning a  "0" for an error message.  It took while to track down.  The source the problem was the `+` instead of a `.`

[code]

This type of bug is especially bad since it's often very difficult or impossible to create a test case for, so you find this bug in the worst possib

[2016-02-11 19:08] ravage84 commented on #349
@client9 thanks for your idea.
I see your problem but creating a rule for covering such a narrow case would be an overkill.
Or better said not many will ever benefit from it.

The real problem here is that two strings are getting concatenated with the wrong operator.

My IDE, PhpStorm, for example, shows me this clearly.

![string addition](https://cloud.githubusercontent.com/assets/625761/1298701

[2016-02-12 00:22] kuczek commented on #328
+1

[2016-02-12 09:55] phoenixrises commented on #328
An update to this (as I've hit the same issue and wasn't sure how far it had gotten) seems to be that @marco-msg-ferrari submitted a [pull request](https://github.com/pdepend/pdepend/pull/234/) to pdepend which appears to have been merged into master.

[2016-02-16 10:19] carlowens commented on #328
Just to also confirm I get the same error using PHP 7.0.3-4+deb.sury.org~trusty+1.  Disabling phpmd for now.

[2016-02-19 06:08] client9 commented on #349
Hi guys,

thanks for your answer.

Ideally what I'm looking for is "PhpStorm analysis", but done via command line so it can go into a automated CI system.

That's probably NOT the goal of PHPMD, so it's ok to close this if you wish.

thanks for listening, and thanks for educating me!

regards,

n

[2016-02-22 00:34] djlambert commented on #328
+1

[2016-02-22 15:45] manuelpichler commented on #348
All the phpmd.org and static.phpmd.org traffic should now go through HTTPS.

[2016-02-22 15:45] #348 closed

[2016-02-23 16:58] elhachmi commented on #328
Same error on php 7.0.3

[2016-03-01 20:00] krzysiekpiasecki opened #351 "Unexpected tokens"
PHP: 7.0.3

Unexpected tokens founds when declaring:

use function foo
use const FOO

Log:
Unexpected token: const ...
Unexpected token: function ...

[2016-03-02 10:15] ravage84 commented on #342
Closing as it is a duplicate of https://github.com/phpmd/phpmd/issues/327

[2016-03-02 10:15] #342 closed

[2016-03-02 10:17] ravage84 commented on #351
Probably a problem of pdepend.

[2016-03-02 10:21] krzysiekpiasecki commented on #351
Actually I'm sure of it. I will report it them.

[2016-03-02 10:21] #351 closed

[2016-03-02 10:21] krzysiekpiasecki opened #352 "Unexpected tokens"
PHP: 7.0.3

Unexpected tokens founds when declaring:

use function foo
 use const FOO

Log:
 Unexpected token: const ...
 Unexpected token: function ...

[2016-03-02 10:21] #352 closed

[2016-03-02 12:02] Schodemeiss opened #353 "Unexpected token: ... in PHP 5.6"
When running phpmd-2.3.2.phar via php5.6 in CLI, I get the following token error:

Unexpected token: ...,

I guess this is the "splat" operator not being recognised?

[2016-03-02 13:49] ravage84 commented on #353
This is probably related to pdepend.
Also seems to be a duplicate of https://github.com/phpmd/phpmd/issues/279

[2016-03-02 13:49] #353 closed

[2016-03-02 19:49] kleijnweb commented on #328
Even though that PR is merged, still getting this error. Installed with:

[code]

[2016-03-03 07:22] elhachmi commented on #328
I resolve this error temporarily by this, that may not work for you, but for me is enough while waiting a real solution, you must not use php7 namespace grouped declaration.
[code]
I run this once in my local env and at each build
perhaps this bug is caused by function return type declaration, when using a custom type.

[2016-03-03 09:44] dereuromark commented on #328
We also experienced the same thing in CircleCI, locally all seems fine.

[2016-03-04 08:49] mosbth commented on #348
This made [my project's Travis build](https://travis-ci.org/mosbth/anax/jobs/113172392#L232-L246) fail.

[code]

Fixed it by adding `--no-check-certificate`.
[code]

[2016-03-04 10:32] zazoomauro commented on #328
+1

[2016-03-04 10:38] ravage84 commented on #348
@manuelpichler How about using a [Let's Encrypt](https://letsencrypt.org/) cert? I have no experience with installing it on a dedicated server or whatever you use for phpmd.org, but on our shared hosting partner's cPanel it is a breeze.

[2016-03-09 20:46] manuelpichler commented on #348
@ravage84 it is a Let's Encrypt certificate.

[2016-03-09 20:52] manuelpichler commented on #348
@ravage84 it is a Let's Encrypt certificate

Btw. the organisation mentionend in the output **Internet Widgits Pty Ltd** was never-ever used by me. It seems here something totally different was/is broken, se here https://supportforums.cisco.com/discussion/12580191/malware-other-self-signed-ssl-certificate-only-allow-source-or-destination

[2016-03-10 14:57] #328 closed

[2016-03-10 15:50] manuelpichler commented on #261
Fixed

[2016-03-10 15:50] #261 closed

[2016-03-10 16:04] manuelpichler commented on #23
To old :)

[2016-03-10 16:04] #23 closed

[2016-03-10 16:07] manuelpichler commented on #310
This is fixed in newer releases-

[2016-03-10 16:07] #310 closed

[2016-03-10 16:08] manuelpichler commented on #338
This is fixed since phpmd@2.3.3

[2016-03-10 16:08] #338 closed

[2016-03-10 16:11] manuelpichler commented on #295
Fixed since phpmd@2.3.3

[2016-03-10 16:11] #295 closed

[2016-03-10 16:12] manuelpichler commented on #280
Fixed since phpmd@2.3.3

[2016-03-10 16:12] #280 closed

[2016-03-10 16:14] manuelpichler commented on #252
I would expect this may work in a far far away future, because we don't have data flow analysis implemented.

[2016-03-10 17:10] #305 closed

[2016-03-10 17:35] manuelpichler commented on #345
Can you please provide a reproducable file for this issue

[2016-03-10 17:38] manuelpichler commented on #308
The file format for the pdepend.xml.dist file is outdated since PDepend >= 2.* You should use:

[code]

instead

[2016-03-10 17:38] #308 closed

[2016-03-10 17:39] manuelpichler commented on #294
I would expect this may work in a far far away future, because we don't have data flow analysis implemented.

[2016-03-19 19:24] ravage84 commented on #348
Yeah, I guess the problem is Travis'side.
Probably their ISP uses some caching (which would make sense as they often fetch the same stuff). That caching server might have returned a self-signed cert...

[2016-03-21 07:22] chrisyue commented on #345
@manuelpichler here is the file content:

[code]

and I also found it maybe related to the `namespace`, because it can work after I remove the line of `namespace` declaration.

[2016-03-21 14:47] keradus opened #355 "not working with pdepend/pdepend 2.0.0"
In composer.json file version `~2.0` is required.
But in 2.0.0 version fo pdepend there is `symfony/dependency-injection` required with only `@stable` version, which could be installed as 2.0.0, with does not have used class:

[code]

Please, bump pdepend to at least `^2.0.4`, whey they start to rely on `symfony/dependency-injection:^2.4`

[2016-03-21 17:36] joepetjr opened #356 "exclude not working"
phpmd 2.4.2

command line exclude not working such as;

--exclude="/home/jjpet/svnWork/225161/includes/config/" and variations without the = " and trailing /

[2016-03-22 03:20] chrisyue commented on #345
Maybe PHPMD thinks  `var_dump` is  `AppBundle\Controller\Front\var_dump`?

[2016-03-22 11:22] ravage84 commented on #345
@chrisyue  can you reduce the example to the following and still confirm the issue?

[code]

[2016-03-22 11:34] #355 closed

[2016-03-22 11:36] ravage84 commented on #356
I think we should document this properly. To my knowledge without the equals sign should be correct.

[2016-03-22 14:15] joepetjr commented on #356
a sample of the command and result are as follows, any variation of the command and the results are the same;
[~]$ phpmd --version
PHPMD 2.4.2
[~]$ phpmd ~/svnWork/jjpet_trunk20160321/includes/ text design --reportfile mdresults --exclude /home/jjpet/svnWork/jjpet_trunk20160321/includes/config/

viewing the end of mdresults file shows;
/home/jjpet/php/SystemFiles/jjpet_trunk20160321/includes/confi

[2016-03-23 02:15] chrisyue commented on #345
@ravage84 same issue, won't work until I remove `namespace`.

And it is also strange that it will show the message `The method Foo::testFoo() calls the typical debug function var_dump() which is mostly only used during development.` twice, it should show only once? Maybe it's another issue, I don't know..

[2016-03-28 14:26] intekhabrizvi commented on #336
same issue on PHP v7 (PHP 7.0.4-6+deb.sury.org~trusty+5 (cli)) also.

[2016-03-30 09:53] voksiv opened #358 "Unexpected token: ??"
Check result:
**/builds/php/phportal/beget/lib/network/lib/Reserver.php	-	Unexpected token: ??, line: 300, col: 41, file: /builds/php/phportal/beget/lib/network/lib/Reserver.php.**
Php7 feature:
**https://wiki.php.net/rfc/isset_ternary**

[2016-03-30 11:16] ravage84 commented on #358
Yep, this is already known, see https://github.com/phpmd/phpmd/issues/347

[2016-03-30 11:16] #358 closed

[2016-04-06 20:41] Jurigag commented on #288
I think ElseExpression should only happen if there is return or throw inside of it, then there are really no point of having this return/throw in else. Otherwise it should be allowed.

[2016-04-11 11:46] Dragnucs opened #360 "PHP 7 Null coalescing Operator '??' reported as an unexpected token"
The new PHP 7 operator `??` is reported as unexpected token.

[2016-04-11 13:38] ravage84 commented on #360
Thanks, this is a known issue.
I close this issue as this is a duplicate.

[2016-04-11 13:38] #360 closed

[2016-04-11 14:07] michaelherold commented on #337
This also happens when trying to suppress a short variable on a parameter. I mention it here because it seems related.

Example:

[code]

[2016-04-12 11:48] schnittstabil commented on #351
I've made a PR(https://github.com/pdepend/pdepend/pull/252) a week ago :grin:

[2016-04-13 06:53] tabishjaved03 commented on #94
+1

[2016-04-18 07:38] torkiljohnsen commented on #347
👍  Ran into this too.

[2016-04-18 09:47] keradus commented on #355
Any chances to have it released?
cc @ravage84 @phpmd-app

[2016-04-23 08:38] zhenglaizhang opened #364 "Adding the phpmd to brew cask"
First of all, thanks for the great work on the powerful tool. Recently the tool helps me a lot.

I am considering to commit to the homebrew repo to make the installation of the tool more convenient via `brew cask install phpmd`. But first of all, I want to make sure following items with you guys:

1. You guys are ok with my change to add the phpmd to brew cask
2. What's the license of the phpmd

A

[2016-04-23 12:35] ravage84 commented on #364
Hi @zhenglaizhang ,

Thanks for reaching out on us about this.

Actually I have no idea about homebrew repos or the brew tool. Never used it.
Can you give us more insight?
But anyway, I think I can answer this for @manuelpichler, too:

1. Depending on the implications of adding phpmd to brew cask, I would say we are totally fine with this. :smirk_cat:
Currently, I don't think @manuelpichler  or me

[2016-04-24 04:21] zhenglaizhang commented on #364
Hi @ravage84 ,

Thanks for the quick response and detailed info. You are so helpful -:)
homebrew is the missing package manager for OS X and is very convenient for package or app management, it's very popular and now one ecosystem. I used the brew to management almost all my OS X packages and apps. The reason why I want to add phpmd to homebrew is that I want to keep things simple and easy to mana

[2016-04-25 14:57] ravage84 commented on #364
OK, sounds good. I'm going to close this ticket now. But please keep us updated here.

[2016-04-25 14:57] #364 closed

[2016-05-03 08:49] kovacsbalu commented on #356
Same here with versions >= 2.3.1.

[2016-05-12 15:23] phackwer opened #366 "Error with PHP 5.3.3 on CentOS 6.7"
phpmd-ci:
    [phpmd] PHP Fatal error:  Can't inherit abstract function PHPMD\Rule::apply() (previously declared abstract in PHPMD\AbstractRule) in phar:///usr/bin/phpmd/src/main/php/PHPMD/AbstractRule.php on line 54

[2016-05-12 16:43] phackwer commented on #366
I found out it was the version.

[2016-05-12 16:43] #366 closed

[2016-05-17 22:39] duckbrain commented on #366
#320 References the issue with PHP 5.3.3.

[2016-05-18 03:02] webysther opened #367 "Support for i18n"
On directory [rulesets](/phpmd/phpmd/tree/master/src/main/resources/rulesets) support possibility to add another language, like  `pt-br`, `en`, `es` etc... And to use, add option `--lang pt-br`. Default is `en`.

[2016-05-18 03:14] webysther opened #368 "Ansi format output"
For CI tools, maybe formatting is must, to do something like this:

![captura de tela de 2016-05-18 00-07-46](https://cloud.githubusercontent.com/assets/750007/15346271/b2f89966-1c8c-11e6-863a-275ba61ecb37.png)

I use a simple script to parser the output text `phpmd app text phpmd.xml > phpmd.log 2>&1`

[code]

Maybe add `ansi` to available formats?

[2016-05-18 03:22] webysther opened #369 "Support for Wildcard Exceptions for StaticAccess Rule"
For laravel (and others projects) sometimes the only way is using static access, doing this i fix without turn off the check for other classes:

[code]

Is useful support pattern:

[code]

[2016-05-18 09:35] ravage84 commented on #367
Hi @Webysther  do you have a proposal how to implement that?

[2016-05-18 09:37] ravage84 commented on #368
Would that be compatible to WIndows? I'm not sure

[2016-05-18 09:39] ravage84 commented on #369
If I understand you correctly, you want to support for the ``*`` character as a wildcard.

I think that would be useful.

[2016-05-18 14:35] Webysther commented on #369
Yes. 😃

[2016-05-18 14:37] Webysther commented on #368
Well, i don't need support Windows, in your case i do no how make this possible, but, using library for cli support like composer use do this easily.

[2016-05-18 14:38] Webysther commented on #367
Not clear at all, but i fork and create one, ok?

[2016-05-18 14:52] ravage84 commented on #369
Would you be willing to create a pull request?

[2016-05-18 14:54] Webysther commented on #369
Yes.

[2016-05-18 14:54] ravage84 commented on #368
phpmd needs to stay compatible to Windows.
Yes, may be an external library could provide the necessary logic.

Would you be willing to create a pull request?

[2016-05-18 14:55] ravage84 commented on #367
Yes, please fork PHPMD and create a pull request. We can have a look at your implementation proposal then.

[2016-05-18 14:55] Webysther commented on #368
Yes, too.

[2016-05-19 07:15] MarcFRICOU commented on #347
same problem

[2016-05-23 21:22] zachrattner commented on #347
Confirmed for me too.

[2016-05-23 23:43] zachrattner opened #370 "Access to function/method comments?"
I'd like to write a rule that checks function and method comments. But the field doesn't seem to be populated properly.

For example, given this function in my source code, I'd like to extract the block comment and analyze it.

[code]

PDepend's [`ASTNode`](https://github.com/pdepend/pdepend/blob/master/src/main/php/PDepend/Source/AST/ASTNode.php) (the superclass for AbstractNode) has this method:

[2016-05-27 00:32] avindra opened #371 "UnusedLocalVariable false positive when variable inlined in string"
Example:

[code]

This results in `$test` being reported as unused, whereas in reality it is being used.

[2016-05-27 05:08] tyler36 commented on #347
Confirmed for me too.

[2016-05-29 12:13] JeroenDeDauw opened #372 "Uncaught TypeError: Argument 1 passed to PDepend\Source"
[code]

    vendor/bin/phpmd tests/ text phpmd.xml

[code]

We get this error when running PHPMD against our tests. Not when running against the production code. Presumably this is some PHP7 problem.

[2016-05-29 12:17] JeroenDeDauw commented on #347
Confirmed with PHPMD 2.4.3

[2016-05-29 12:18] JeroenDeDauw commented on #327
This is a duplicate of https://github.com/phpmd/phpmd/issues/279

[2016-05-29 12:19] JeroenDeDauw commented on #279
Is there a way to suppress this error, for instance by disabling some inspection?

[2016-05-29 12:36] ravage84 commented on #327
@JeroenDeDauw it's related but not a full duplicate, that's why I keep it open. Thanks for noting.

[2016-05-29 12:38] ravage84 commented on #279
I guess you would need to exclude the file for the moment, @JeroenDeDauw

[2016-05-29 12:47] ravage84 commented on #372
@JeroenDeDauw thanks for reporting. As it seems though, the call starts in pdepend. Could you re-open the bug report [there](https://github.com/pdepend/pdepend/issues), please?

[2016-05-29 12:47] #372 closed

[2016-05-29 13:00] JeroenDeDauw commented on #327
Apparently I misread this issue. Indeed not a duplicate at all

[2016-05-29 13:03] JeroenDeDauw commented on #279
Thanks for the quick reply.

I know that can be done with ` --exclude`. Is it possible to list the files to exclude in the XML config?

[2016-05-29 13:22] ravage84 commented on #102
Close as https://github.com/phpmd/phpmd/commit/eb7dfeea78ae8d9a09198c7aebbb96d1dd3ecd72 has been merged into 2.4.3

[2016-05-29 13:22] #102 closed

[2016-05-29 13:29] ravage84 opened #373 "Document "exclude-pattern" feature"
Implemented in 2.1.0, it was not documented though.

https://github.com/phpmd/phpmd/pull/100
https://github.com/phpmd/phpmd/blob/7c293efb29c54f10398e4c9667043c0c3342e1a7/CHANGELOG#L238
https://github.com/phpmd/phpmd/blob/7c293efb29c54f10398e4c9667043c0c3342e1a7/src/test/resources/files/rulesets/exclude-pattern.xml#L21
http://pmd.sourceforge.net/pmd-5.0.4/howtomakearuleset.html#Excluding_files_from

[2016-05-29 13:30] ravage84 commented on #279
@JeroenDeDauw thanks for asking. Funny enough, it actually seems there is, though it's kind of undocumented.

https://github.com/phpmd/phpmd/pull/100
https://github.com/phpmd/phpmd/blob/7c293efb29c54f10398e4c9667043c0c3342e1a7/CHANGELOG#L238
https://github.com/phpmd/phpmd/blob/7c293efb29c54f10398e4c9667043c0c3342e1a7/src/test/resources/files/rulesets/exclude-pattern.xml#L21
http://pmd.sourceforge.

[2016-05-29 14:25] JeroenDeDauw commented on #373
Is this the correct way to exclude multiple things?

[code]

[2016-05-29 14:29] ravage84 commented on #373
I doubt it, try providing a comma divided list of paths

[2016-06-14 08:42] bmxevsy opened #374 "Null coalescing operator error using php 7"
According to the new feature in php 7

PHPMD provides an error:
**Unexpected token: ??**

Could it be fixed?

[2016-06-14 08:58] ravage84 commented on #374
Thanks for reporting.
Duplicate of https://github.com/phpmd/phpmd/issues/347

[2016-06-14 08:58] #374 closed

[2016-06-14 15:51] mikebronner commented on #230
I'm seeing this issue as well in version 2.4.3 in the following instance:

[code]

[2016-06-14 18:48] andykais opened #375 "unique identifier to distinguish from pmd"
The output xml files of PMD and PHPMD tools are almost identical. Without knowing which program generated them, it is programatically tricky to identify which tool the file derived from. Would you consider changing the top level `<pmd></pmd>` tag to `<phpmd></phpmd>`? A unique attribute like `tool="phpmd"` would work just as well.

Currently, the best identifier I see is `version="@project.version

[2016-06-14 18:49] offsides commented on #282
That is actually (technically) correct.  The first function has 3 possible paths:  The first if gives one path if it's true, or two paths if it's false (inside the else).  The second function has 4 possible paths (2 for each if) because the return is not accounted for by the NPath calculation (return has the same effect as a goto - it sends you elsewhere, and thus is not really calculable).

The i

[2016-06-14 19:06] offsides commented on #124
It's a bug in how PDepend calculates the NPath of the ternary operator: https://github.com/pdepend/pdepend/issues/261

[2016-06-14 19:59] adamculp opened #376 "Faulty phar SHA512 signature verification"
When attempting to use the phpmd.phar with PHP 7 via CLI I receive the following error:

[code]

[2016-06-15 05:58] EvgenyUnvsoft commented on #282
Thanks for your explanation

[2016-06-15 05:58] #282 closed

[2016-06-22 20:51] alberto56 opened #377 "How to debug an exit code of 137?"
Hi,

I am running phpmd on a large codebase (the Drupal project) and it is dying with 137:

     cd /repo && phpmd . xml cleancode
     The command '/bin/sh -c cd /repo && phpmd . xml cleancode' returned a non-zero code: 137

Smaller sample codebases work fine. I am running this in a docker container.

How would you suggest debugging this?

Thanks!

Albert.

[2016-06-22 21:13] alberto56 commented on #377
root@56e956202ef5:/repo# phpmd . xml cleancode
    Killed
    root@56e956202ef5:/repo# phpmd ./modules/user xml cleancode
    ...

phpmd ./modules/user xml cleancode works fine, but it seems that the entire codebase might be too big.

[2016-06-22 22:31] ravage84 commented on #377
Hi @alberto56, could you please try it with the phar file instead to verify the problem?

[2016-06-27 11:42] ravage84 commented on #376
Duplicate of #332

[2016-06-27 11:42] #376 closed

[2016-06-27 11:44] ravage84 commented on #375
Changing the tag would be a backward incompatible change.
Adding an attribute seems safe to me, though.

The last answer I cannot answer you.
May be @manuelpichler can.

[2016-06-27 11:49] ravage84 commented on #370
Haven't looked into it yet, but may be [phpcs](https://github.com/squizlabs/PHP_CodeSniffer) is the more appropriate tool for that... :thought_balloon:

[2016-06-27 11:51] ravage84 commented on #369
@Webysther are you still interested in creating a PR for this? I would appreciate it. :smile_cat:

[2016-06-27 11:52] ravage84 commented on #368
@Webysther are you still interested in creating a PR for this? I would appreciate it. :smile_cat:

[2016-06-27 11:58] ravage84 commented on #321
@mindplay-dk  are you still interested in creating a PR for this? I would appreciate it. :smile_cat:

[2016-06-27 12:00] ravage84 commented on #317
@alexboss what is your current stance on this feature request?

[2016-06-27 12:05] ravage84 commented on #298
Duplicate of #294

[2016-06-27 12:05] #298 closed

[2016-06-27 12:22] ravage84 commented on #288
Agree with @Jurigag.

Improving the docs *and* only raise a violation if the else is really superfluous, seems to me the right way.

This way, the rule can stay in clean code and should not be considered controversial.

[2016-06-27 12:26] ravage84 commented on #286
@skyzyx I don't think there is. Hacklang is a sub-/superset of PHP and supporting it alongside with PHP would be a PITA, especially since it is in active development.

[2016-06-27 12:26] #286 closed

[2016-06-27 12:27] #284 closed

[2016-06-27 12:35] ravage84 commented on #279
I think this should be resolved by now, as https://github.com/pdepend/pdepend/issues/202 was merged.
But I guess we could add a regression test in phpmd for the variadic function.

[2016-06-27 12:39] ravage84 commented on #262
Constructive PRs are always welcomed.

[2016-06-27 12:39] #262 closed

[2016-06-27 12:41] Jurigag commented on #288
Also there is some case like this:

[code]

Some people would say that else is necessary. Well we can remove it by just setting $a and $b to null before if, but not sure if it's good way, for me code like this would look kind of weird, not sure how to handle something like this.

[2016-06-27 12:47] ravage84 commented on #248
Closing as https://github.com/phpmd/phpmd/pull/273 was merged.

[2016-06-27 12:47] #248 closed

[2016-06-27 12:48] ravage84 commented on #247
Feel free to provide a PR that improves the flexibility of the testing suite.

[2016-06-27 12:57] ravage84 commented on #234
Funny enough, I don't see the difference between those two rules:

https://github.com/phpmd/phpmd/blob/2.4.3/src/main/php/PHPMD/Rule/Design/LongMethod.php#L86
https://github.com/phpmd/phpmd/blob/2.4.3/src/main/php/PHPMD/Rule/Design/NpathComplexity.php#L78

Can you re-try it with the most current version, please?

[2016-06-27 13:01] ravage84 commented on #288
Since I guess the detection could become quite complex for more advanced situation, I currently would only raise a violation for clear situations like with a return or throw.

We then could add another rule like ``AdvancedElseExpression`` or simply ``ElseExpression`` but in the controversional folder...

[2016-06-27 13:06] ravage84 commented on #230
Duplicate of or at least related to #252

[2016-06-27 13:06] #230 closed

[2016-06-27 13:06] Jurigag commented on #288
Yea, but still there should be check if we can simplify if to ternary operator.

[2016-06-27 13:11] ravage84 commented on #231
@bkdotcom or @internalsystemerror, if you want, you could create a PR with a new rule that covers this.

I would name it like ``ClassNamedMethod`` and would place it into the [naming folder](https://phpmd.org/rules/index.html#naming-rules).

[2016-06-27 13:15] ravage84 commented on #288
I don't se the benefit of this check. Or better said, I don't see the relaton between tenary operator and the current ElseExpression rule. Can you elaborate more on that?

[2016-06-27 13:26] ravage84 commented on #45
@manuelpichler reopen this if you stronlgy feel about this feature but I don't really see it.

[2016-06-27 13:26] #45 closed

[2016-06-27 13:27] Jurigag commented on #288
I mean currently if we have if else which can be simplified to ternary operator is obviously detected. But if we want to change it to some limited area like throw/return i think it should check too if we can simplify to ternary operator. I mean conditional operator/shorthand if as well(`?` as well `?:`)

[2016-06-27 13:40] ravage84 commented on #75
I'm closing this as I think one should lint the files first before checking them with PHPMD.

[2016-06-27 13:40] #75 closed

[2016-06-27 13:41] #76 closed

[2016-06-27 13:45] ravage84 commented on #377
Probably related to #99

[2016-06-27 13:46] ravage84 commented on #99
It seems to be a resource related problem on the executing machine.
If one of you is interested in tweaking the memory consumption of either phpmd or pdepend, you are very welcome.

[2016-06-27 13:46] #99 closed

[2016-06-27 13:52] #125 closed

[2016-06-27 13:52] #127 closed

[2016-06-27 13:54] mindplay-dk commented on #321
@ravage84 I'm interested, but I don't really have the time - too many other projects...

[2016-06-27 13:55] ravage84 commented on #62
Agree, this could be useful. A PR is welcome.

[2016-06-27 13:56] ravage84 commented on #142
Related to #107

[2016-06-27 13:59] ravage84 commented on #107
There is a property named ``ignore-whitespace`` to ignore the whitespace.
https://phpmd.org/rules/codesize.html

Another property for ignoring the doc blocks or all comments in general could be useful for some, I guess.

[2016-06-27 14:00] ravage84 commented on #142
There is a property named ``ignore-whitespace`` to ignore the whitespace.
https://phpmd.org/rules/codesize.html

[2016-06-27 14:00] #142 closed

[2016-06-27 14:02] ravage84 commented on #321
Easy, take your time. It's not going away, I guess :smirk_cat:

[2016-06-27 14:05] ravage84 commented on #149
I totally see your problems, but I don't think we get there any soon.
If you are interested in providing a PR, you are welcome.

[2016-06-27 14:05] #151 closed

[2016-06-27 14:07] #155 closed

[2016-06-27 14:08] ravage84 commented on #171
I could see that as a CLI option or rule set property, but it seems to be rather an edge use case.

[2016-06-27 14:21] ravage84 commented on #176
@r0w4n feel free to create a PR with a rule named like ``NestedTenary`` under the Design Rules which implements this

[2016-06-27 14:22] ravage84 commented on #185
@kid-icarus feel free to create a PR which implements this.

[2016-06-27 14:24] #194 closed

[2016-06-27 17:07] r0w4n commented on #176
Alas I'm not a php dev anyone :(

On Mon, 27 Jun 2016, 15:21 Marc Würth, <notifications@github.com> wrote:

[2016-06-28 12:03] JeroenDeDauw commented on #279
https://github.com/pdepend/pdepend/issues/202 is a ticket that was closed while none of the linked PRs where merged. Did you mean to link something else?

[2016-06-28 12:12] ravage84 commented on #279
@JeroenDeDauw pdepend/pdepend#202 was closed through https://github.com/pdepend/pdepend/commit/dff2547f0073e04aa6d7d0895ba2cc94deda20ac

[2016-06-28 14:14] alexboss commented on #317
HI @ravage84 , thanks for your feedback. It's a nice-to-have feature, but we can live without it at the moment, there's really no rush.

[2016-06-28 19:24] Webysther commented on #368
@ravage84 Yes, this weekend i start a PR WIP.

[2016-06-28 19:25] Webysther commented on #369
Yes, for the next week, please. Sorry.

[2016-06-29 21:34] kid-icarus commented on #185
lol I don't use php anymore. good luck!

[2016-06-30 11:24] torkiljohnsen commented on #345
I can confirm this issue.

[2016-06-30 11:31] torkiljohnsen commented on #33
We just past the 4 year anniversary for this issue! 🎺 🎵

***bump***

[2016-07-04 10:11] maerten opened #384 ""use" statement for functions returns in "Unexpected token""
This code:

[code]

gives:

[code]

[2016-07-05 20:41] FGM commented on #347
Still present in today's dev head.

[2016-07-09 05:50] marcusesa commented on #347
😞

[2016-07-12 09:34] UnnikrishnanBhargavakurup opened #385 "Taking too much memeory"
It is taking too much memory, showing "PHP Fatal error:  Allowed memory size of ...", how we can fix this?

[2016-07-12 09:37] ravage84 commented on #385
Without more, specific, helpful information, nobody will be able to help you.

[2016-07-13 08:08] rocketlatotzky commented on #346
same for protected:

[code]
causes unused local variable warning:

[code]
Tested in 2.3.2

[code]

[2016-07-13 08:43] rocketlatotzky commented on #325
confirmed in 2.3.2

[2016-07-14 15:23] relaxnow commented on #320
So you're saying that PHPMD requires PHP 5.3.9 but you won't set your minimum required version because...?
PHP 5.3.3 is supported by Red Hat. Yes it sucks using such an ancient buggy version, but hiding your dependency on a slightly less broken PHP version is not helping.

[2016-07-16 04:01] sourcerer-mike opened #388 "Bad code: Definitions in bad places"
I've seen code where named functions are defined within functions. Same with constants.

This lead to some "already defined" errors that breaks the application. But only when you use the outer function twice or more.

Looking up functions, classes and constants that were defined in functions could solve the problem. This shall not be allowed or marked as bad code.

[2016-07-18 18:13] torkiljohnsen opened #389 "Unexpected token: EMPTY"
PHPMD does not let me use a class constant called `EMPTY`. Sample:

[code]

I suspect it's being too strict since "As of PHP 7.0.0 these keywords are allowed as as property, constant, and method names of classes, interfaces and traits, except that class may not be used as constant name."

http://php.net/manual/en/reserved.keywords.php

[2016-07-25 12:48] lgoral commented on #347
I think problem is with missing   TOKEN_PARSE for token_get_all in https://github.com/pdepend/pdepend/blob/master/src/main/php/PDepend/Source/Language/PHP/PHPTokenizerInternal.php#L651

[code]

[2016-07-27 08:09] notflip commented on #336
Any update on this? Same issue on 7.0.3

[2016-07-31 07:21] kamranahmedse opened #390 "Unused Local Variable warning"
I am getting unused local variable for `$appId = $order['app_id'] ?? 0;` warning on below code.

[code]

While you can see that `$appId` is being used in two places, once at `Constants::DEFAULT_APP_URLS[$appId]` and second in the `$request->orderDetail` array i.e. `'app_id' => $appId`.

Also, I am getting the similar error for `$dataset` in the below code

[code]

[2016-08-02 12:50] bartosz-maciaszek commented on #279
I'm still having this issue on PHPMD 2.4.3 (PHP 7.0.x). Any news on it?

[2016-08-03 12:55] aaajeetee opened #391 "Coupling: property comments result in extra coupling"
I noticed a bug in the CoupingBetweenObjects rule.

Given these 2 examples.
Test.php

[code]

Test2.php:

[code]

and ruleset.xml:

[code]

Executing these 2 commands gives different results:

[code]

As you can see, the only difference is the var annotation at the properties. These vars are identical to the imports (use ...) at the top.
If I put the full path in the var annotation (like '\OtherNa

[2016-08-04 15:35] jhoff opened #392 "Incorrect property name used for CouplingBetweenObjects"
https://phpmd.org/rules/design.html#couplingbetweenobjects

| Name | Default Value | Description |
| --- | --- | --- |
| minimum | 13 | Maximum number of acceptable dependencies. |

Pretty sure the property name should be `maximum` not `minimum`

Note: This isn't a documentation error. Using `maximum` has no effect. To set the `maximum` you have to declare the `minimum`

[2016-08-04 16:48] ravage84 commented on #392
Hey @jhoff thanks for the report. Could you open a PR to fix that?

[2016-08-04 21:16] jhoff commented on #392
Sure... out of curiosity, do you have any estimates on the next release?

[2016-08-05 14:54] bkdotcom opened #393 "Assignment within conditional rule?"
I was just on http://www.reddit.com/r/phphelp where a rookie didn't know why his code wasn't working.      They had committed the 'ol `=` vs `==` mistake

[code]

We've all done it.  It's always more elusive to track down than it should be.

Candidate for a ["design" rule](https://phpmd.org/rules/design.html)?

There are multiple cases where no warning is warranted - such as when getting the resul

[2016-08-09 14:52] thiagotalma commented on #33
:birthday:

[2016-08-15 20:07] AntonShevel commented on #279
I'm having the same issue with PHP 5.6.18 and PHPMD 2.4.3
`Unexpected token: ..., line: 73, col: 46, file:`

[2016-08-19 20:01] zippy1981 commented on #224
Here is another example of this where it happens with double quotes, but not single quotes:

https://github.com/zippy1981/phpmd_bugs/tree/compactBug

[2016-08-20 18:46] stephenharris commented on #279
I'm having this issue too (PHPMD 2.4.3, PDepend 2.2.4). It seems PDepend fixed this for the use of the `...` token in declarations, but not in function calls. See: https://github.com/pdepend/pdepend/issues/204

There's no patch yet, but the ticket is marked for the 2.3.0 release.

[2016-08-26 12:08] sebastienbarre commented on #174
Just curious about this one too. I agree with @flip111 I think this would be very valuable for us working on large, self-contained applications, while transitioning to a full code-coverage via tests.

[2016-08-26 13:31] flip111 commented on #393
Good candidate for a warning with low priority. Would not warn in case where a boolean operator is used such as `===` or `and`.

[2016-09-05 06:34] yoosefi opened #394 "(v2.4.3) Unexpected token: __TRAIT__"
The `__TRAIT__` magic constant is not recognized.

![screenshot from 2016-09-04 23 33 02](https://cloud.githubusercontent.com/assets/2010434/18239162/2d385b50-72f8-11e6-92e6-34fb15392559.png)

[code]

[2016-09-05 12:33] bartosz-maciaszek commented on #279
A similar error occurs when phpmd hits `??`.
`Unexpected token: ??, line: x, col: y, file: z`

[2016-09-06 07:56] suzuken commented on #385
I got fatal error in FileCacheDriver.php in large projects.

[code]

[code]

Does it not recommend to use `phpmd` for the directory which includes many files? FYI, we have about 700 PHP files and 110,000 lines.

[2016-09-06 10:35] ravage84 commented on #385
@suzuken if I got that right, you use 128 MB as memory limit.
I guess it's OK, if PHPMD uses more than that for so many files with so many lines in total.
Please, try to increase your memory limit to 256 MB and try it again.

Let's see if that's enough.

[2016-09-06 10:55] suzuken commented on #385
Ah yes, it's fixed by increasing memory limit. (tested 128MB -> 1280M)

2016-09-06 19:35 GMT+09:00 Marc Würth <notifications@github.com>:

--
////////////////////////////////////////////////////////
鈴木健太
suzuken326@gmail.com
http://blog.kentasuzuki.net
////////////////////////////////////////////////////////

[2016-09-06 11:00] ravage84 commented on #385
Can you try to decrease the memory limit, so we know where it breaks?
Would be nice to know

[2016-09-06 12:10] suzuken commented on #385
I've tested each memory limits.

* 250MB -> failed.
* 300MB -> OK. Works fine.

I think so too. It works fine. If it can release memory after processing each file, it's better (but I don't know phpmd internel implementation, so it depends.)

[2016-09-06 12:33] ravage84 commented on #385
@suzuken feel free if you have an idea to improve the memory footprint of PHPMD (or pdepend, which is used internally).

[2016-09-07 14:31] maxmeffert opened #396 "False positive clean code static access for Static Factory Methods"
Hi,
I'm getting false positive warnings from clean code static access for Static Factory Methods, e.g.:
[code]
[code]
I don't know whether this is intended or not.

[2016-09-07 15:44] ravage84 commented on #396
Are you using the [StaticAccess rule](https://phpmd.org/rules/cleancode.html)? If so, then this is correct and to be expected.

[2016-09-07 15:44] #396 closed

[2016-09-08 13:02] zavalit opened #397 "Unexpected token: ..."
it can not check the spread operator "..." in case it is used in a method call.

[code]

[2016-09-08 15:42] ravage84 commented on #397
Closing, duplicate of #279

[2016-09-08 15:42] #397 closed

[2016-09-08 17:06] maxmeffert commented on #396
Hi,
thanks for the advice.
As you've might have guessed, i'm new to phpmd.
The **StaticAccess** description says:
[code]
So i assume now, the objective of this rule is to detect **static dependency injections** only, correct?
Personally, i don't consider access to **stateless** static methods particularly harmful.

Regards.

[2016-09-12 13:28] madnight opened #398 "Wording Error in Ruleset Documentation at phpmd.org/rules/index.html"
"Design Rules: The **Code Size** Ruleset contains a collection of rules that find software design related problems."

Should be:

Design Rules: The **Design** Ruleset contains a collection of rules that find software design related problems.

[2016-09-12 16:06] #398 closed

[2016-09-12 16:07] ravage84 commented on #398
Resolved in https://github.com/phpmd/phpmd/commit/c51ea72761fdaf38c1787658f07e2d20b1141ae0

Thanks for reporting!

[2016-09-15 08:36] Isinlor opened #399 "GPLv3 WCV documentation and BSD"
Hello, I have small concern about licensing of this library.

Is it ok for this library to use Web Content Viewer licensed on GPLv3 while library itself is on BSD license? I can see that you are using WCV code eg. in ezt templates and to my best knowledge it would enforce GPLv3.

Can I be assured that it was taken into consideration and this library is not de facto on GPLv3 license?

Thanks for he

[2016-09-15 10:32] ravage84 commented on #399
@manuelpichler can you say something about the licensing concerns, mentioned above?

[2016-09-15 12:41] ravage84 commented on #396
Well, PHPMD is a static analysis tool. Means it has limited access in what and how it can analyze it.
Even though the documentation states what you should do, that does not mean that the tool can distinguish between those cases when analysing some code.

For you, this means you should make use of the rules' exception list as documented [here](https://phpmd.org/rules/cleancode.html#StaticAccess):

[2016-09-15 16:03] maxmeffert commented on #396
Hi,
I did some more reading and I'm quite pleased with PHPMD now.
I was just confused by the StaticAccess description above.

However, after looking at the code, I don't think the CleanCode rules produce helpful results.
At least not for me.

For instance StaticAccess literally only scans for static method calls.
I think this is quite questionable, since **stateless**/**side-effect-free** static m

[2016-09-15 17:25] ravage84 commented on #396
Most of the rules are very strict and analyze the code in a very simplistic way, thus producing potentially many false positives.
This is not totally unwanted, as you rather want to see too much, instead of risking seeing too few.

When you have (potential) false positives, you have a look at them and then decide in each case, whether this is a candidate for refactoring or if you have an actual fa

[2016-09-16 06:27] manuelpichler commented on #399
@Isinlor you can be sure that the usage of WCV is totally okay here.

a) Because we only have *.ezt templates and *.ini files in our code base, no source code from wcv
b) The core developer of wcv is one of my best friends

/cc @ravage84

[2016-09-16 06:27] #399 closed

[2016-09-20 09:50] MatissJanis commented on #347
This issue has been fixed on PDepend. Can a new PHPMD version be released with this fix?

[2016-09-21 13:45] buskamuza commented on #391
Looks like the same as https://github.com/pdepend/pdepend/issues/210

[2016-09-21 14:08] ravage84 commented on #391
@buskamuza it probably is, as PHPMD depends on pdepend for various metrics.

[2016-09-23 07:19] mosbth opened #400 "Unexpected token ** (pow alternative in 5.6)"
Unexpected token when using the *\* operator.
http://php.net/manual/en/language.operators.arithmetic.php

[code]

[2016-09-27 11:24] schinkel opened #401 "UnusedLocalVariable false positive for $http_response_header"
Whenever `file_get_contents` is being called [`$http_response_header`](http://php.net/manual/en/reserved.variables.httpresponseheader.php) will be available in the local scope.

This is falsely seen as UnusedLocalVariable violation in the following example code:

[code]

I use PHPMD 2.4.3.

[2016-10-01 16:05] wandersonwhcr commented on #347
:+1:

[2016-10-05 02:48] jcherniak opened #403 "Cannot suppress warnings for unused local variables for anonymous functions"
It does not seem possible to add code hints in order to suppress warnings for unused local variables in anonymous functions.

I have the following code:

[code]

I cannot seem to suppress the warning for not using $param1.  I can't remove it since it is needed for the callback signature to match, but I cannot suppress the warning in any way.

I tried:

[code]

[code]

[code]
## Expected behavior

[2016-10-13 08:03] torkiljohnsen commented on #347
Still awaiting new PDepend release perhaps?

[2016-10-14 14:25] quentincurtet opened #404 "Generate JSON report"
Hi,

I'm using the latest version of PHPMD, but i can't use the command line to generate json report for violations.

Is it possible or not yet ?

Best regards.

[2016-10-14 21:07] ravage84 commented on #404
Hi @quentincurtet

Thank you for your question.

It seems it is not yet possible:
https://github.com/phpmd/phpmd/tree/2.4.3/src/main/php/PHPMD/Renderer

As you see there is no JSON renderer.

If you like, you could implement one and create a PR.
We can discuss how such a renderer could look/work here in this issue.

[2016-10-15 18:18] exploitfate commented on #404
Hi Marc,
Should `JsonRenderer` use [json-ext](http://php.net/manual/en/json.installation.php) or own implementation for encoding violations and errors? I prefer to use core json extension and add it to composer require section.

I suggest the next report format:
[code]

[2016-10-16 23:15] exploitfate commented on #404
Json report looks like [json_renderer_expected.json](https://github.com/exploitfate/phpmd/blob/add-json-renderer/src/test/resources/files/renderer/json_renderer_expected.json)

[2016-10-17 07:12] #404 closed

[2016-10-18 11:56] RusAlex opened #406 "class method name `list` does not work"
{file} - Unexpected token: list

[2016-10-18 13:06] exploitfate commented on #406
It's PHP Mess Detector, not *JavaScript*.

[2016-10-18 16:34] greg0ire opened #407 "Detect empty catch blocks"
Hello,

this is a feature request to detect empty catch blocks. I'm talking about this kind of practice:

[code]

[2016-10-19 13:43] alfirin commented on #336
[code]

[code]

[2016-10-19 16:02] mechagear commented on #336
Check symlink at /etc/php/7.0/cli/ it points the wrong mods-available directory (/etc/php/mods-available instead of /etc/php/7.0/mods-available where bz2.ini is located)

[2016-11-02 11:19] #406 closed

[2016-11-02 11:20] ravage84 commented on #407
Hi @greg0ire, nice idea, could be useful.
Are you willing to put up a PRf or this?

[2016-11-02 11:21] ravage84 commented on #407
Sorry, misclicked.

[2016-11-02 11:28] greg0ire commented on #407
Yes I am :)

[2016-11-02 11:40] ravage84 commented on #407
Try to find a similar rule and look how it was implemented.
Unfortunately, we have no "how to implement a rule" guide.
Might be a good addition, though.

Anyway, what rule set would you put it in?

[2016-11-02 11:51] greg0ire commented on #407
Guess I'll add things to CONTRIBUTING.md if this turns out to be difficult then ;)

"design" seems the most well-suited for that, isn't it?

[2016-11-02 11:53] ravage84 commented on #407
@greg0ire, you can add things to CONTRIBUTING.md in a separate PR.

[2016-11-02 11:58] ravage84 commented on #407
@greg0ire due to the lack of any better rule set, I'm fine with Design, though if we ever create a PHPMD, we might reorganize these rule sets :smirk_cat:

[2016-11-02 12:10] greg0ire commented on #407
Yeah design seems a bit vague… also, is adding a new rule considered a BC-break? It might make some test suites suddenly fail, right?

[2016-11-02 12:22] ravage84 commented on #407
Well, it could be seen a such by some.
But we will release this rule in 2.5.0 or another minor release.
According to SemVer adding functionality in a minor release is OK.
I'm fine with this situation, but thanks for caring.

[2016-11-04 00:01] juliangut opened #409 "SuppressWarnings for ExcessivePublicCount"
Warning suppression for [ExcessivePublicCount](https://phpmd.org/rules/codesize.html#excessivepubliccount) doesn't seem to be working properly at least for static methods

[code]

[2016-11-04 13:41] ravage84 commented on #409
Have you tried ``TooManyPublicMethods`` instead?

[2016-11-04 13:55] juliangut commented on #409
Indeed it works @ravage84

Anyway shouldn't ExcessivePublicCount work as well? Maybe not in my case as this class only has public static methods and no attribute at all?

[2016-11-04 14:04] ravage84 commented on #409
I guess it should and suppression should work, too.

Can you try to suppress everthing for testing?

[code]

[2016-11-04 16:59] juliangut commented on #409
I tried and `@SuppressWarnings(PHPMD)` does suppress the warning

[2016-11-04 17:05] ravage84 commented on #409
Odd, either the whole suppression does not work for you or something else is broken.
Can you try to replicate it on another machine etc.?

Try to suppress some other case, e.g. short variable name.

[2016-11-04 17:49] juliangut commented on #409
I've made a quick test class with lots of code smells to test the all this suppressions

[code]

Among all of them the only one that doesn't suppress the warning is `@SuppressWarnings(PHPMD.ExcessivePublicCount)`, don't think it has anything to do with my machine

[2016-11-11 16:32] MisterGlass commented on #347
Has anyone found an interim fix? I have a new PHP7 codebase and want to turn on PHPMD, but I cant until it support the new operators.

[2016-11-16 08:31] fracz commented on #317
+1

[2016-11-17 16:44] BentCoder commented on #48
This is my build.xml block.

[code]

I have the changes from https://github.com/phpmd/phpmd/pull/198 as I'm using `phpmd/phpmd 2.2.3` 5eeb5a4d39c8304910b33ae49f8813905346cc35 however my phpmd.xml still contains plenty of `UnusedFormalParameter` violations.

Am I missing something here?

[2016-11-21 09:07] webaaz commented on #347
:+1:

[2016-11-22 08:51] azzeddinefaik commented on #347
same in here any fix for this ?

[2016-11-22 13:18] wandersonwhcr commented on #347
Até que enfim!

We have a new PDEPEND tag since March!

Please, update your composers! :smile:

[2016-11-22 13:19] wandersonwhcr commented on #347
https://github.com/pdepend/pdepend/releases/tag/2.2.6

[2016-11-22 13:54] azzeddinefaik commented on #347
$ phpmd ./src  xml cleancode   --reportfile ./testphp.xml --suffixes php    > testphpmd.log
PHP Warning:  Module 'mongodb' already loaded in Unknown on line 0
PHP PDepend\Source\Parser\UnexpectedTokenException:  Unexpected token: ??, line: 217, col: 42, file: /Users/azzeddinefaik/Workspace/php-test/mongodm/src/Collection.php. in phar:///usr/local/bin/phpmd/vendor/pdepend/pdepend/src/main/php/PDepe

[2016-11-22 13:57] wandersonwhcr commented on #347
Please, run: `composer outdated | grep pdepend` and post results here.

[2016-11-22 14:09] azzeddinefaik commented on #347
$ pdepend --version
PHP Warning:  Module 'mongodb' already loaded in Unknown on line 0

Warning: Module 'mongodb' already loaded in Unknown on line 0
PDepend 2.2.6

[2016-11-22 14:13] wandersonwhcr commented on #347
I think your installation of PHPMD is a `phar`. Again, I think the `phpmd.phar` have a `pdepend` installation internally and still with version `2.2.4`.

If you use Composer, you simply need to update your `composer.phar` with `composer update pdepend/pdepend`.

[2016-11-22 14:35] jonnybarnes commented on #347
`pdepend` v2.2.6 fixes this

[2016-11-22 14:35] #347 closed

[2016-11-22 15:30] MisterGlass commented on #347
Confirmed. Not sure why I have 2.2.4 (my project is newer than the 2.2.6 release) but I forced an update with `composer update pdepend/pdepend` and it works now. Thanks!

[2016-11-22 15:38] #400 closed

[2016-11-22 15:40] oligriffiths commented on #65
Hey, what's the state of play with this? I notice it keeps getting milestone bumped, seems like a very useful rule.

[2016-11-22 15:56] azzeddinefaik commented on #347
pdepend fixed thanks @wandersonwhcr , but I got new error

16
PHP OutOfBoundsException:  Property "exceptions" does not exist. in /Users/azzeddinefaik/.composer/vendor/phpmd/phpmd/src/main/php/PHPMD/AbstractRule.php on line 380
PHP Stack trace:

[2016-11-22 16:36] wandersonwhcr commented on #347
@azzeddinefaik I'm sorry, but with this error I can't help you.

Please, search if another issue has your problem or create a new one.

[2016-11-23 09:41] juliangut commented on #409
An update. I've just tried with another project in several different machines and definitively `@SuppressWarnings(PHPMD.ExcessivePublicCount)` is not working

[2016-11-23 11:13] ravage84 commented on #65
@oligriffiths you are welcome to contribute a PR.

[2016-11-23 12:10] ravage84 commented on #409
Thanks for the feedback.
Tried to track down the suppression code by looking at the classes. Didn't find anything.
I guess I will need to debug it.
Not sure when I have time for that.

[2016-11-23 14:53] pilgerone opened #411 "(v2.4.4) Unexpected token: list"
`public function list()`

causes a

`Unexpected token: list`

[2016-11-23 15:03] ravage84 commented on #411
[pdepend issues 171](https://github.com/pdepend/pdepend/issues/171)

[2016-11-23 19:59] #389 closed

[2016-11-23 19:59] #411 closed

[2016-11-24 13:25] mermshaus opened #413 "Link in website footer (phpmd.org) to Web Content Viewer is outdated"
Hi.

The WCV link in the footer on phpmd.org points to a parking page.

Best, Marc

Edit: Also not sure about the GPLv3 mentioned there. It doesn’t seem to be the active license for phpmd.

[2016-11-24 14:46] quentincurtet opened #414 "Can't exclude a folder test"
Hi,

I want PHPMD in my project, but i don't want it in my test folder.
I tried with `<exclude-pattern>*/myFolder/*</exclude-pattern>`

But it didn't work.

Can someone help me ?

[2016-11-24 18:11] ravage84 commented on #414
Actually I  am not sure if we support the asterisk sign...
We really should document this feature #373...

[2016-11-25 08:12] quentincurtet commented on #414
So what is the answer ?

[2016-11-25 08:43] quentincurtet commented on #414
Because, even with the links you gave, i can't solve my problem.

[2016-11-25 10:41] ravage84 commented on #414
May be this helsp:
http://pmd.sourceforge.net/pmd-5.0.4/howtomakearuleset.html#Excluding_files_from_a_ruleset

Test file:
https://github.com/phpmd/phpmd/blob/2.5.0/src/test/resources/files/rulesets/exclude-pattern.xml

Related PR:
https://github.com/phpmd/phpmd/pull/100

[2016-11-25 10:41] #414 closed

[2016-11-27 16:06] azzeddinefaik opened #415 "PHP OutOfBoundsException: Property "exceptions" does not exist. in"
PHP OutOfBoundsException:  Property "exceptions" does not exist. in /Users/azzeddinefaik/.composer/vendor/phpmd/phpmd/src/main/php/PHPMD/AbstractRule.php on line 380
PHP Stack trace:
PHP   1. {main}() /Users/azzeddinefaik/.composer/vendor/phpmd/phpmd/src/bin/phpmd:0
PHP   2. PHPMD\TextUI\Command::main() /Users/azzeddinefaik/.composer/vendor/phpmd/phpmd/src/bin/phpmd:122
PHP   3. PHPMD\TextUI\Comma

[2016-11-29 14:26] josephdpurcell commented on #37
+1

[2016-11-29 14:26] josephdpurcell commented on #94
+1

[2016-11-29 14:29] alfredbez commented on #94
Please use [GitHub Reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments)

[2016-11-29 14:32] josephdpurcell commented on #94
I think #37 would be an acceptable way to show progress.

To me, a lack of logging/debug reporting is itself a bug. PHPMD is an important part of the PHP software community, and if something goes wrong and there's no error/indication what is going on, you cannot use PHPMD. I just ran PHPMD and after 104 mins I still have no sign of life from PHPMD.

I am working on debugging PHPMD timeouts on Code

[2016-12-01 17:36] ravage84 opened #417 "Revisit the AppVeyor builds"
Currently, the AppVeyor builds seem to break.

We should have a look at that.

Might help:
https://blog.wyrihaximus.net/2016/11/running-php-unit-tests-on-windows-using-appveyor-and-chocolatey/

[2016-12-02 17:35] blurayne opened #420 "Mess detection for unintentonal assigments in foreach"
It's not the first time I encounter something like the following.

So far this is a special case:

[code]

[2016-12-05 11:23] ravage84 commented on #420
@blurayne could you please reformat your code for better readability? Please don't paste the REPL output or whatever this is.

In what situations would you emit a PHPMD violation?
Would you like to create a PR to implement such a rule?

[2016-12-06 13:40] bskridaila opened #421 "Unexpected token: NEW"
Hello,

From PHP 7.0.0 such keyword - NEW is completely fine to use, as well as others are now valid to use that were forbidden/reserved by prior PHP versions from a given [list](http://php.net/manual/en/reserved.keywords.php)

currently used versions:
phpmd - 2.5.0
pdepend - 2.3.2

[2016-12-07 10:42] ravage84 commented on #421
Honestly, I'm not sure if this is not a mess in itself. But since the language allows it, people will use it and if people will use it, PHPMD would trip over it, so it needs to support it. *sigh*

@manuelpichler am I right and this needs to be done in pdepend, instead?

[2016-12-07 10:42] #421 closed

[2016-12-07 23:43] irfane opened #422 "Support for 7.1 nullable types"
Fatal error: Uncaught TypeError: Argument 1 passed to PDepend\Source\AST\AbstractASTCallable::addChild() must implement interface PDepend\Source\AST\ASTNode, null given, called in vendor/pdepend/pdepend/src/main/php/PDepend/Source/Language/PHP/PHPParserVersion70.php on line 97 and defined in vendor/pdepend/pdepend/src/main/php/PDepend/Source/AST/AbstractASTCallable.php:143

I get this error when p

[2016-12-08 10:16] ravage84 commented on #422
This needs to be done in Pdepend.

[2016-12-08 10:16] #422 closed

[2016-12-08 21:36] andriiosmak opened #423 "PHP Warnings and Errors after migration to PHP 7.1"
After migration to PHP 7.1 i have received PHP errors and warnings.
Log can be found here.
https://travis-ci.org/andriiosmak/laravel-layer-sdk/builds/182400993

[2016-12-09 12:06] ravage84 commented on #423
Please [open an issue for pdepend](https://github.com/pdepend/pdepend/issues/).

[2016-12-09 12:06] #423 closed

[2016-12-09 12:46] marcelloh opened #424 "Foreach: UnusedLocalVariable $value (since #48) is closed"
Hi,

I'm getting error (Avoid unused local variables such as '$value'.) on this kind of code.
[code]
I think this is still a bug

There is change:
Allow unused foreach variables #198
but it is either not in the l;atest lease, or it is not fixing what it should.

[2016-12-09 17:21] Arcanemagus commented on #417
From what I can see the builds are failing due to trying to install the KB2919355 and KB2919442 patches, and not properly handling the "already installed" error code they return of `1058`.

I'm pretty sure this is an issue with the Chocolatey package itself.

[2016-12-09 17:44] ravage84 commented on #417
@Arcanemagus thanks for the feedback. You seem to be quite knowledgable about this. Would you want to try to fix it?

[2016-12-09 17:48] Arcanemagus commented on #417
I'm not sure there is anything we _can_ do to fix it (I'm seeing this on my `linter-phpmd` and `linter-phpcs` builds), since the issue is in the Chocolatey script. I've sent in a message to the author of that Chocolatey package, hopefully this can be resolved there soon as I _really_ don't want to have to mess with installing it manually again 😛.

[2016-12-12 17:27] machadoit opened #425 "Collaboration with Codacy"
Hi there, João Machado from [Codacy](https://www.codacy.com) here.

We have a PHPMD integration, so that everyone that uses our website can get PHP static analysis. You can check it at https://github.com/codacy/codacy-phpmd.

Would you guys be interested on mentioning us as proud users of PHP Mess Detector? You can also add your phpmd at Codacy to check it out, we are free for open source projects

[2016-12-12 18:51] ravage84 commented on #425
Hi @machadoit

Glad you like PHPMD.

Can you give us a quick explanation in how Codacy is different to/better than other tools, such as Scrutinizer CI?

[2016-12-12 19:29] machadoit commented on #425
We do provide the same kind of features of other tools, however we do support a lot of languages, and are really open source friendly. Our open source users have access to every single feature of our product for free.

Each tool integration is made with dockers, and any user can create a docker for a language that we don't support yet, and suddenly we will have support for it. As an example of a t

[2016-12-12 19:42] ravage84 commented on #425
We are quite busy right now.
When I get the time, I'll have a look. Probably not before spring 2017.

[2016-12-12 21:07] Arcanemagus commented on #417
Haven't heard anything back, and as I don't like merging anything that causes `master` to fail I'm putting the changes from this into place: https://github.com/AtomLinter/linter-phpcs/pull/219

I'm _sure_ there are better ways to get PHP installed on AppVeyor manually, but this hacked together thing works for the moment if you were interested.

[2016-12-12 22:05] Arcanemagus commented on #417
Okay, after a bit more testing and some help from people on the Chocolatey gitter, I've updated the linked PR above to a method that lets us still use the package, but ensures it will actually work properly.

Do you want a PR here implementing that?

[2016-12-13 10:28] machadoit commented on #425
Thank you, if you guys are interested, I can create a PR for your website, with a new section like "Users" or "Integrations", where tools like Codacy could be referenced. Otherwise we will just postpone it till mid 2017.

[2016-12-14 10:03] viorelgheba opened #427 "Can't inherit abstract function PHPMD\Rule::apply()"
Hi,

We get the following fatal error when executing phpmd:
Fatal error: Can't inherit abstract function PHPMD\Rule::apply() (previously declared abstract in PHPMD\AbstractRule) in /home/viorel.gheba/eis/ieis/vendor/phpmd/phpmd/src/main/php/PHPMD/AbstractRule.php on line 54

We use phpmd 2.4.2 on CentOS 6 with php 5.3.3.

[2016-12-14 13:43] #417 closed

[2016-12-14 13:46] ravage84 commented on #427
If I get that right, it's a problem with your PHP version:

http://stackoverflow.com/questions/17525620/php-fatal-error-cant-inherit-abstract-function

Try to upgrade to a more recent (still stupported) version of PHP, if you can.

[2016-12-14 13:46] #427 closed